:host,
:root {
  --cfe-scheme-color--body: #ffffff;
  --cfe-scheme-color--text: #1b2025;
  --cfe-scheme-color--one: #d40055;
  --cfe-scheme-color--two: #ff297d;
  --cfe-scheme-color--three: #750093;
  --cfe-scheme-color--four: #a900d2;
  --cfe-scheme-color--five: #0eab8c;
  --cfe-scheme-color--six: #00e0b4;
  --cfe-scheme-color--body--dark: #1b2025;
  --cfe-scheme-color--text--dark: #ffffff;
  --cfe-scheme-color--one--dark: #ff297d;
  --cfe-scheme-color--two--dark: #d40055;
  --cfe-scheme-color--three--dark: #a900d2;
  --cfe-scheme-color--four--dark: #750093;
  --cfe-scheme-color--five--dark: #0eab8c;
  --cfe-scheme-color--six--dark: #00e0b4;
}