:host,
:root {
  --cfe-scheme-video--body: #ffffff;
  --cfe-scheme-video--text: #1b2025;
  --cfe-scheme-video--one: #d40055;
  --cfe-scheme-video--two: #ff297d;
  --cfe-scheme-video--three: #750093;
  --cfe-scheme-video--four: #a900d2;
  --cfe-scheme-video--five: #0eab8c;
  --cfe-scheme-video--six: #00e0b4;
  --cfe-scheme-video--body--dark: #1b2025;
  --cfe-scheme-video--text--dark: #ffffff;
  --cfe-scheme-video--one--dark: #ff297d;
  --cfe-scheme-video--two--dark: #d40055;
  --cfe-scheme-video--three--dark: #a900d2;
  --cfe-scheme-video--four--dark: #750093;
  --cfe-scheme-video--five--dark: #0eab8c;
  --cfe-scheme-video--six--dark: #00e0b4;
}

.cfe-video.body {
  color: var(--cfe--video--body);
}
.cfe-video.body-bg {
  background-color: var(--cfe--video--body);
}
.cfe-video.body-decoration {
  text-decoration-color: var(--cfe--video--body);
}
.cfe-video.body-emphasis {
  -webkit-text-emphasis-color: var(--cfe--video--body);
          text-emphasis-color: var(--cfe--video--body);
}
.cfe-video.body-accent {
  accent-color: var(--cfe--video--body);
}
.cfe-video.body-caret {
  caret-color: var(--cfe--video--body);
}
.cfe-video.body-border {
  border-color: var(--cfe--video--body);
}
.cfe-video.body-outline {
  outline-color: var(--cfe--video--body);
}
.cfe-video.body-rule {
  rule-color: var(--cfe--video--body);
}
.cfe-video.body-column-rule {
  -moz-column-rule-color: var(--cfe--video--body);
       column-rule-color: var(--cfe--video--body);
}
.cfe-video.body-row-rule {
  row-rule-color: var(--cfe--video--body);
}
.cfe-video.body-fill {
  fill: var(--cfe--video--body);
}
.cfe-video.body-text-fill {
  -webkit-text-fill-color: var(--cfe--video--body);
  text-fill-color: var(--cfe--video--body);
}
.cfe-video.body-stroke {
  stroke: var(--cfe--video--body);
}
.cfe-video.body-text-stroke {
  -webkit-text-stroke-color: var(--cfe--video--body);
  text-stroke-color: var(--cfe--video--body);
}
.cfe-video.body-flood {
  flood-color: var(--cfe--video--body);
}
.cfe-video.body-stop {
  stop-color: var(--cfe--video--body);
}
.cfe-video.text {
  color: var(--cfe--video--text);
}
.cfe-video.text-bg {
  background-color: var(--cfe--video--text);
}
.cfe-video.text-decoration {
  text-decoration-color: var(--cfe--video--text);
}
.cfe-video.text-emphasis {
  -webkit-text-emphasis-color: var(--cfe--video--text);
          text-emphasis-color: var(--cfe--video--text);
}
.cfe-video.text-accent {
  accent-color: var(--cfe--video--text);
}
.cfe-video.text-caret {
  caret-color: var(--cfe--video--text);
}
.cfe-video.text-border {
  border-color: var(--cfe--video--text);
}
.cfe-video.text-outline {
  outline-color: var(--cfe--video--text);
}
.cfe-video.text-rule {
  rule-color: var(--cfe--video--text);
}
.cfe-video.text-column-rule {
  -moz-column-rule-color: var(--cfe--video--text);
       column-rule-color: var(--cfe--video--text);
}
.cfe-video.text-row-rule {
  row-rule-color: var(--cfe--video--text);
}
.cfe-video.text-fill {
  fill: var(--cfe--video--text);
}
.cfe-video.text-text-fill {
  -webkit-text-fill-color: var(--cfe--video--text);
  text-fill-color: var(--cfe--video--text);
}
.cfe-video.text-stroke {
  stroke: var(--cfe--video--text);
}
.cfe-video.text-text-stroke {
  -webkit-text-stroke-color: var(--cfe--video--text);
  text-stroke-color: var(--cfe--video--text);
}
.cfe-video.text-flood {
  flood-color: var(--cfe--video--text);
}
.cfe-video.text-stop {
  stop-color: var(--cfe--video--text);
}
.cfe-video.one {
  color: var(--cfe--video--one);
}
.cfe-video.one-bg {
  background-color: var(--cfe--video--one);
}
.cfe-video.one-decoration {
  text-decoration-color: var(--cfe--video--one);
}
.cfe-video.one-emphasis {
  -webkit-text-emphasis-color: var(--cfe--video--one);
          text-emphasis-color: var(--cfe--video--one);
}
.cfe-video.one-accent {
  accent-color: var(--cfe--video--one);
}
.cfe-video.one-caret {
  caret-color: var(--cfe--video--one);
}
.cfe-video.one-border {
  border-color: var(--cfe--video--one);
}
.cfe-video.one-outline {
  outline-color: var(--cfe--video--one);
}
.cfe-video.one-rule {
  rule-color: var(--cfe--video--one);
}
.cfe-video.one-column-rule {
  -moz-column-rule-color: var(--cfe--video--one);
       column-rule-color: var(--cfe--video--one);
}
.cfe-video.one-row-rule {
  row-rule-color: var(--cfe--video--one);
}
.cfe-video.one-fill {
  fill: var(--cfe--video--one);
}
.cfe-video.one-text-fill {
  -webkit-text-fill-color: var(--cfe--video--one);
  text-fill-color: var(--cfe--video--one);
}
.cfe-video.one-stroke {
  stroke: var(--cfe--video--one);
}
.cfe-video.one-text-stroke {
  -webkit-text-stroke-color: var(--cfe--video--one);
  text-stroke-color: var(--cfe--video--one);
}
.cfe-video.one-flood {
  flood-color: var(--cfe--video--one);
}
.cfe-video.one-stop {
  stop-color: var(--cfe--video--one);
}
.cfe-video.two {
  color: var(--cfe--video--two);
}
.cfe-video.two-bg {
  background-color: var(--cfe--video--two);
}
.cfe-video.two-decoration {
  text-decoration-color: var(--cfe--video--two);
}
.cfe-video.two-emphasis {
  -webkit-text-emphasis-color: var(--cfe--video--two);
          text-emphasis-color: var(--cfe--video--two);
}
.cfe-video.two-accent {
  accent-color: var(--cfe--video--two);
}
.cfe-video.two-caret {
  caret-color: var(--cfe--video--two);
}
.cfe-video.two-border {
  border-color: var(--cfe--video--two);
}
.cfe-video.two-outline {
  outline-color: var(--cfe--video--two);
}
.cfe-video.two-rule {
  rule-color: var(--cfe--video--two);
}
.cfe-video.two-column-rule {
  -moz-column-rule-color: var(--cfe--video--two);
       column-rule-color: var(--cfe--video--two);
}
.cfe-video.two-row-rule {
  row-rule-color: var(--cfe--video--two);
}
.cfe-video.two-fill {
  fill: var(--cfe--video--two);
}
.cfe-video.two-text-fill {
  -webkit-text-fill-color: var(--cfe--video--two);
  text-fill-color: var(--cfe--video--two);
}
.cfe-video.two-stroke {
  stroke: var(--cfe--video--two);
}
.cfe-video.two-text-stroke {
  -webkit-text-stroke-color: var(--cfe--video--two);
  text-stroke-color: var(--cfe--video--two);
}
.cfe-video.two-flood {
  flood-color: var(--cfe--video--two);
}
.cfe-video.two-stop {
  stop-color: var(--cfe--video--two);
}
.cfe-video.three {
  color: var(--cfe--video--three);
}
.cfe-video.three-bg {
  background-color: var(--cfe--video--three);
}
.cfe-video.three-decoration {
  text-decoration-color: var(--cfe--video--three);
}
.cfe-video.three-emphasis {
  -webkit-text-emphasis-color: var(--cfe--video--three);
          text-emphasis-color: var(--cfe--video--three);
}
.cfe-video.three-accent {
  accent-color: var(--cfe--video--three);
}
.cfe-video.three-caret {
  caret-color: var(--cfe--video--three);
}
.cfe-video.three-border {
  border-color: var(--cfe--video--three);
}
.cfe-video.three-outline {
  outline-color: var(--cfe--video--three);
}
.cfe-video.three-rule {
  rule-color: var(--cfe--video--three);
}
.cfe-video.three-column-rule {
  -moz-column-rule-color: var(--cfe--video--three);
       column-rule-color: var(--cfe--video--three);
}
.cfe-video.three-row-rule {
  row-rule-color: var(--cfe--video--three);
}
.cfe-video.three-fill {
  fill: var(--cfe--video--three);
}
.cfe-video.three-text-fill {
  -webkit-text-fill-color: var(--cfe--video--three);
  text-fill-color: var(--cfe--video--three);
}
.cfe-video.three-stroke {
  stroke: var(--cfe--video--three);
}
.cfe-video.three-text-stroke {
  -webkit-text-stroke-color: var(--cfe--video--three);
  text-stroke-color: var(--cfe--video--three);
}
.cfe-video.three-flood {
  flood-color: var(--cfe--video--three);
}
.cfe-video.three-stop {
  stop-color: var(--cfe--video--three);
}
.cfe-video.four {
  color: var(--cfe--video--four);
}
.cfe-video.four-bg {
  background-color: var(--cfe--video--four);
}
.cfe-video.four-decoration {
  text-decoration-color: var(--cfe--video--four);
}
.cfe-video.four-emphasis {
  -webkit-text-emphasis-color: var(--cfe--video--four);
          text-emphasis-color: var(--cfe--video--four);
}
.cfe-video.four-accent {
  accent-color: var(--cfe--video--four);
}
.cfe-video.four-caret {
  caret-color: var(--cfe--video--four);
}
.cfe-video.four-border {
  border-color: var(--cfe--video--four);
}
.cfe-video.four-outline {
  outline-color: var(--cfe--video--four);
}
.cfe-video.four-rule {
  rule-color: var(--cfe--video--four);
}
.cfe-video.four-column-rule {
  -moz-column-rule-color: var(--cfe--video--four);
       column-rule-color: var(--cfe--video--four);
}
.cfe-video.four-row-rule {
  row-rule-color: var(--cfe--video--four);
}
.cfe-video.four-fill {
  fill: var(--cfe--video--four);
}
.cfe-video.four-text-fill {
  -webkit-text-fill-color: var(--cfe--video--four);
  text-fill-color: var(--cfe--video--four);
}
.cfe-video.four-stroke {
  stroke: var(--cfe--video--four);
}
.cfe-video.four-text-stroke {
  -webkit-text-stroke-color: var(--cfe--video--four);
  text-stroke-color: var(--cfe--video--four);
}
.cfe-video.four-flood {
  flood-color: var(--cfe--video--four);
}
.cfe-video.four-stop {
  stop-color: var(--cfe--video--four);
}
.cfe-video.five {
  color: var(--cfe--video--five);
}
.cfe-video.five-bg {
  background-color: var(--cfe--video--five);
}
.cfe-video.five-decoration {
  text-decoration-color: var(--cfe--video--five);
}
.cfe-video.five-emphasis {
  -webkit-text-emphasis-color: var(--cfe--video--five);
          text-emphasis-color: var(--cfe--video--five);
}
.cfe-video.five-accent {
  accent-color: var(--cfe--video--five);
}
.cfe-video.five-caret {
  caret-color: var(--cfe--video--five);
}
.cfe-video.five-border {
  border-color: var(--cfe--video--five);
}
.cfe-video.five-outline {
  outline-color: var(--cfe--video--five);
}
.cfe-video.five-rule {
  rule-color: var(--cfe--video--five);
}
.cfe-video.five-column-rule {
  -moz-column-rule-color: var(--cfe--video--five);
       column-rule-color: var(--cfe--video--five);
}
.cfe-video.five-row-rule {
  row-rule-color: var(--cfe--video--five);
}
.cfe-video.five-fill {
  fill: var(--cfe--video--five);
}
.cfe-video.five-text-fill {
  -webkit-text-fill-color: var(--cfe--video--five);
  text-fill-color: var(--cfe--video--five);
}
.cfe-video.five-stroke {
  stroke: var(--cfe--video--five);
}
.cfe-video.five-text-stroke {
  -webkit-text-stroke-color: var(--cfe--video--five);
  text-stroke-color: var(--cfe--video--five);
}
.cfe-video.five-flood {
  flood-color: var(--cfe--video--five);
}
.cfe-video.five-stop {
  stop-color: var(--cfe--video--five);
}
.cfe-video.six {
  color: var(--cfe--video--six);
}
.cfe-video.six-bg {
  background-color: var(--cfe--video--six);
}
.cfe-video.six-decoration {
  text-decoration-color: var(--cfe--video--six);
}
.cfe-video.six-emphasis {
  -webkit-text-emphasis-color: var(--cfe--video--six);
          text-emphasis-color: var(--cfe--video--six);
}
.cfe-video.six-accent {
  accent-color: var(--cfe--video--six);
}
.cfe-video.six-caret {
  caret-color: var(--cfe--video--six);
}
.cfe-video.six-border {
  border-color: var(--cfe--video--six);
}
.cfe-video.six-outline {
  outline-color: var(--cfe--video--six);
}
.cfe-video.six-rule {
  rule-color: var(--cfe--video--six);
}
.cfe-video.six-column-rule {
  -moz-column-rule-color: var(--cfe--video--six);
       column-rule-color: var(--cfe--video--six);
}
.cfe-video.six-row-rule {
  row-rule-color: var(--cfe--video--six);
}
.cfe-video.six-fill {
  fill: var(--cfe--video--six);
}
.cfe-video.six-text-fill {
  -webkit-text-fill-color: var(--cfe--video--six);
  text-fill-color: var(--cfe--video--six);
}
.cfe-video.six-stroke {
  stroke: var(--cfe--video--six);
}
.cfe-video.six-text-stroke {
  -webkit-text-stroke-color: var(--cfe--video--six);
  text-stroke-color: var(--cfe--video--six);
}
.cfe-video.six-flood {
  flood-color: var(--cfe--video--six);
}
.cfe-video.six-stop {
  stop-color: var(--cfe--video--six);
}
.cfe-video.body-dark {
  color: var(--cfe--video--body--dark);
}
.cfe-video.body-bg-dark {
  background-color: var(--cfe--video--body--dark);
}
.cfe-video.body-decoration-dark {
  text-decoration-color: var(--cfe--video--body--dark);
}
.cfe-video.body-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--video--body--dark);
          text-emphasis-color: var(--cfe--video--body--dark);
}
.cfe-video.body-accent-dark {
  accent-color: var(--cfe--video--body--dark);
}
.cfe-video.body-caret-dark {
  caret-color: var(--cfe--video--body--dark);
}
.cfe-video.body-border-dark {
  border-color: var(--cfe--video--body--dark);
}
.cfe-video.body-outline-dark {
  outline-color: var(--cfe--video--body--dark);
}
.cfe-video.body-rule-dark {
  rule-color: var(--cfe--video--body--dark);
}
.cfe-video.body-column-rule-dark {
  -moz-column-rule-color: var(--cfe--video--body--dark);
       column-rule-color: var(--cfe--video--body--dark);
}
.cfe-video.body-row-rule-dark {
  row-rule-color: var(--cfe--video--body--dark);
}
.cfe-video.body-fill-dark {
  fill: var(--cfe--video--body--dark);
}
.cfe-video.body-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--video--body--dark);
  text-fill-color: var(--cfe--video--body--dark);
}
.cfe-video.body-stroke-dark {
  stroke: var(--cfe--video--body--dark);
}
.cfe-video.body-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--video--body--dark);
  text-stroke-color: var(--cfe--video--body--dark);
}
.cfe-video.body-flood-dark {
  flood-color: var(--cfe--video--body--dark);
}
.cfe-video.body-stop-dark {
  stop-color: var(--cfe--video--body--dark);
}
.cfe-video.text-dark {
  color: var(--cfe--video--text--dark);
}
.cfe-video.text-bg-dark {
  background-color: var(--cfe--video--text--dark);
}
.cfe-video.text-decoration-dark {
  text-decoration-color: var(--cfe--video--text--dark);
}
.cfe-video.text-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--video--text--dark);
          text-emphasis-color: var(--cfe--video--text--dark);
}
.cfe-video.text-accent-dark {
  accent-color: var(--cfe--video--text--dark);
}
.cfe-video.text-caret-dark {
  caret-color: var(--cfe--video--text--dark);
}
.cfe-video.text-border-dark {
  border-color: var(--cfe--video--text--dark);
}
.cfe-video.text-outline-dark {
  outline-color: var(--cfe--video--text--dark);
}
.cfe-video.text-rule-dark {
  rule-color: var(--cfe--video--text--dark);
}
.cfe-video.text-column-rule-dark {
  -moz-column-rule-color: var(--cfe--video--text--dark);
       column-rule-color: var(--cfe--video--text--dark);
}
.cfe-video.text-row-rule-dark {
  row-rule-color: var(--cfe--video--text--dark);
}
.cfe-video.text-fill-dark {
  fill: var(--cfe--video--text--dark);
}
.cfe-video.text-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--video--text--dark);
  text-fill-color: var(--cfe--video--text--dark);
}
.cfe-video.text-stroke-dark {
  stroke: var(--cfe--video--text--dark);
}
.cfe-video.text-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--video--text--dark);
  text-stroke-color: var(--cfe--video--text--dark);
}
.cfe-video.text-flood-dark {
  flood-color: var(--cfe--video--text--dark);
}
.cfe-video.text-stop-dark {
  stop-color: var(--cfe--video--text--dark);
}
.cfe-video.one-dark {
  color: var(--cfe--video--one--dark);
}
.cfe-video.one-bg-dark {
  background-color: var(--cfe--video--one--dark);
}
.cfe-video.one-decoration-dark {
  text-decoration-color: var(--cfe--video--one--dark);
}
.cfe-video.one-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--video--one--dark);
          text-emphasis-color: var(--cfe--video--one--dark);
}
.cfe-video.one-accent-dark {
  accent-color: var(--cfe--video--one--dark);
}
.cfe-video.one-caret-dark {
  caret-color: var(--cfe--video--one--dark);
}
.cfe-video.one-border-dark {
  border-color: var(--cfe--video--one--dark);
}
.cfe-video.one-outline-dark {
  outline-color: var(--cfe--video--one--dark);
}
.cfe-video.one-rule-dark {
  rule-color: var(--cfe--video--one--dark);
}
.cfe-video.one-column-rule-dark {
  -moz-column-rule-color: var(--cfe--video--one--dark);
       column-rule-color: var(--cfe--video--one--dark);
}
.cfe-video.one-row-rule-dark {
  row-rule-color: var(--cfe--video--one--dark);
}
.cfe-video.one-fill-dark {
  fill: var(--cfe--video--one--dark);
}
.cfe-video.one-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--video--one--dark);
  text-fill-color: var(--cfe--video--one--dark);
}
.cfe-video.one-stroke-dark {
  stroke: var(--cfe--video--one--dark);
}
.cfe-video.one-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--video--one--dark);
  text-stroke-color: var(--cfe--video--one--dark);
}
.cfe-video.one-flood-dark {
  flood-color: var(--cfe--video--one--dark);
}
.cfe-video.one-stop-dark {
  stop-color: var(--cfe--video--one--dark);
}
.cfe-video.two-dark {
  color: var(--cfe--video--two--dark);
}
.cfe-video.two-bg-dark {
  background-color: var(--cfe--video--two--dark);
}
.cfe-video.two-decoration-dark {
  text-decoration-color: var(--cfe--video--two--dark);
}
.cfe-video.two-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--video--two--dark);
          text-emphasis-color: var(--cfe--video--two--dark);
}
.cfe-video.two-accent-dark {
  accent-color: var(--cfe--video--two--dark);
}
.cfe-video.two-caret-dark {
  caret-color: var(--cfe--video--two--dark);
}
.cfe-video.two-border-dark {
  border-color: var(--cfe--video--two--dark);
}
.cfe-video.two-outline-dark {
  outline-color: var(--cfe--video--two--dark);
}
.cfe-video.two-rule-dark {
  rule-color: var(--cfe--video--two--dark);
}
.cfe-video.two-column-rule-dark {
  -moz-column-rule-color: var(--cfe--video--two--dark);
       column-rule-color: var(--cfe--video--two--dark);
}
.cfe-video.two-row-rule-dark {
  row-rule-color: var(--cfe--video--two--dark);
}
.cfe-video.two-fill-dark {
  fill: var(--cfe--video--two--dark);
}
.cfe-video.two-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--video--two--dark);
  text-fill-color: var(--cfe--video--two--dark);
}
.cfe-video.two-stroke-dark {
  stroke: var(--cfe--video--two--dark);
}
.cfe-video.two-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--video--two--dark);
  text-stroke-color: var(--cfe--video--two--dark);
}
.cfe-video.two-flood-dark {
  flood-color: var(--cfe--video--two--dark);
}
.cfe-video.two-stop-dark {
  stop-color: var(--cfe--video--two--dark);
}
.cfe-video.three-dark {
  color: var(--cfe--video--three--dark);
}
.cfe-video.three-bg-dark {
  background-color: var(--cfe--video--three--dark);
}
.cfe-video.three-decoration-dark {
  text-decoration-color: var(--cfe--video--three--dark);
}
.cfe-video.three-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--video--three--dark);
          text-emphasis-color: var(--cfe--video--three--dark);
}
.cfe-video.three-accent-dark {
  accent-color: var(--cfe--video--three--dark);
}
.cfe-video.three-caret-dark {
  caret-color: var(--cfe--video--three--dark);
}
.cfe-video.three-border-dark {
  border-color: var(--cfe--video--three--dark);
}
.cfe-video.three-outline-dark {
  outline-color: var(--cfe--video--three--dark);
}
.cfe-video.three-rule-dark {
  rule-color: var(--cfe--video--three--dark);
}
.cfe-video.three-column-rule-dark {
  -moz-column-rule-color: var(--cfe--video--three--dark);
       column-rule-color: var(--cfe--video--three--dark);
}
.cfe-video.three-row-rule-dark {
  row-rule-color: var(--cfe--video--three--dark);
}
.cfe-video.three-fill-dark {
  fill: var(--cfe--video--three--dark);
}
.cfe-video.three-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--video--three--dark);
  text-fill-color: var(--cfe--video--three--dark);
}
.cfe-video.three-stroke-dark {
  stroke: var(--cfe--video--three--dark);
}
.cfe-video.three-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--video--three--dark);
  text-stroke-color: var(--cfe--video--three--dark);
}
.cfe-video.three-flood-dark {
  flood-color: var(--cfe--video--three--dark);
}
.cfe-video.three-stop-dark {
  stop-color: var(--cfe--video--three--dark);
}
.cfe-video.four-dark {
  color: var(--cfe--video--four--dark);
}
.cfe-video.four-bg-dark {
  background-color: var(--cfe--video--four--dark);
}
.cfe-video.four-decoration-dark {
  text-decoration-color: var(--cfe--video--four--dark);
}
.cfe-video.four-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--video--four--dark);
          text-emphasis-color: var(--cfe--video--four--dark);
}
.cfe-video.four-accent-dark {
  accent-color: var(--cfe--video--four--dark);
}
.cfe-video.four-caret-dark {
  caret-color: var(--cfe--video--four--dark);
}
.cfe-video.four-border-dark {
  border-color: var(--cfe--video--four--dark);
}
.cfe-video.four-outline-dark {
  outline-color: var(--cfe--video--four--dark);
}
.cfe-video.four-rule-dark {
  rule-color: var(--cfe--video--four--dark);
}
.cfe-video.four-column-rule-dark {
  -moz-column-rule-color: var(--cfe--video--four--dark);
       column-rule-color: var(--cfe--video--four--dark);
}
.cfe-video.four-row-rule-dark {
  row-rule-color: var(--cfe--video--four--dark);
}
.cfe-video.four-fill-dark {
  fill: var(--cfe--video--four--dark);
}
.cfe-video.four-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--video--four--dark);
  text-fill-color: var(--cfe--video--four--dark);
}
.cfe-video.four-stroke-dark {
  stroke: var(--cfe--video--four--dark);
}
.cfe-video.four-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--video--four--dark);
  text-stroke-color: var(--cfe--video--four--dark);
}
.cfe-video.four-flood-dark {
  flood-color: var(--cfe--video--four--dark);
}
.cfe-video.four-stop-dark {
  stop-color: var(--cfe--video--four--dark);
}
.cfe-video.five-dark {
  color: var(--cfe--video--five--dark);
}
.cfe-video.five-bg-dark {
  background-color: var(--cfe--video--five--dark);
}
.cfe-video.five-decoration-dark {
  text-decoration-color: var(--cfe--video--five--dark);
}
.cfe-video.five-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--video--five--dark);
          text-emphasis-color: var(--cfe--video--five--dark);
}
.cfe-video.five-accent-dark {
  accent-color: var(--cfe--video--five--dark);
}
.cfe-video.five-caret-dark {
  caret-color: var(--cfe--video--five--dark);
}
.cfe-video.five-border-dark {
  border-color: var(--cfe--video--five--dark);
}
.cfe-video.five-outline-dark {
  outline-color: var(--cfe--video--five--dark);
}
.cfe-video.five-rule-dark {
  rule-color: var(--cfe--video--five--dark);
}
.cfe-video.five-column-rule-dark {
  -moz-column-rule-color: var(--cfe--video--five--dark);
       column-rule-color: var(--cfe--video--five--dark);
}
.cfe-video.five-row-rule-dark {
  row-rule-color: var(--cfe--video--five--dark);
}
.cfe-video.five-fill-dark {
  fill: var(--cfe--video--five--dark);
}
.cfe-video.five-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--video--five--dark);
  text-fill-color: var(--cfe--video--five--dark);
}
.cfe-video.five-stroke-dark {
  stroke: var(--cfe--video--five--dark);
}
.cfe-video.five-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--video--five--dark);
  text-stroke-color: var(--cfe--video--five--dark);
}
.cfe-video.five-flood-dark {
  flood-color: var(--cfe--video--five--dark);
}
.cfe-video.five-stop-dark {
  stop-color: var(--cfe--video--five--dark);
}
.cfe-video.six-dark {
  color: var(--cfe--video--six--dark);
}
.cfe-video.six-bg-dark {
  background-color: var(--cfe--video--six--dark);
}
.cfe-video.six-decoration-dark {
  text-decoration-color: var(--cfe--video--six--dark);
}
.cfe-video.six-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--video--six--dark);
          text-emphasis-color: var(--cfe--video--six--dark);
}
.cfe-video.six-accent-dark {
  accent-color: var(--cfe--video--six--dark);
}
.cfe-video.six-caret-dark {
  caret-color: var(--cfe--video--six--dark);
}
.cfe-video.six-border-dark {
  border-color: var(--cfe--video--six--dark);
}
.cfe-video.six-outline-dark {
  outline-color: var(--cfe--video--six--dark);
}
.cfe-video.six-rule-dark {
  rule-color: var(--cfe--video--six--dark);
}
.cfe-video.six-column-rule-dark {
  -moz-column-rule-color: var(--cfe--video--six--dark);
       column-rule-color: var(--cfe--video--six--dark);
}
.cfe-video.six-row-rule-dark {
  row-rule-color: var(--cfe--video--six--dark);
}
.cfe-video.six-fill-dark {
  fill: var(--cfe--video--six--dark);
}
.cfe-video.six-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--video--six--dark);
  text-fill-color: var(--cfe--video--six--dark);
}
.cfe-video.six-stroke-dark {
  stroke: var(--cfe--video--six--dark);
}
.cfe-video.six-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--video--six--dark);
  text-stroke-color: var(--cfe--video--six--dark);
}
.cfe-video.six-flood-dark {
  flood-color: var(--cfe--video--six--dark);
}
.cfe-video.six-stop-dark {
  stop-color: var(--cfe--video--six--dark);
}