:host,
:root {
  --cfe-scheme-color--body: #ffffff;
  --cfe-scheme-color--text: #000000;
  --cfe-scheme-color--one: #008aad;
  --cfe-scheme-color--two: #1fb4d8;
  --cfe-scheme-color--three: #cc0000;
  --cfe-scheme-color--four: #ff0000;
  --cfe-scheme-color--five: #ff126f;
  --cfe-scheme-color--six: #ff4c93;
  --cfe-scheme-color--body--dark: #000000;
  --cfe-scheme-color--text--dark: #ffffff;
  --cfe-scheme-color--one--dark: #1fb4d8;
  --cfe-scheme-color--two--dark: #008aad;
  --cfe-scheme-color--three--dark: #ff126f;
  --cfe-scheme-color--four--dark: #ff4c93;
  --cfe-scheme-color--five--dark: #cc0000;
  --cfe-scheme-color--six--dark: #ff0000;
  --cfe-heading-primary--link--text-color: var( --cfe-scheme-color--three );
  --cfe-heading-primary--link--action--text-color: var( --cfe-scheme-color--four );
  --cfe-button--primary--action--bg-color--dark: var( --cfe-scheme-color--three--dark );
}