:host,
:root {
  --cfe-scheme-color--body: #f8f4e9;
  --cfe-scheme-color--text: #361f13;
  --cfe-scheme-color--one: #6b3e26;
  --cfe-scheme-color--two: #f5b71c;
  --cfe-scheme-color--three: #f5b71c;
  --cfe-scheme-color--four: #6b3e26;
  --cfe-scheme-color--five: #6b3e26;
  --cfe-scheme-color--six: #f5b71c;
  --cfe-scheme-color--body--dark: #20130b;
  --cfe-scheme-color--text--dark: #f8f4e9;
  --cfe-scheme-color--one--dark: #da7a4b;
  --cfe-scheme-color--two--dark: #f5b71c;
  --cfe-scheme-color--three--dark: #f5b71c;
  --cfe-scheme-color--four--dark: #6b3e26;
  --cfe-scheme-color--five--dark: #6b3e26;
  --cfe-scheme-color--six--dark: #f5b71c;
  --cfe-cover-blend--bg-color: #f5b71c;
}