:host,
:root {
  --cfe-scheme-default--body: #ffffff;
  --cfe-scheme-default--text: #333333;
  --cfe-scheme-default--one: #0044aa;
  --cfe-scheme-default--two: #4073bf;
  --cfe-scheme-default--three: #555555;
  --cfe-scheme-default--four: #888888;
  --cfe-scheme-default--five: #333333;
  --cfe-scheme-default--six: #555555;
  --cfe-scheme-default--body--dark: #1e1e1e;
  --cfe-scheme-default--text--dark: #eeeeee;
  --cfe-scheme-default--one--dark: #ffffff;
  --cfe-scheme-default--two--dark: #ffdd00;
  --cfe-scheme-default--three--dark: #333333;
  --cfe-scheme-default--four--dark: #555555;
  --cfe-scheme-default--five--dark: #333333;
  --cfe-scheme-default--six--dark: #555555;
}

.cfe-default.default-body {
  color: var(--cfe--default--body);
}
.cfe-default.default-body-bg {
  background-color: var(--cfe--default--body);
}
.cfe-default.default-body-decoration {
  text-decoration-color: var(--cfe--default--body);
}
.cfe-default.default-body-emphasis {
  -webkit-text-emphasis-color: var(--cfe--default--body);
          text-emphasis-color: var(--cfe--default--body);
}
.cfe-default.default-body-accent {
  accent-color: var(--cfe--default--body);
}
.cfe-default.default-body-caret {
  caret-color: var(--cfe--default--body);
}
.cfe-default.default-body-border {
  border-color: var(--cfe--default--body);
}
.cfe-default.default-body-outline {
  outline-color: var(--cfe--default--body);
}
.cfe-default.default-body-rule {
  rule-color: var(--cfe--default--body);
}
.cfe-default.default-body-column-rule {
  -moz-column-rule-color: var(--cfe--default--body);
       column-rule-color: var(--cfe--default--body);
}
.cfe-default.default-body-row-rule {
  row-rule-color: var(--cfe--default--body);
}
.cfe-default.default-body-fill {
  fill: var(--cfe--default--body);
}
.cfe-default.default-body-text-fill {
  -webkit-text-fill-color: var(--cfe--default--body);
  text-fill-color: var(--cfe--default--body);
}
.cfe-default.default-body-stroke {
  stroke: var(--cfe--default--body);
}
.cfe-default.default-body-text-stroke {
  -webkit-text-stroke-color: var(--cfe--default--body);
  text-stroke-color: var(--cfe--default--body);
}
.cfe-default.default-body-flood {
  flood-color: var(--cfe--default--body);
}
.cfe-default.default-body-stop {
  stop-color: var(--cfe--default--body);
}
.cfe-default.default-text {
  color: var(--cfe--default--text);
}
.cfe-default.default-text-bg {
  background-color: var(--cfe--default--text);
}
.cfe-default.default-text-decoration {
  text-decoration-color: var(--cfe--default--text);
}
.cfe-default.default-text-emphasis {
  -webkit-text-emphasis-color: var(--cfe--default--text);
          text-emphasis-color: var(--cfe--default--text);
}
.cfe-default.default-text-accent {
  accent-color: var(--cfe--default--text);
}
.cfe-default.default-text-caret {
  caret-color: var(--cfe--default--text);
}
.cfe-default.default-text-border {
  border-color: var(--cfe--default--text);
}
.cfe-default.default-text-outline {
  outline-color: var(--cfe--default--text);
}
.cfe-default.default-text-rule {
  rule-color: var(--cfe--default--text);
}
.cfe-default.default-text-column-rule {
  -moz-column-rule-color: var(--cfe--default--text);
       column-rule-color: var(--cfe--default--text);
}
.cfe-default.default-text-row-rule {
  row-rule-color: var(--cfe--default--text);
}
.cfe-default.default-text-fill {
  fill: var(--cfe--default--text);
}
.cfe-default.default-text-text-fill {
  -webkit-text-fill-color: var(--cfe--default--text);
  text-fill-color: var(--cfe--default--text);
}
.cfe-default.default-text-stroke {
  stroke: var(--cfe--default--text);
}
.cfe-default.default-text-text-stroke {
  -webkit-text-stroke-color: var(--cfe--default--text);
  text-stroke-color: var(--cfe--default--text);
}
.cfe-default.default-text-flood {
  flood-color: var(--cfe--default--text);
}
.cfe-default.default-text-stop {
  stop-color: var(--cfe--default--text);
}
.cfe-default.default-one {
  color: var(--cfe--default--one);
}
.cfe-default.default-one-bg {
  background-color: var(--cfe--default--one);
}
.cfe-default.default-one-decoration {
  text-decoration-color: var(--cfe--default--one);
}
.cfe-default.default-one-emphasis {
  -webkit-text-emphasis-color: var(--cfe--default--one);
          text-emphasis-color: var(--cfe--default--one);
}
.cfe-default.default-one-accent {
  accent-color: var(--cfe--default--one);
}
.cfe-default.default-one-caret {
  caret-color: var(--cfe--default--one);
}
.cfe-default.default-one-border {
  border-color: var(--cfe--default--one);
}
.cfe-default.default-one-outline {
  outline-color: var(--cfe--default--one);
}
.cfe-default.default-one-rule {
  rule-color: var(--cfe--default--one);
}
.cfe-default.default-one-column-rule {
  -moz-column-rule-color: var(--cfe--default--one);
       column-rule-color: var(--cfe--default--one);
}
.cfe-default.default-one-row-rule {
  row-rule-color: var(--cfe--default--one);
}
.cfe-default.default-one-fill {
  fill: var(--cfe--default--one);
}
.cfe-default.default-one-text-fill {
  -webkit-text-fill-color: var(--cfe--default--one);
  text-fill-color: var(--cfe--default--one);
}
.cfe-default.default-one-stroke {
  stroke: var(--cfe--default--one);
}
.cfe-default.default-one-text-stroke {
  -webkit-text-stroke-color: var(--cfe--default--one);
  text-stroke-color: var(--cfe--default--one);
}
.cfe-default.default-one-flood {
  flood-color: var(--cfe--default--one);
}
.cfe-default.default-one-stop {
  stop-color: var(--cfe--default--one);
}
.cfe-default.default-two {
  color: var(--cfe--default--two);
}
.cfe-default.default-two-bg {
  background-color: var(--cfe--default--two);
}
.cfe-default.default-two-decoration {
  text-decoration-color: var(--cfe--default--two);
}
.cfe-default.default-two-emphasis {
  -webkit-text-emphasis-color: var(--cfe--default--two);
          text-emphasis-color: var(--cfe--default--two);
}
.cfe-default.default-two-accent {
  accent-color: var(--cfe--default--two);
}
.cfe-default.default-two-caret {
  caret-color: var(--cfe--default--two);
}
.cfe-default.default-two-border {
  border-color: var(--cfe--default--two);
}
.cfe-default.default-two-outline {
  outline-color: var(--cfe--default--two);
}
.cfe-default.default-two-rule {
  rule-color: var(--cfe--default--two);
}
.cfe-default.default-two-column-rule {
  -moz-column-rule-color: var(--cfe--default--two);
       column-rule-color: var(--cfe--default--two);
}
.cfe-default.default-two-row-rule {
  row-rule-color: var(--cfe--default--two);
}
.cfe-default.default-two-fill {
  fill: var(--cfe--default--two);
}
.cfe-default.default-two-text-fill {
  -webkit-text-fill-color: var(--cfe--default--two);
  text-fill-color: var(--cfe--default--two);
}
.cfe-default.default-two-stroke {
  stroke: var(--cfe--default--two);
}
.cfe-default.default-two-text-stroke {
  -webkit-text-stroke-color: var(--cfe--default--two);
  text-stroke-color: var(--cfe--default--two);
}
.cfe-default.default-two-flood {
  flood-color: var(--cfe--default--two);
}
.cfe-default.default-two-stop {
  stop-color: var(--cfe--default--two);
}
.cfe-default.default-three {
  color: var(--cfe--default--three);
}
.cfe-default.default-three-bg {
  background-color: var(--cfe--default--three);
}
.cfe-default.default-three-decoration {
  text-decoration-color: var(--cfe--default--three);
}
.cfe-default.default-three-emphasis {
  -webkit-text-emphasis-color: var(--cfe--default--three);
          text-emphasis-color: var(--cfe--default--three);
}
.cfe-default.default-three-accent {
  accent-color: var(--cfe--default--three);
}
.cfe-default.default-three-caret {
  caret-color: var(--cfe--default--three);
}
.cfe-default.default-three-border {
  border-color: var(--cfe--default--three);
}
.cfe-default.default-three-outline {
  outline-color: var(--cfe--default--three);
}
.cfe-default.default-three-rule {
  rule-color: var(--cfe--default--three);
}
.cfe-default.default-three-column-rule {
  -moz-column-rule-color: var(--cfe--default--three);
       column-rule-color: var(--cfe--default--three);
}
.cfe-default.default-three-row-rule {
  row-rule-color: var(--cfe--default--three);
}
.cfe-default.default-three-fill {
  fill: var(--cfe--default--three);
}
.cfe-default.default-three-text-fill {
  -webkit-text-fill-color: var(--cfe--default--three);
  text-fill-color: var(--cfe--default--three);
}
.cfe-default.default-three-stroke {
  stroke: var(--cfe--default--three);
}
.cfe-default.default-three-text-stroke {
  -webkit-text-stroke-color: var(--cfe--default--three);
  text-stroke-color: var(--cfe--default--three);
}
.cfe-default.default-three-flood {
  flood-color: var(--cfe--default--three);
}
.cfe-default.default-three-stop {
  stop-color: var(--cfe--default--three);
}
.cfe-default.default-four {
  color: var(--cfe--default--four);
}
.cfe-default.default-four-bg {
  background-color: var(--cfe--default--four);
}
.cfe-default.default-four-decoration {
  text-decoration-color: var(--cfe--default--four);
}
.cfe-default.default-four-emphasis {
  -webkit-text-emphasis-color: var(--cfe--default--four);
          text-emphasis-color: var(--cfe--default--four);
}
.cfe-default.default-four-accent {
  accent-color: var(--cfe--default--four);
}
.cfe-default.default-four-caret {
  caret-color: var(--cfe--default--four);
}
.cfe-default.default-four-border {
  border-color: var(--cfe--default--four);
}
.cfe-default.default-four-outline {
  outline-color: var(--cfe--default--four);
}
.cfe-default.default-four-rule {
  rule-color: var(--cfe--default--four);
}
.cfe-default.default-four-column-rule {
  -moz-column-rule-color: var(--cfe--default--four);
       column-rule-color: var(--cfe--default--four);
}
.cfe-default.default-four-row-rule {
  row-rule-color: var(--cfe--default--four);
}
.cfe-default.default-four-fill {
  fill: var(--cfe--default--four);
}
.cfe-default.default-four-text-fill {
  -webkit-text-fill-color: var(--cfe--default--four);
  text-fill-color: var(--cfe--default--four);
}
.cfe-default.default-four-stroke {
  stroke: var(--cfe--default--four);
}
.cfe-default.default-four-text-stroke {
  -webkit-text-stroke-color: var(--cfe--default--four);
  text-stroke-color: var(--cfe--default--four);
}
.cfe-default.default-four-flood {
  flood-color: var(--cfe--default--four);
}
.cfe-default.default-four-stop {
  stop-color: var(--cfe--default--four);
}
.cfe-default.default-five {
  color: var(--cfe--default--five);
}
.cfe-default.default-five-bg {
  background-color: var(--cfe--default--five);
}
.cfe-default.default-five-decoration {
  text-decoration-color: var(--cfe--default--five);
}
.cfe-default.default-five-emphasis {
  -webkit-text-emphasis-color: var(--cfe--default--five);
          text-emphasis-color: var(--cfe--default--five);
}
.cfe-default.default-five-accent {
  accent-color: var(--cfe--default--five);
}
.cfe-default.default-five-caret {
  caret-color: var(--cfe--default--five);
}
.cfe-default.default-five-border {
  border-color: var(--cfe--default--five);
}
.cfe-default.default-five-outline {
  outline-color: var(--cfe--default--five);
}
.cfe-default.default-five-rule {
  rule-color: var(--cfe--default--five);
}
.cfe-default.default-five-column-rule {
  -moz-column-rule-color: var(--cfe--default--five);
       column-rule-color: var(--cfe--default--five);
}
.cfe-default.default-five-row-rule {
  row-rule-color: var(--cfe--default--five);
}
.cfe-default.default-five-fill {
  fill: var(--cfe--default--five);
}
.cfe-default.default-five-text-fill {
  -webkit-text-fill-color: var(--cfe--default--five);
  text-fill-color: var(--cfe--default--five);
}
.cfe-default.default-five-stroke {
  stroke: var(--cfe--default--five);
}
.cfe-default.default-five-text-stroke {
  -webkit-text-stroke-color: var(--cfe--default--five);
  text-stroke-color: var(--cfe--default--five);
}
.cfe-default.default-five-flood {
  flood-color: var(--cfe--default--five);
}
.cfe-default.default-five-stop {
  stop-color: var(--cfe--default--five);
}
.cfe-default.default-six {
  color: var(--cfe--default--six);
}
.cfe-default.default-six-bg {
  background-color: var(--cfe--default--six);
}
.cfe-default.default-six-decoration {
  text-decoration-color: var(--cfe--default--six);
}
.cfe-default.default-six-emphasis {
  -webkit-text-emphasis-color: var(--cfe--default--six);
          text-emphasis-color: var(--cfe--default--six);
}
.cfe-default.default-six-accent {
  accent-color: var(--cfe--default--six);
}
.cfe-default.default-six-caret {
  caret-color: var(--cfe--default--six);
}
.cfe-default.default-six-border {
  border-color: var(--cfe--default--six);
}
.cfe-default.default-six-outline {
  outline-color: var(--cfe--default--six);
}
.cfe-default.default-six-rule {
  rule-color: var(--cfe--default--six);
}
.cfe-default.default-six-column-rule {
  -moz-column-rule-color: var(--cfe--default--six);
       column-rule-color: var(--cfe--default--six);
}
.cfe-default.default-six-row-rule {
  row-rule-color: var(--cfe--default--six);
}
.cfe-default.default-six-fill {
  fill: var(--cfe--default--six);
}
.cfe-default.default-six-text-fill {
  -webkit-text-fill-color: var(--cfe--default--six);
  text-fill-color: var(--cfe--default--six);
}
.cfe-default.default-six-stroke {
  stroke: var(--cfe--default--six);
}
.cfe-default.default-six-text-stroke {
  -webkit-text-stroke-color: var(--cfe--default--six);
  text-stroke-color: var(--cfe--default--six);
}
.cfe-default.default-six-flood {
  flood-color: var(--cfe--default--six);
}
.cfe-default.default-six-stop {
  stop-color: var(--cfe--default--six);
}
.cfe-default.default-body-dark {
  color: var(--cfe--default--body--dark);
}
.cfe-default.default-body-bg-dark {
  background-color: var(--cfe--default--body--dark);
}
.cfe-default.default-body-decoration-dark {
  text-decoration-color: var(--cfe--default--body--dark);
}
.cfe-default.default-body-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--default--body--dark);
          text-emphasis-color: var(--cfe--default--body--dark);
}
.cfe-default.default-body-accent-dark {
  accent-color: var(--cfe--default--body--dark);
}
.cfe-default.default-body-caret-dark {
  caret-color: var(--cfe--default--body--dark);
}
.cfe-default.default-body-border-dark {
  border-color: var(--cfe--default--body--dark);
}
.cfe-default.default-body-outline-dark {
  outline-color: var(--cfe--default--body--dark);
}
.cfe-default.default-body-rule-dark {
  rule-color: var(--cfe--default--body--dark);
}
.cfe-default.default-body-column-rule-dark {
  -moz-column-rule-color: var(--cfe--default--body--dark);
       column-rule-color: var(--cfe--default--body--dark);
}
.cfe-default.default-body-row-rule-dark {
  row-rule-color: var(--cfe--default--body--dark);
}
.cfe-default.default-body-fill-dark {
  fill: var(--cfe--default--body--dark);
}
.cfe-default.default-body-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--default--body--dark);
  text-fill-color: var(--cfe--default--body--dark);
}
.cfe-default.default-body-stroke-dark {
  stroke: var(--cfe--default--body--dark);
}
.cfe-default.default-body-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--default--body--dark);
  text-stroke-color: var(--cfe--default--body--dark);
}
.cfe-default.default-body-flood-dark {
  flood-color: var(--cfe--default--body--dark);
}
.cfe-default.default-body-stop-dark {
  stop-color: var(--cfe--default--body--dark);
}
.cfe-default.default-text-dark {
  color: var(--cfe--default--text--dark);
}
.cfe-default.default-text-bg-dark {
  background-color: var(--cfe--default--text--dark);
}
.cfe-default.default-text-decoration-dark {
  text-decoration-color: var(--cfe--default--text--dark);
}
.cfe-default.default-text-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--default--text--dark);
          text-emphasis-color: var(--cfe--default--text--dark);
}
.cfe-default.default-text-accent-dark {
  accent-color: var(--cfe--default--text--dark);
}
.cfe-default.default-text-caret-dark {
  caret-color: var(--cfe--default--text--dark);
}
.cfe-default.default-text-border-dark {
  border-color: var(--cfe--default--text--dark);
}
.cfe-default.default-text-outline-dark {
  outline-color: var(--cfe--default--text--dark);
}
.cfe-default.default-text-rule-dark {
  rule-color: var(--cfe--default--text--dark);
}
.cfe-default.default-text-column-rule-dark {
  -moz-column-rule-color: var(--cfe--default--text--dark);
       column-rule-color: var(--cfe--default--text--dark);
}
.cfe-default.default-text-row-rule-dark {
  row-rule-color: var(--cfe--default--text--dark);
}
.cfe-default.default-text-fill-dark {
  fill: var(--cfe--default--text--dark);
}
.cfe-default.default-text-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--default--text--dark);
  text-fill-color: var(--cfe--default--text--dark);
}
.cfe-default.default-text-stroke-dark {
  stroke: var(--cfe--default--text--dark);
}
.cfe-default.default-text-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--default--text--dark);
  text-stroke-color: var(--cfe--default--text--dark);
}
.cfe-default.default-text-flood-dark {
  flood-color: var(--cfe--default--text--dark);
}
.cfe-default.default-text-stop-dark {
  stop-color: var(--cfe--default--text--dark);
}
.cfe-default.default-one-dark {
  color: var(--cfe--default--one--dark);
}
.cfe-default.default-one-bg-dark {
  background-color: var(--cfe--default--one--dark);
}
.cfe-default.default-one-decoration-dark {
  text-decoration-color: var(--cfe--default--one--dark);
}
.cfe-default.default-one-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--default--one--dark);
          text-emphasis-color: var(--cfe--default--one--dark);
}
.cfe-default.default-one-accent-dark {
  accent-color: var(--cfe--default--one--dark);
}
.cfe-default.default-one-caret-dark {
  caret-color: var(--cfe--default--one--dark);
}
.cfe-default.default-one-border-dark {
  border-color: var(--cfe--default--one--dark);
}
.cfe-default.default-one-outline-dark {
  outline-color: var(--cfe--default--one--dark);
}
.cfe-default.default-one-rule-dark {
  rule-color: var(--cfe--default--one--dark);
}
.cfe-default.default-one-column-rule-dark {
  -moz-column-rule-color: var(--cfe--default--one--dark);
       column-rule-color: var(--cfe--default--one--dark);
}
.cfe-default.default-one-row-rule-dark {
  row-rule-color: var(--cfe--default--one--dark);
}
.cfe-default.default-one-fill-dark {
  fill: var(--cfe--default--one--dark);
}
.cfe-default.default-one-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--default--one--dark);
  text-fill-color: var(--cfe--default--one--dark);
}
.cfe-default.default-one-stroke-dark {
  stroke: var(--cfe--default--one--dark);
}
.cfe-default.default-one-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--default--one--dark);
  text-stroke-color: var(--cfe--default--one--dark);
}
.cfe-default.default-one-flood-dark {
  flood-color: var(--cfe--default--one--dark);
}
.cfe-default.default-one-stop-dark {
  stop-color: var(--cfe--default--one--dark);
}
.cfe-default.default-two-dark {
  color: var(--cfe--default--two--dark);
}
.cfe-default.default-two-bg-dark {
  background-color: var(--cfe--default--two--dark);
}
.cfe-default.default-two-decoration-dark {
  text-decoration-color: var(--cfe--default--two--dark);
}
.cfe-default.default-two-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--default--two--dark);
          text-emphasis-color: var(--cfe--default--two--dark);
}
.cfe-default.default-two-accent-dark {
  accent-color: var(--cfe--default--two--dark);
}
.cfe-default.default-two-caret-dark {
  caret-color: var(--cfe--default--two--dark);
}
.cfe-default.default-two-border-dark {
  border-color: var(--cfe--default--two--dark);
}
.cfe-default.default-two-outline-dark {
  outline-color: var(--cfe--default--two--dark);
}
.cfe-default.default-two-rule-dark {
  rule-color: var(--cfe--default--two--dark);
}
.cfe-default.default-two-column-rule-dark {
  -moz-column-rule-color: var(--cfe--default--two--dark);
       column-rule-color: var(--cfe--default--two--dark);
}
.cfe-default.default-two-row-rule-dark {
  row-rule-color: var(--cfe--default--two--dark);
}
.cfe-default.default-two-fill-dark {
  fill: var(--cfe--default--two--dark);
}
.cfe-default.default-two-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--default--two--dark);
  text-fill-color: var(--cfe--default--two--dark);
}
.cfe-default.default-two-stroke-dark {
  stroke: var(--cfe--default--two--dark);
}
.cfe-default.default-two-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--default--two--dark);
  text-stroke-color: var(--cfe--default--two--dark);
}
.cfe-default.default-two-flood-dark {
  flood-color: var(--cfe--default--two--dark);
}
.cfe-default.default-two-stop-dark {
  stop-color: var(--cfe--default--two--dark);
}
.cfe-default.default-three-dark {
  color: var(--cfe--default--three--dark);
}
.cfe-default.default-three-bg-dark {
  background-color: var(--cfe--default--three--dark);
}
.cfe-default.default-three-decoration-dark {
  text-decoration-color: var(--cfe--default--three--dark);
}
.cfe-default.default-three-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--default--three--dark);
          text-emphasis-color: var(--cfe--default--three--dark);
}
.cfe-default.default-three-accent-dark {
  accent-color: var(--cfe--default--three--dark);
}
.cfe-default.default-three-caret-dark {
  caret-color: var(--cfe--default--three--dark);
}
.cfe-default.default-three-border-dark {
  border-color: var(--cfe--default--three--dark);
}
.cfe-default.default-three-outline-dark {
  outline-color: var(--cfe--default--three--dark);
}
.cfe-default.default-three-rule-dark {
  rule-color: var(--cfe--default--three--dark);
}
.cfe-default.default-three-column-rule-dark {
  -moz-column-rule-color: var(--cfe--default--three--dark);
       column-rule-color: var(--cfe--default--three--dark);
}
.cfe-default.default-three-row-rule-dark {
  row-rule-color: var(--cfe--default--three--dark);
}
.cfe-default.default-three-fill-dark {
  fill: var(--cfe--default--three--dark);
}
.cfe-default.default-three-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--default--three--dark);
  text-fill-color: var(--cfe--default--three--dark);
}
.cfe-default.default-three-stroke-dark {
  stroke: var(--cfe--default--three--dark);
}
.cfe-default.default-three-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--default--three--dark);
  text-stroke-color: var(--cfe--default--three--dark);
}
.cfe-default.default-three-flood-dark {
  flood-color: var(--cfe--default--three--dark);
}
.cfe-default.default-three-stop-dark {
  stop-color: var(--cfe--default--three--dark);
}
.cfe-default.default-four-dark {
  color: var(--cfe--default--four--dark);
}
.cfe-default.default-four-bg-dark {
  background-color: var(--cfe--default--four--dark);
}
.cfe-default.default-four-decoration-dark {
  text-decoration-color: var(--cfe--default--four--dark);
}
.cfe-default.default-four-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--default--four--dark);
          text-emphasis-color: var(--cfe--default--four--dark);
}
.cfe-default.default-four-accent-dark {
  accent-color: var(--cfe--default--four--dark);
}
.cfe-default.default-four-caret-dark {
  caret-color: var(--cfe--default--four--dark);
}
.cfe-default.default-four-border-dark {
  border-color: var(--cfe--default--four--dark);
}
.cfe-default.default-four-outline-dark {
  outline-color: var(--cfe--default--four--dark);
}
.cfe-default.default-four-rule-dark {
  rule-color: var(--cfe--default--four--dark);
}
.cfe-default.default-four-column-rule-dark {
  -moz-column-rule-color: var(--cfe--default--four--dark);
       column-rule-color: var(--cfe--default--four--dark);
}
.cfe-default.default-four-row-rule-dark {
  row-rule-color: var(--cfe--default--four--dark);
}
.cfe-default.default-four-fill-dark {
  fill: var(--cfe--default--four--dark);
}
.cfe-default.default-four-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--default--four--dark);
  text-fill-color: var(--cfe--default--four--dark);
}
.cfe-default.default-four-stroke-dark {
  stroke: var(--cfe--default--four--dark);
}
.cfe-default.default-four-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--default--four--dark);
  text-stroke-color: var(--cfe--default--four--dark);
}
.cfe-default.default-four-flood-dark {
  flood-color: var(--cfe--default--four--dark);
}
.cfe-default.default-four-stop-dark {
  stop-color: var(--cfe--default--four--dark);
}
.cfe-default.default-five-dark {
  color: var(--cfe--default--five--dark);
}
.cfe-default.default-five-bg-dark {
  background-color: var(--cfe--default--five--dark);
}
.cfe-default.default-five-decoration-dark {
  text-decoration-color: var(--cfe--default--five--dark);
}
.cfe-default.default-five-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--default--five--dark);
          text-emphasis-color: var(--cfe--default--five--dark);
}
.cfe-default.default-five-accent-dark {
  accent-color: var(--cfe--default--five--dark);
}
.cfe-default.default-five-caret-dark {
  caret-color: var(--cfe--default--five--dark);
}
.cfe-default.default-five-border-dark {
  border-color: var(--cfe--default--five--dark);
}
.cfe-default.default-five-outline-dark {
  outline-color: var(--cfe--default--five--dark);
}
.cfe-default.default-five-rule-dark {
  rule-color: var(--cfe--default--five--dark);
}
.cfe-default.default-five-column-rule-dark {
  -moz-column-rule-color: var(--cfe--default--five--dark);
       column-rule-color: var(--cfe--default--five--dark);
}
.cfe-default.default-five-row-rule-dark {
  row-rule-color: var(--cfe--default--five--dark);
}
.cfe-default.default-five-fill-dark {
  fill: var(--cfe--default--five--dark);
}
.cfe-default.default-five-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--default--five--dark);
  text-fill-color: var(--cfe--default--five--dark);
}
.cfe-default.default-five-stroke-dark {
  stroke: var(--cfe--default--five--dark);
}
.cfe-default.default-five-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--default--five--dark);
  text-stroke-color: var(--cfe--default--five--dark);
}
.cfe-default.default-five-flood-dark {
  flood-color: var(--cfe--default--five--dark);
}
.cfe-default.default-five-stop-dark {
  stop-color: var(--cfe--default--five--dark);
}
.cfe-default.default-six-dark {
  color: var(--cfe--default--six--dark);
}
.cfe-default.default-six-bg-dark {
  background-color: var(--cfe--default--six--dark);
}
.cfe-default.default-six-decoration-dark {
  text-decoration-color: var(--cfe--default--six--dark);
}
.cfe-default.default-six-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--default--six--dark);
          text-emphasis-color: var(--cfe--default--six--dark);
}
.cfe-default.default-six-accent-dark {
  accent-color: var(--cfe--default--six--dark);
}
.cfe-default.default-six-caret-dark {
  caret-color: var(--cfe--default--six--dark);
}
.cfe-default.default-six-border-dark {
  border-color: var(--cfe--default--six--dark);
}
.cfe-default.default-six-outline-dark {
  outline-color: var(--cfe--default--six--dark);
}
.cfe-default.default-six-rule-dark {
  rule-color: var(--cfe--default--six--dark);
}
.cfe-default.default-six-column-rule-dark {
  -moz-column-rule-color: var(--cfe--default--six--dark);
       column-rule-color: var(--cfe--default--six--dark);
}
.cfe-default.default-six-row-rule-dark {
  row-rule-color: var(--cfe--default--six--dark);
}
.cfe-default.default-six-fill-dark {
  fill: var(--cfe--default--six--dark);
}
.cfe-default.default-six-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--default--six--dark);
  text-fill-color: var(--cfe--default--six--dark);
}
.cfe-default.default-six-stroke-dark {
  stroke: var(--cfe--default--six--dark);
}
.cfe-default.default-six-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--default--six--dark);
  text-stroke-color: var(--cfe--default--six--dark);
}
.cfe-default.default-six-flood-dark {
  flood-color: var(--cfe--default--six--dark);
}
.cfe-default.default-six-stop-dark {
  stop-color: var(--cfe--default--six--dark);
}