///
/// CSS properties
///

@use 'sass:map';
@use '../../../../modules/functions' as f;
@use '../modules/colors' as c;

:host,
:root {
	@each $name, $color in c.$light {
		--cfe-scheme-color--#{$name}: #{$color};
	}
	@each $name, $color in c.$dark {
		--cfe-scheme-color--#{$name}--dark: #{$color};
	}
	--cfe-button--text-color: var( --cfe-scheme-color--text );
	--cfe-button--action--text-color: var( --cfe-scheme-color--text );
	--cfe-button--primary--text-color: var( --cfe-scheme-color--text );
	--cfe-button--primary--action--text-color: var( --cfe-scheme-color--text );

	--cfe-admin--menu--link--action--text-color: var( --cfe-scheme-color--text );

	--cfe-site-nav--sub-list--action--text-color: var( --cfe-scheme-color--text );
	--cfe-toolbar--link--action--text-color: var( --cfe-scheme-color--text );
	--cfe-toolbar--submenu--link--text-color: var( --cfe-scheme-color--text );
	--cfe-toolbar--submenu--link--action--text-color: var( --cfe-scheme-color--text );

	--cfe-search-button--background-image: #{f.search_icon_bg( map.get( c.$light, 'text' ) )};
	--cfe-close-button--background-image: #{f.close_icon_bg( map.get( c.$light, 'text' ) )};

	--cfe-search-button--action--background-image: #{f.search_icon_bg( map.get( c.$light, 'text' ) )};
	--cfe-close-button--action--background-image: #{f.close_icon_bg( map.get( c.$light, 'text' ) )};
}
