///
/// SCSS variables
///

$palette: 'kamakura-03';
$media: #c8352b;
$light: (
	'body'  : #f8f4e9,
	'text'  : #1c1c1c,
	'one'   : #d4af37,
	'two'   : #c8352b,
	'three' : #c8352b,
	'four'  : #d4af37,
	'five'  : #c8352b,
	'six'   : #d4af37
);
$dark: (
	'body'  : #1c1c1c,
	'text'  : #f8f4e9,
	'one'   : #d4af37,
	'two'   : #c8352b,
	'three' : #c8352b,
	'four'  : #d4af37,
	'five'  : #c8352b,
	'six'   : #d4af37
);
