///
/// SCSS variables
///

$palette: 'harvest-moon';
$media: #eba900;
$light: (
	'body'  : #0d1526,
	'text'  : #dee8f4,
	'one'   : #eba900,
	'two'   : #d68f00,
	'three' : #eba900,
	'four'  : #d68f00,
	'five'  : #142343,
	'six'   : #eba900
);
$dark: (
	'body'  : #0d1526,
	'text'  : #dee8f4,
	'one'   : #eba900,
	'two'   : #d68f00,
	'three' : #eba900,
	'four'  : #d68f00,
	'five'  : #142343,
	'six'   : #eba900
);
