:host,
:root {
  --cfe-scheme-kamakura-01--body: #f8f4e9;
  --cfe-scheme-kamakura-01--text: #264a6b;
  --cfe-scheme-kamakura-01--one: #264a6b;
  --cfe-scheme-kamakura-01--two: #c5ac6b;
  --cfe-scheme-kamakura-01--three: #264a6b;
  --cfe-scheme-kamakura-01--four: #c5ac6b;
  --cfe-scheme-kamakura-01--five: #264a6b;
  --cfe-scheme-kamakura-01--six: #c5ac6b;
  --cfe-scheme-kamakura-01--body--dark: #264a6b;
  --cfe-scheme-kamakura-01--text--dark: #f8f4e9;
  --cfe-scheme-kamakura-01--one--dark: #c5ac6b;
  --cfe-scheme-kamakura-01--two--dark: #f8f4e9;
  --cfe-scheme-kamakura-01--three--dark: #264a6b;
  --cfe-scheme-kamakura-01--four--dark: #c5ac6b;
  --cfe-scheme-kamakura-01--five--dark: #264a6b;
  --cfe-scheme-kamakura-01--six--dark: #c5ac6b;
  --cfe-scheme-kamakura-01--cover-blend--bg-color: c.$media;
}

.cfe-kamakura-01.kamakura-01-body {
  color: var(--cfe--kamakura-01--body);
}
.cfe-kamakura-01.kamakura-01-body-bg {
  background-color: var(--cfe--kamakura-01--body);
}
.cfe-kamakura-01.kamakura-01-body-decoration {
  text-decoration-color: var(--cfe--kamakura-01--body);
}
.cfe-kamakura-01.kamakura-01-body-emphasis {
  -webkit-text-emphasis-color: var(--cfe--kamakura-01--body);
          text-emphasis-color: var(--cfe--kamakura-01--body);
}
.cfe-kamakura-01.kamakura-01-body-accent {
  accent-color: var(--cfe--kamakura-01--body);
}
.cfe-kamakura-01.kamakura-01-body-caret {
  caret-color: var(--cfe--kamakura-01--body);
}
.cfe-kamakura-01.kamakura-01-body-border {
  border-color: var(--cfe--kamakura-01--body);
}
.cfe-kamakura-01.kamakura-01-body-outline {
  outline-color: var(--cfe--kamakura-01--body);
}
.cfe-kamakura-01.kamakura-01-body-rule {
  rule-color: var(--cfe--kamakura-01--body);
}
.cfe-kamakura-01.kamakura-01-body-column-rule {
  -moz-column-rule-color: var(--cfe--kamakura-01--body);
       column-rule-color: var(--cfe--kamakura-01--body);
}
.cfe-kamakura-01.kamakura-01-body-row-rule {
  row-rule-color: var(--cfe--kamakura-01--body);
}
.cfe-kamakura-01.kamakura-01-body-fill {
  fill: var(--cfe--kamakura-01--body);
}
.cfe-kamakura-01.kamakura-01-body-text-fill {
  -webkit-text-fill-color: var(--cfe--kamakura-01--body);
  text-fill-color: var(--cfe--kamakura-01--body);
}
.cfe-kamakura-01.kamakura-01-body-stroke {
  stroke: var(--cfe--kamakura-01--body);
}
.cfe-kamakura-01.kamakura-01-body-text-stroke {
  -webkit-text-stroke-color: var(--cfe--kamakura-01--body);
  text-stroke-color: var(--cfe--kamakura-01--body);
}
.cfe-kamakura-01.kamakura-01-body-flood {
  flood-color: var(--cfe--kamakura-01--body);
}
.cfe-kamakura-01.kamakura-01-body-stop {
  stop-color: var(--cfe--kamakura-01--body);
}
.cfe-kamakura-01.kamakura-01-text {
  color: var(--cfe--kamakura-01--text);
}
.cfe-kamakura-01.kamakura-01-text-bg {
  background-color: var(--cfe--kamakura-01--text);
}
.cfe-kamakura-01.kamakura-01-text-decoration {
  text-decoration-color: var(--cfe--kamakura-01--text);
}
.cfe-kamakura-01.kamakura-01-text-emphasis {
  -webkit-text-emphasis-color: var(--cfe--kamakura-01--text);
          text-emphasis-color: var(--cfe--kamakura-01--text);
}
.cfe-kamakura-01.kamakura-01-text-accent {
  accent-color: var(--cfe--kamakura-01--text);
}
.cfe-kamakura-01.kamakura-01-text-caret {
  caret-color: var(--cfe--kamakura-01--text);
}
.cfe-kamakura-01.kamakura-01-text-border {
  border-color: var(--cfe--kamakura-01--text);
}
.cfe-kamakura-01.kamakura-01-text-outline {
  outline-color: var(--cfe--kamakura-01--text);
}
.cfe-kamakura-01.kamakura-01-text-rule {
  rule-color: var(--cfe--kamakura-01--text);
}
.cfe-kamakura-01.kamakura-01-text-column-rule {
  -moz-column-rule-color: var(--cfe--kamakura-01--text);
       column-rule-color: var(--cfe--kamakura-01--text);
}
.cfe-kamakura-01.kamakura-01-text-row-rule {
  row-rule-color: var(--cfe--kamakura-01--text);
}
.cfe-kamakura-01.kamakura-01-text-fill {
  fill: var(--cfe--kamakura-01--text);
}
.cfe-kamakura-01.kamakura-01-text-text-fill {
  -webkit-text-fill-color: var(--cfe--kamakura-01--text);
  text-fill-color: var(--cfe--kamakura-01--text);
}
.cfe-kamakura-01.kamakura-01-text-stroke {
  stroke: var(--cfe--kamakura-01--text);
}
.cfe-kamakura-01.kamakura-01-text-text-stroke {
  -webkit-text-stroke-color: var(--cfe--kamakura-01--text);
  text-stroke-color: var(--cfe--kamakura-01--text);
}
.cfe-kamakura-01.kamakura-01-text-flood {
  flood-color: var(--cfe--kamakura-01--text);
}
.cfe-kamakura-01.kamakura-01-text-stop {
  stop-color: var(--cfe--kamakura-01--text);
}
.cfe-kamakura-01.kamakura-01-one {
  color: var(--cfe--kamakura-01--one);
}
.cfe-kamakura-01.kamakura-01-one-bg {
  background-color: var(--cfe--kamakura-01--one);
}
.cfe-kamakura-01.kamakura-01-one-decoration {
  text-decoration-color: var(--cfe--kamakura-01--one);
}
.cfe-kamakura-01.kamakura-01-one-emphasis {
  -webkit-text-emphasis-color: var(--cfe--kamakura-01--one);
          text-emphasis-color: var(--cfe--kamakura-01--one);
}
.cfe-kamakura-01.kamakura-01-one-accent {
  accent-color: var(--cfe--kamakura-01--one);
}
.cfe-kamakura-01.kamakura-01-one-caret {
  caret-color: var(--cfe--kamakura-01--one);
}
.cfe-kamakura-01.kamakura-01-one-border {
  border-color: var(--cfe--kamakura-01--one);
}
.cfe-kamakura-01.kamakura-01-one-outline {
  outline-color: var(--cfe--kamakura-01--one);
}
.cfe-kamakura-01.kamakura-01-one-rule {
  rule-color: var(--cfe--kamakura-01--one);
}
.cfe-kamakura-01.kamakura-01-one-column-rule {
  -moz-column-rule-color: var(--cfe--kamakura-01--one);
       column-rule-color: var(--cfe--kamakura-01--one);
}
.cfe-kamakura-01.kamakura-01-one-row-rule {
  row-rule-color: var(--cfe--kamakura-01--one);
}
.cfe-kamakura-01.kamakura-01-one-fill {
  fill: var(--cfe--kamakura-01--one);
}
.cfe-kamakura-01.kamakura-01-one-text-fill {
  -webkit-text-fill-color: var(--cfe--kamakura-01--one);
  text-fill-color: var(--cfe--kamakura-01--one);
}
.cfe-kamakura-01.kamakura-01-one-stroke {
  stroke: var(--cfe--kamakura-01--one);
}
.cfe-kamakura-01.kamakura-01-one-text-stroke {
  -webkit-text-stroke-color: var(--cfe--kamakura-01--one);
  text-stroke-color: var(--cfe--kamakura-01--one);
}
.cfe-kamakura-01.kamakura-01-one-flood {
  flood-color: var(--cfe--kamakura-01--one);
}
.cfe-kamakura-01.kamakura-01-one-stop {
  stop-color: var(--cfe--kamakura-01--one);
}
.cfe-kamakura-01.kamakura-01-two {
  color: var(--cfe--kamakura-01--two);
}
.cfe-kamakura-01.kamakura-01-two-bg {
  background-color: var(--cfe--kamakura-01--two);
}
.cfe-kamakura-01.kamakura-01-two-decoration {
  text-decoration-color: var(--cfe--kamakura-01--two);
}
.cfe-kamakura-01.kamakura-01-two-emphasis {
  -webkit-text-emphasis-color: var(--cfe--kamakura-01--two);
          text-emphasis-color: var(--cfe--kamakura-01--two);
}
.cfe-kamakura-01.kamakura-01-two-accent {
  accent-color: var(--cfe--kamakura-01--two);
}
.cfe-kamakura-01.kamakura-01-two-caret {
  caret-color: var(--cfe--kamakura-01--two);
}
.cfe-kamakura-01.kamakura-01-two-border {
  border-color: var(--cfe--kamakura-01--two);
}
.cfe-kamakura-01.kamakura-01-two-outline {
  outline-color: var(--cfe--kamakura-01--two);
}
.cfe-kamakura-01.kamakura-01-two-rule {
  rule-color: var(--cfe--kamakura-01--two);
}
.cfe-kamakura-01.kamakura-01-two-column-rule {
  -moz-column-rule-color: var(--cfe--kamakura-01--two);
       column-rule-color: var(--cfe--kamakura-01--two);
}
.cfe-kamakura-01.kamakura-01-two-row-rule {
  row-rule-color: var(--cfe--kamakura-01--two);
}
.cfe-kamakura-01.kamakura-01-two-fill {
  fill: var(--cfe--kamakura-01--two);
}
.cfe-kamakura-01.kamakura-01-two-text-fill {
  -webkit-text-fill-color: var(--cfe--kamakura-01--two);
  text-fill-color: var(--cfe--kamakura-01--two);
}
.cfe-kamakura-01.kamakura-01-two-stroke {
  stroke: var(--cfe--kamakura-01--two);
}
.cfe-kamakura-01.kamakura-01-two-text-stroke {
  -webkit-text-stroke-color: var(--cfe--kamakura-01--two);
  text-stroke-color: var(--cfe--kamakura-01--two);
}
.cfe-kamakura-01.kamakura-01-two-flood {
  flood-color: var(--cfe--kamakura-01--two);
}
.cfe-kamakura-01.kamakura-01-two-stop {
  stop-color: var(--cfe--kamakura-01--two);
}
.cfe-kamakura-01.kamakura-01-three {
  color: var(--cfe--kamakura-01--three);
}
.cfe-kamakura-01.kamakura-01-three-bg {
  background-color: var(--cfe--kamakura-01--three);
}
.cfe-kamakura-01.kamakura-01-three-decoration {
  text-decoration-color: var(--cfe--kamakura-01--three);
}
.cfe-kamakura-01.kamakura-01-three-emphasis {
  -webkit-text-emphasis-color: var(--cfe--kamakura-01--three);
          text-emphasis-color: var(--cfe--kamakura-01--three);
}
.cfe-kamakura-01.kamakura-01-three-accent {
  accent-color: var(--cfe--kamakura-01--three);
}
.cfe-kamakura-01.kamakura-01-three-caret {
  caret-color: var(--cfe--kamakura-01--three);
}
.cfe-kamakura-01.kamakura-01-three-border {
  border-color: var(--cfe--kamakura-01--three);
}
.cfe-kamakura-01.kamakura-01-three-outline {
  outline-color: var(--cfe--kamakura-01--three);
}
.cfe-kamakura-01.kamakura-01-three-rule {
  rule-color: var(--cfe--kamakura-01--three);
}
.cfe-kamakura-01.kamakura-01-three-column-rule {
  -moz-column-rule-color: var(--cfe--kamakura-01--three);
       column-rule-color: var(--cfe--kamakura-01--three);
}
.cfe-kamakura-01.kamakura-01-three-row-rule {
  row-rule-color: var(--cfe--kamakura-01--three);
}
.cfe-kamakura-01.kamakura-01-three-fill {
  fill: var(--cfe--kamakura-01--three);
}
.cfe-kamakura-01.kamakura-01-three-text-fill {
  -webkit-text-fill-color: var(--cfe--kamakura-01--three);
  text-fill-color: var(--cfe--kamakura-01--three);
}
.cfe-kamakura-01.kamakura-01-three-stroke {
  stroke: var(--cfe--kamakura-01--three);
}
.cfe-kamakura-01.kamakura-01-three-text-stroke {
  -webkit-text-stroke-color: var(--cfe--kamakura-01--three);
  text-stroke-color: var(--cfe--kamakura-01--three);
}
.cfe-kamakura-01.kamakura-01-three-flood {
  flood-color: var(--cfe--kamakura-01--three);
}
.cfe-kamakura-01.kamakura-01-three-stop {
  stop-color: var(--cfe--kamakura-01--three);
}
.cfe-kamakura-01.kamakura-01-four {
  color: var(--cfe--kamakura-01--four);
}
.cfe-kamakura-01.kamakura-01-four-bg {
  background-color: var(--cfe--kamakura-01--four);
}
.cfe-kamakura-01.kamakura-01-four-decoration {
  text-decoration-color: var(--cfe--kamakura-01--four);
}
.cfe-kamakura-01.kamakura-01-four-emphasis {
  -webkit-text-emphasis-color: var(--cfe--kamakura-01--four);
          text-emphasis-color: var(--cfe--kamakura-01--four);
}
.cfe-kamakura-01.kamakura-01-four-accent {
  accent-color: var(--cfe--kamakura-01--four);
}
.cfe-kamakura-01.kamakura-01-four-caret {
  caret-color: var(--cfe--kamakura-01--four);
}
.cfe-kamakura-01.kamakura-01-four-border {
  border-color: var(--cfe--kamakura-01--four);
}
.cfe-kamakura-01.kamakura-01-four-outline {
  outline-color: var(--cfe--kamakura-01--four);
}
.cfe-kamakura-01.kamakura-01-four-rule {
  rule-color: var(--cfe--kamakura-01--four);
}
.cfe-kamakura-01.kamakura-01-four-column-rule {
  -moz-column-rule-color: var(--cfe--kamakura-01--four);
       column-rule-color: var(--cfe--kamakura-01--four);
}
.cfe-kamakura-01.kamakura-01-four-row-rule {
  row-rule-color: var(--cfe--kamakura-01--four);
}
.cfe-kamakura-01.kamakura-01-four-fill {
  fill: var(--cfe--kamakura-01--four);
}
.cfe-kamakura-01.kamakura-01-four-text-fill {
  -webkit-text-fill-color: var(--cfe--kamakura-01--four);
  text-fill-color: var(--cfe--kamakura-01--four);
}
.cfe-kamakura-01.kamakura-01-four-stroke {
  stroke: var(--cfe--kamakura-01--four);
}
.cfe-kamakura-01.kamakura-01-four-text-stroke {
  -webkit-text-stroke-color: var(--cfe--kamakura-01--four);
  text-stroke-color: var(--cfe--kamakura-01--four);
}
.cfe-kamakura-01.kamakura-01-four-flood {
  flood-color: var(--cfe--kamakura-01--four);
}
.cfe-kamakura-01.kamakura-01-four-stop {
  stop-color: var(--cfe--kamakura-01--four);
}
.cfe-kamakura-01.kamakura-01-five {
  color: var(--cfe--kamakura-01--five);
}
.cfe-kamakura-01.kamakura-01-five-bg {
  background-color: var(--cfe--kamakura-01--five);
}
.cfe-kamakura-01.kamakura-01-five-decoration {
  text-decoration-color: var(--cfe--kamakura-01--five);
}
.cfe-kamakura-01.kamakura-01-five-emphasis {
  -webkit-text-emphasis-color: var(--cfe--kamakura-01--five);
          text-emphasis-color: var(--cfe--kamakura-01--five);
}
.cfe-kamakura-01.kamakura-01-five-accent {
  accent-color: var(--cfe--kamakura-01--five);
}
.cfe-kamakura-01.kamakura-01-five-caret {
  caret-color: var(--cfe--kamakura-01--five);
}
.cfe-kamakura-01.kamakura-01-five-border {
  border-color: var(--cfe--kamakura-01--five);
}
.cfe-kamakura-01.kamakura-01-five-outline {
  outline-color: var(--cfe--kamakura-01--five);
}
.cfe-kamakura-01.kamakura-01-five-rule {
  rule-color: var(--cfe--kamakura-01--five);
}
.cfe-kamakura-01.kamakura-01-five-column-rule {
  -moz-column-rule-color: var(--cfe--kamakura-01--five);
       column-rule-color: var(--cfe--kamakura-01--five);
}
.cfe-kamakura-01.kamakura-01-five-row-rule {
  row-rule-color: var(--cfe--kamakura-01--five);
}
.cfe-kamakura-01.kamakura-01-five-fill {
  fill: var(--cfe--kamakura-01--five);
}
.cfe-kamakura-01.kamakura-01-five-text-fill {
  -webkit-text-fill-color: var(--cfe--kamakura-01--five);
  text-fill-color: var(--cfe--kamakura-01--five);
}
.cfe-kamakura-01.kamakura-01-five-stroke {
  stroke: var(--cfe--kamakura-01--five);
}
.cfe-kamakura-01.kamakura-01-five-text-stroke {
  -webkit-text-stroke-color: var(--cfe--kamakura-01--five);
  text-stroke-color: var(--cfe--kamakura-01--five);
}
.cfe-kamakura-01.kamakura-01-five-flood {
  flood-color: var(--cfe--kamakura-01--five);
}
.cfe-kamakura-01.kamakura-01-five-stop {
  stop-color: var(--cfe--kamakura-01--five);
}
.cfe-kamakura-01.kamakura-01-six {
  color: var(--cfe--kamakura-01--six);
}
.cfe-kamakura-01.kamakura-01-six-bg {
  background-color: var(--cfe--kamakura-01--six);
}
.cfe-kamakura-01.kamakura-01-six-decoration {
  text-decoration-color: var(--cfe--kamakura-01--six);
}
.cfe-kamakura-01.kamakura-01-six-emphasis {
  -webkit-text-emphasis-color: var(--cfe--kamakura-01--six);
          text-emphasis-color: var(--cfe--kamakura-01--six);
}
.cfe-kamakura-01.kamakura-01-six-accent {
  accent-color: var(--cfe--kamakura-01--six);
}
.cfe-kamakura-01.kamakura-01-six-caret {
  caret-color: var(--cfe--kamakura-01--six);
}
.cfe-kamakura-01.kamakura-01-six-border {
  border-color: var(--cfe--kamakura-01--six);
}
.cfe-kamakura-01.kamakura-01-six-outline {
  outline-color: var(--cfe--kamakura-01--six);
}
.cfe-kamakura-01.kamakura-01-six-rule {
  rule-color: var(--cfe--kamakura-01--six);
}
.cfe-kamakura-01.kamakura-01-six-column-rule {
  -moz-column-rule-color: var(--cfe--kamakura-01--six);
       column-rule-color: var(--cfe--kamakura-01--six);
}
.cfe-kamakura-01.kamakura-01-six-row-rule {
  row-rule-color: var(--cfe--kamakura-01--six);
}
.cfe-kamakura-01.kamakura-01-six-fill {
  fill: var(--cfe--kamakura-01--six);
}
.cfe-kamakura-01.kamakura-01-six-text-fill {
  -webkit-text-fill-color: var(--cfe--kamakura-01--six);
  text-fill-color: var(--cfe--kamakura-01--six);
}
.cfe-kamakura-01.kamakura-01-six-stroke {
  stroke: var(--cfe--kamakura-01--six);
}
.cfe-kamakura-01.kamakura-01-six-text-stroke {
  -webkit-text-stroke-color: var(--cfe--kamakura-01--six);
  text-stroke-color: var(--cfe--kamakura-01--six);
}
.cfe-kamakura-01.kamakura-01-six-flood {
  flood-color: var(--cfe--kamakura-01--six);
}
.cfe-kamakura-01.kamakura-01-six-stop {
  stop-color: var(--cfe--kamakura-01--six);
}
.cfe-kamakura-01.kamakura-01-body-dark {
  color: var(--cfe--kamakura-01--body--dark);
}
.cfe-kamakura-01.kamakura-01-body-bg-dark {
  background-color: var(--cfe--kamakura-01--body--dark);
}
.cfe-kamakura-01.kamakura-01-body-decoration-dark {
  text-decoration-color: var(--cfe--kamakura-01--body--dark);
}
.cfe-kamakura-01.kamakura-01-body-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--kamakura-01--body--dark);
          text-emphasis-color: var(--cfe--kamakura-01--body--dark);
}
.cfe-kamakura-01.kamakura-01-body-accent-dark {
  accent-color: var(--cfe--kamakura-01--body--dark);
}
.cfe-kamakura-01.kamakura-01-body-caret-dark {
  caret-color: var(--cfe--kamakura-01--body--dark);
}
.cfe-kamakura-01.kamakura-01-body-border-dark {
  border-color: var(--cfe--kamakura-01--body--dark);
}
.cfe-kamakura-01.kamakura-01-body-outline-dark {
  outline-color: var(--cfe--kamakura-01--body--dark);
}
.cfe-kamakura-01.kamakura-01-body-rule-dark {
  rule-color: var(--cfe--kamakura-01--body--dark);
}
.cfe-kamakura-01.kamakura-01-body-column-rule-dark {
  -moz-column-rule-color: var(--cfe--kamakura-01--body--dark);
       column-rule-color: var(--cfe--kamakura-01--body--dark);
}
.cfe-kamakura-01.kamakura-01-body-row-rule-dark {
  row-rule-color: var(--cfe--kamakura-01--body--dark);
}
.cfe-kamakura-01.kamakura-01-body-fill-dark {
  fill: var(--cfe--kamakura-01--body--dark);
}
.cfe-kamakura-01.kamakura-01-body-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--kamakura-01--body--dark);
  text-fill-color: var(--cfe--kamakura-01--body--dark);
}
.cfe-kamakura-01.kamakura-01-body-stroke-dark {
  stroke: var(--cfe--kamakura-01--body--dark);
}
.cfe-kamakura-01.kamakura-01-body-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--kamakura-01--body--dark);
  text-stroke-color: var(--cfe--kamakura-01--body--dark);
}
.cfe-kamakura-01.kamakura-01-body-flood-dark {
  flood-color: var(--cfe--kamakura-01--body--dark);
}
.cfe-kamakura-01.kamakura-01-body-stop-dark {
  stop-color: var(--cfe--kamakura-01--body--dark);
}
.cfe-kamakura-01.kamakura-01-text-dark {
  color: var(--cfe--kamakura-01--text--dark);
}
.cfe-kamakura-01.kamakura-01-text-bg-dark {
  background-color: var(--cfe--kamakura-01--text--dark);
}
.cfe-kamakura-01.kamakura-01-text-decoration-dark {
  text-decoration-color: var(--cfe--kamakura-01--text--dark);
}
.cfe-kamakura-01.kamakura-01-text-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--kamakura-01--text--dark);
          text-emphasis-color: var(--cfe--kamakura-01--text--dark);
}
.cfe-kamakura-01.kamakura-01-text-accent-dark {
  accent-color: var(--cfe--kamakura-01--text--dark);
}
.cfe-kamakura-01.kamakura-01-text-caret-dark {
  caret-color: var(--cfe--kamakura-01--text--dark);
}
.cfe-kamakura-01.kamakura-01-text-border-dark {
  border-color: var(--cfe--kamakura-01--text--dark);
}
.cfe-kamakura-01.kamakura-01-text-outline-dark {
  outline-color: var(--cfe--kamakura-01--text--dark);
}
.cfe-kamakura-01.kamakura-01-text-rule-dark {
  rule-color: var(--cfe--kamakura-01--text--dark);
}
.cfe-kamakura-01.kamakura-01-text-column-rule-dark {
  -moz-column-rule-color: var(--cfe--kamakura-01--text--dark);
       column-rule-color: var(--cfe--kamakura-01--text--dark);
}
.cfe-kamakura-01.kamakura-01-text-row-rule-dark {
  row-rule-color: var(--cfe--kamakura-01--text--dark);
}
.cfe-kamakura-01.kamakura-01-text-fill-dark {
  fill: var(--cfe--kamakura-01--text--dark);
}
.cfe-kamakura-01.kamakura-01-text-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--kamakura-01--text--dark);
  text-fill-color: var(--cfe--kamakura-01--text--dark);
}
.cfe-kamakura-01.kamakura-01-text-stroke-dark {
  stroke: var(--cfe--kamakura-01--text--dark);
}
.cfe-kamakura-01.kamakura-01-text-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--kamakura-01--text--dark);
  text-stroke-color: var(--cfe--kamakura-01--text--dark);
}
.cfe-kamakura-01.kamakura-01-text-flood-dark {
  flood-color: var(--cfe--kamakura-01--text--dark);
}
.cfe-kamakura-01.kamakura-01-text-stop-dark {
  stop-color: var(--cfe--kamakura-01--text--dark);
}
.cfe-kamakura-01.kamakura-01-one-dark {
  color: var(--cfe--kamakura-01--one--dark);
}
.cfe-kamakura-01.kamakura-01-one-bg-dark {
  background-color: var(--cfe--kamakura-01--one--dark);
}
.cfe-kamakura-01.kamakura-01-one-decoration-dark {
  text-decoration-color: var(--cfe--kamakura-01--one--dark);
}
.cfe-kamakura-01.kamakura-01-one-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--kamakura-01--one--dark);
          text-emphasis-color: var(--cfe--kamakura-01--one--dark);
}
.cfe-kamakura-01.kamakura-01-one-accent-dark {
  accent-color: var(--cfe--kamakura-01--one--dark);
}
.cfe-kamakura-01.kamakura-01-one-caret-dark {
  caret-color: var(--cfe--kamakura-01--one--dark);
}
.cfe-kamakura-01.kamakura-01-one-border-dark {
  border-color: var(--cfe--kamakura-01--one--dark);
}
.cfe-kamakura-01.kamakura-01-one-outline-dark {
  outline-color: var(--cfe--kamakura-01--one--dark);
}
.cfe-kamakura-01.kamakura-01-one-rule-dark {
  rule-color: var(--cfe--kamakura-01--one--dark);
}
.cfe-kamakura-01.kamakura-01-one-column-rule-dark {
  -moz-column-rule-color: var(--cfe--kamakura-01--one--dark);
       column-rule-color: var(--cfe--kamakura-01--one--dark);
}
.cfe-kamakura-01.kamakura-01-one-row-rule-dark {
  row-rule-color: var(--cfe--kamakura-01--one--dark);
}
.cfe-kamakura-01.kamakura-01-one-fill-dark {
  fill: var(--cfe--kamakura-01--one--dark);
}
.cfe-kamakura-01.kamakura-01-one-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--kamakura-01--one--dark);
  text-fill-color: var(--cfe--kamakura-01--one--dark);
}
.cfe-kamakura-01.kamakura-01-one-stroke-dark {
  stroke: var(--cfe--kamakura-01--one--dark);
}
.cfe-kamakura-01.kamakura-01-one-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--kamakura-01--one--dark);
  text-stroke-color: var(--cfe--kamakura-01--one--dark);
}
.cfe-kamakura-01.kamakura-01-one-flood-dark {
  flood-color: var(--cfe--kamakura-01--one--dark);
}
.cfe-kamakura-01.kamakura-01-one-stop-dark {
  stop-color: var(--cfe--kamakura-01--one--dark);
}
.cfe-kamakura-01.kamakura-01-two-dark {
  color: var(--cfe--kamakura-01--two--dark);
}
.cfe-kamakura-01.kamakura-01-two-bg-dark {
  background-color: var(--cfe--kamakura-01--two--dark);
}
.cfe-kamakura-01.kamakura-01-two-decoration-dark {
  text-decoration-color: var(--cfe--kamakura-01--two--dark);
}
.cfe-kamakura-01.kamakura-01-two-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--kamakura-01--two--dark);
          text-emphasis-color: var(--cfe--kamakura-01--two--dark);
}
.cfe-kamakura-01.kamakura-01-two-accent-dark {
  accent-color: var(--cfe--kamakura-01--two--dark);
}
.cfe-kamakura-01.kamakura-01-two-caret-dark {
  caret-color: var(--cfe--kamakura-01--two--dark);
}
.cfe-kamakura-01.kamakura-01-two-border-dark {
  border-color: var(--cfe--kamakura-01--two--dark);
}
.cfe-kamakura-01.kamakura-01-two-outline-dark {
  outline-color: var(--cfe--kamakura-01--two--dark);
}
.cfe-kamakura-01.kamakura-01-two-rule-dark {
  rule-color: var(--cfe--kamakura-01--two--dark);
}
.cfe-kamakura-01.kamakura-01-two-column-rule-dark {
  -moz-column-rule-color: var(--cfe--kamakura-01--two--dark);
       column-rule-color: var(--cfe--kamakura-01--two--dark);
}
.cfe-kamakura-01.kamakura-01-two-row-rule-dark {
  row-rule-color: var(--cfe--kamakura-01--two--dark);
}
.cfe-kamakura-01.kamakura-01-two-fill-dark {
  fill: var(--cfe--kamakura-01--two--dark);
}
.cfe-kamakura-01.kamakura-01-two-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--kamakura-01--two--dark);
  text-fill-color: var(--cfe--kamakura-01--two--dark);
}
.cfe-kamakura-01.kamakura-01-two-stroke-dark {
  stroke: var(--cfe--kamakura-01--two--dark);
}
.cfe-kamakura-01.kamakura-01-two-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--kamakura-01--two--dark);
  text-stroke-color: var(--cfe--kamakura-01--two--dark);
}
.cfe-kamakura-01.kamakura-01-two-flood-dark {
  flood-color: var(--cfe--kamakura-01--two--dark);
}
.cfe-kamakura-01.kamakura-01-two-stop-dark {
  stop-color: var(--cfe--kamakura-01--two--dark);
}
.cfe-kamakura-01.kamakura-01-three-dark {
  color: var(--cfe--kamakura-01--three--dark);
}
.cfe-kamakura-01.kamakura-01-three-bg-dark {
  background-color: var(--cfe--kamakura-01--three--dark);
}
.cfe-kamakura-01.kamakura-01-three-decoration-dark {
  text-decoration-color: var(--cfe--kamakura-01--three--dark);
}
.cfe-kamakura-01.kamakura-01-three-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--kamakura-01--three--dark);
          text-emphasis-color: var(--cfe--kamakura-01--three--dark);
}
.cfe-kamakura-01.kamakura-01-three-accent-dark {
  accent-color: var(--cfe--kamakura-01--three--dark);
}
.cfe-kamakura-01.kamakura-01-three-caret-dark {
  caret-color: var(--cfe--kamakura-01--three--dark);
}
.cfe-kamakura-01.kamakura-01-three-border-dark {
  border-color: var(--cfe--kamakura-01--three--dark);
}
.cfe-kamakura-01.kamakura-01-three-outline-dark {
  outline-color: var(--cfe--kamakura-01--three--dark);
}
.cfe-kamakura-01.kamakura-01-three-rule-dark {
  rule-color: var(--cfe--kamakura-01--three--dark);
}
.cfe-kamakura-01.kamakura-01-three-column-rule-dark {
  -moz-column-rule-color: var(--cfe--kamakura-01--three--dark);
       column-rule-color: var(--cfe--kamakura-01--three--dark);
}
.cfe-kamakura-01.kamakura-01-three-row-rule-dark {
  row-rule-color: var(--cfe--kamakura-01--three--dark);
}
.cfe-kamakura-01.kamakura-01-three-fill-dark {
  fill: var(--cfe--kamakura-01--three--dark);
}
.cfe-kamakura-01.kamakura-01-three-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--kamakura-01--three--dark);
  text-fill-color: var(--cfe--kamakura-01--three--dark);
}
.cfe-kamakura-01.kamakura-01-three-stroke-dark {
  stroke: var(--cfe--kamakura-01--three--dark);
}
.cfe-kamakura-01.kamakura-01-three-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--kamakura-01--three--dark);
  text-stroke-color: var(--cfe--kamakura-01--three--dark);
}
.cfe-kamakura-01.kamakura-01-three-flood-dark {
  flood-color: var(--cfe--kamakura-01--three--dark);
}
.cfe-kamakura-01.kamakura-01-three-stop-dark {
  stop-color: var(--cfe--kamakura-01--three--dark);
}
.cfe-kamakura-01.kamakura-01-four-dark {
  color: var(--cfe--kamakura-01--four--dark);
}
.cfe-kamakura-01.kamakura-01-four-bg-dark {
  background-color: var(--cfe--kamakura-01--four--dark);
}
.cfe-kamakura-01.kamakura-01-four-decoration-dark {
  text-decoration-color: var(--cfe--kamakura-01--four--dark);
}
.cfe-kamakura-01.kamakura-01-four-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--kamakura-01--four--dark);
          text-emphasis-color: var(--cfe--kamakura-01--four--dark);
}
.cfe-kamakura-01.kamakura-01-four-accent-dark {
  accent-color: var(--cfe--kamakura-01--four--dark);
}
.cfe-kamakura-01.kamakura-01-four-caret-dark {
  caret-color: var(--cfe--kamakura-01--four--dark);
}
.cfe-kamakura-01.kamakura-01-four-border-dark {
  border-color: var(--cfe--kamakura-01--four--dark);
}
.cfe-kamakura-01.kamakura-01-four-outline-dark {
  outline-color: var(--cfe--kamakura-01--four--dark);
}
.cfe-kamakura-01.kamakura-01-four-rule-dark {
  rule-color: var(--cfe--kamakura-01--four--dark);
}
.cfe-kamakura-01.kamakura-01-four-column-rule-dark {
  -moz-column-rule-color: var(--cfe--kamakura-01--four--dark);
       column-rule-color: var(--cfe--kamakura-01--four--dark);
}
.cfe-kamakura-01.kamakura-01-four-row-rule-dark {
  row-rule-color: var(--cfe--kamakura-01--four--dark);
}
.cfe-kamakura-01.kamakura-01-four-fill-dark {
  fill: var(--cfe--kamakura-01--four--dark);
}
.cfe-kamakura-01.kamakura-01-four-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--kamakura-01--four--dark);
  text-fill-color: var(--cfe--kamakura-01--four--dark);
}
.cfe-kamakura-01.kamakura-01-four-stroke-dark {
  stroke: var(--cfe--kamakura-01--four--dark);
}
.cfe-kamakura-01.kamakura-01-four-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--kamakura-01--four--dark);
  text-stroke-color: var(--cfe--kamakura-01--four--dark);
}
.cfe-kamakura-01.kamakura-01-four-flood-dark {
  flood-color: var(--cfe--kamakura-01--four--dark);
}
.cfe-kamakura-01.kamakura-01-four-stop-dark {
  stop-color: var(--cfe--kamakura-01--four--dark);
}
.cfe-kamakura-01.kamakura-01-five-dark {
  color: var(--cfe--kamakura-01--five--dark);
}
.cfe-kamakura-01.kamakura-01-five-bg-dark {
  background-color: var(--cfe--kamakura-01--five--dark);
}
.cfe-kamakura-01.kamakura-01-five-decoration-dark {
  text-decoration-color: var(--cfe--kamakura-01--five--dark);
}
.cfe-kamakura-01.kamakura-01-five-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--kamakura-01--five--dark);
          text-emphasis-color: var(--cfe--kamakura-01--five--dark);
}
.cfe-kamakura-01.kamakura-01-five-accent-dark {
  accent-color: var(--cfe--kamakura-01--five--dark);
}
.cfe-kamakura-01.kamakura-01-five-caret-dark {
  caret-color: var(--cfe--kamakura-01--five--dark);
}
.cfe-kamakura-01.kamakura-01-five-border-dark {
  border-color: var(--cfe--kamakura-01--five--dark);
}
.cfe-kamakura-01.kamakura-01-five-outline-dark {
  outline-color: var(--cfe--kamakura-01--five--dark);
}
.cfe-kamakura-01.kamakura-01-five-rule-dark {
  rule-color: var(--cfe--kamakura-01--five--dark);
}
.cfe-kamakura-01.kamakura-01-five-column-rule-dark {
  -moz-column-rule-color: var(--cfe--kamakura-01--five--dark);
       column-rule-color: var(--cfe--kamakura-01--five--dark);
}
.cfe-kamakura-01.kamakura-01-five-row-rule-dark {
  row-rule-color: var(--cfe--kamakura-01--five--dark);
}
.cfe-kamakura-01.kamakura-01-five-fill-dark {
  fill: var(--cfe--kamakura-01--five--dark);
}
.cfe-kamakura-01.kamakura-01-five-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--kamakura-01--five--dark);
  text-fill-color: var(--cfe--kamakura-01--five--dark);
}
.cfe-kamakura-01.kamakura-01-five-stroke-dark {
  stroke: var(--cfe--kamakura-01--five--dark);
}
.cfe-kamakura-01.kamakura-01-five-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--kamakura-01--five--dark);
  text-stroke-color: var(--cfe--kamakura-01--five--dark);
}
.cfe-kamakura-01.kamakura-01-five-flood-dark {
  flood-color: var(--cfe--kamakura-01--five--dark);
}
.cfe-kamakura-01.kamakura-01-five-stop-dark {
  stop-color: var(--cfe--kamakura-01--five--dark);
}
.cfe-kamakura-01.kamakura-01-six-dark {
  color: var(--cfe--kamakura-01--six--dark);
}
.cfe-kamakura-01.kamakura-01-six-bg-dark {
  background-color: var(--cfe--kamakura-01--six--dark);
}
.cfe-kamakura-01.kamakura-01-six-decoration-dark {
  text-decoration-color: var(--cfe--kamakura-01--six--dark);
}
.cfe-kamakura-01.kamakura-01-six-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--kamakura-01--six--dark);
          text-emphasis-color: var(--cfe--kamakura-01--six--dark);
}
.cfe-kamakura-01.kamakura-01-six-accent-dark {
  accent-color: var(--cfe--kamakura-01--six--dark);
}
.cfe-kamakura-01.kamakura-01-six-caret-dark {
  caret-color: var(--cfe--kamakura-01--six--dark);
}
.cfe-kamakura-01.kamakura-01-six-border-dark {
  border-color: var(--cfe--kamakura-01--six--dark);
}
.cfe-kamakura-01.kamakura-01-six-outline-dark {
  outline-color: var(--cfe--kamakura-01--six--dark);
}
.cfe-kamakura-01.kamakura-01-six-rule-dark {
  rule-color: var(--cfe--kamakura-01--six--dark);
}
.cfe-kamakura-01.kamakura-01-six-column-rule-dark {
  -moz-column-rule-color: var(--cfe--kamakura-01--six--dark);
       column-rule-color: var(--cfe--kamakura-01--six--dark);
}
.cfe-kamakura-01.kamakura-01-six-row-rule-dark {
  row-rule-color: var(--cfe--kamakura-01--six--dark);
}
.cfe-kamakura-01.kamakura-01-six-fill-dark {
  fill: var(--cfe--kamakura-01--six--dark);
}
.cfe-kamakura-01.kamakura-01-six-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--kamakura-01--six--dark);
  text-fill-color: var(--cfe--kamakura-01--six--dark);
}
.cfe-kamakura-01.kamakura-01-six-stroke-dark {
  stroke: var(--cfe--kamakura-01--six--dark);
}
.cfe-kamakura-01.kamakura-01-six-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--kamakura-01--six--dark);
  text-stroke-color: var(--cfe--kamakura-01--six--dark);
}
.cfe-kamakura-01.kamakura-01-six-flood-dark {
  flood-color: var(--cfe--kamakura-01--six--dark);
}
.cfe-kamakura-01.kamakura-01-six-stop-dark {
  stop-color: var(--cfe--kamakura-01--six--dark);
}