:host,
:root {
  --cfe-scheme-color--body: #f3ebda;
  --cfe-scheme-color--text: #251912;
  --cfe-scheme-color--one: #3e2a1e;
  --cfe-scheme-color--two: #8a6a47;
  --cfe-scheme-color--three: #8a6a47;
  --cfe-scheme-color--four: #3e2a1e;
  --cfe-scheme-color--five: #3e2a1e;
  --cfe-scheme-color--six: #8a6a47;
  --cfe-scheme-color--body--dark: #251912;
  --cfe-scheme-color--text--dark: #f3ebda;
  --cfe-scheme-color--one--dark: #a78f75;
  --cfe-scheme-color--two--dark: #8a6a47;
  --cfe-scheme-color--three--dark: #8a6a47;
  --cfe-scheme-color--four--dark: #6e5539;
  --cfe-scheme-color--five--dark: #3e2a1e;
  --cfe-scheme-color--six--dark: #8a6a47;
  --cfe-cover-blend--bg-color: c.$media;
}