:host,
:root {
  --cfe-scheme-color--body: #fafaf9;
  --cfe-scheme-color--text: #460809;
  --cfe-scheme-color--one: #9f0712;
  --cfe-scheme-color--two: #ca3500;
  --cfe-scheme-color--three: #9f0712;
  --cfe-scheme-color--four: #c10007;
  --cfe-scheme-color--five: #82181a;
  --cfe-scheme-color--six: #a6a09b;
  --cfe-scheme-color--body--dark: #460809;
  --cfe-scheme-color--text--dark: #fafaf9;
  --cfe-scheme-color--one--dark: #fb2c36;
  --cfe-scheme-color--two--dark: #e22831;
  --cfe-scheme-color--three--dark: #c10007;
  --cfe-scheme-color--four--dark: #9f0712;
  --cfe-scheme-color--five--dark: #82181a;
  --cfe-scheme-color--six--dark: #a6a09b;
  --cfe-cover-blend--bg-color: c.$media;
}