:host,
:root {
  --cfe-scheme-color--body: #fdfcf3;
  --cfe-scheme-color--text: #261a19;
  --cfe-scheme-color--one: #ba2d15;
  --cfe-scheme-color--two: #e33619;
  --cfe-scheme-color--three: #ab2913;
  --cfe-scheme-color--four: #c63d1d;
  --cfe-scheme-color--five: #ab2913;
  --cfe-scheme-color--six: #bca443;
  --cfe-scheme-color--body_dark--dark: #261a19;
  --cfe-scheme-color--text_dark--dark: #fdfcf3;
  --cfe-scheme-color--one_dark--dark: #cbb86d;
  --cfe-scheme-color--two_dark--dark: #bca443;
  --cfe-scheme-color--three_dark--dark: #84200f;
  --cfe-scheme-color--four_dark--dark: #ab2913;
  --cfe-scheme-color--five_dark--dark: #84200f;
  --cfe-scheme-color--six_dark--dark: #ab2913;
}