///
/// SCSS variables
///

$palette: 'corporate';
$media: #193cb8;
$light: (
	'body'  : #ffffff,
	'text'  : #2c3e50,
	'one'   : #193cb8,
	'two'   : #1447e6,
	'three' : #1c398e,
	'four'  : #193cb8,
	'five'  : #1c398e,
	'six'   : #193cb8
);
$dark: (
	'body'  : #0d264d,
	'text'  : #eff6ff,
	'one'   : #5599ff,
	'two'   : #1447e6,
	'three' : #1447e6,
	'four'  : #193cb8,
	'five'  : #193cb8,
	'six'   : #155dfc
);
