///
/// SCSS variables
///

$palette: 'corporate';
$media: #193cb8;
$light: (
	'body'  : #ffffff,
	'text'  : #2c3e50,
	'one'   : #2779ae,
	'two'   : #324c67,
	'three' : #324c67,
	'four'  : #547190,
	'five'  : #324c67,
	'six'   : #547190
);
$dark: (
	'body'  : #0d264d,
	'text'  : #ecf0f1,
	'one'   : #5599ff,
	'two'   : #2980b9,
	'three' : #2980b9,
	'four'  : #3498db,
	'five'  : #324c67,
	'six'   : #2980b9
);
