///
/// CSS properties
///

@use 'sass:map';
@use '../../../../modules/functions' as f;
@use '../../../../modules/colors' as general;
@use '../modules/colors' as c;

:host,
:root {
	@each $name, $color in c.$light {
		--cfe-scheme-color--#{$name}: #{$color};
	}
	@each $name, $color in c.$dark {
		--cfe-scheme-color--#{$name}--dark: #{$color};
	}

	--cfe-button--primary--bg-color--dark: var( --cfe-scheme-color--one--dark );
	--cfe-button--primary--action--bg-color--dark: var( --cfe-scheme-color--five--dark );
}
.dark-mode {
	--cfe-button--primary--bg-color--dark: var( --cfe-scheme-color--one--dark );
	--cfe-button--primary--action--bg-color--dark: var( --cfe-scheme-color--five--dark );
}
