:host,
:root {
  --cfe-scheme-color--body: #fffffe;
  --cfe-scheme-color--text: #052f4a;
  --cfe-scheme-color--one: #0e9add;
  --cfe-scheme-color--two: #7ccf00;
  --cfe-scheme-color--three: #ffd230;
  --cfe-scheme-color--four: #ff637e;
  --cfe-scheme-color--five: #462da9;
  --cfe-scheme-color--six: #fb64b6;
  --cfe-scheme-color--body_dark--dark: #0d2330;
  --cfe-scheme-color--text_dark--dark: #fffffd;
  --cfe-scheme-color--one_dark--dark: #00bcff;
  --cfe-scheme-color--two_dark--dark: #bbf451;
  --cfe-scheme-color--three_dark--dark: #ffd230;
  --cfe-scheme-color--four_dark--dark: #ff637e;
  --cfe-scheme-color--five_dark--dark: #462da9;
  --cfe-scheme-color--six_dark--dark: #fb64b6;
}