///
/// SCSS variables
///

$palette: 'default';
$media: #0044aa;
$light: (
	'body'  : #ffffff,
	'text'  : #333333,
	'one'   : #0044aa,
	'two'   : #0044ff,
	'three' : #0044aa,
	'four'  : #0044ff,
	'five'  : #0044aa,
	'six'   : #0044ff
);
$dark: (
	'body'  : #1e1e1e,
	'text'  : #ffffff,
	'one'   : #0044ff,
	'two'   : #0044cc,
	'three' : #0044ff,
	'four'  : #0044cc,
	'five'  : #0044aa,
	'six'   : #0044ff
);
