:host,
:root {
  --cfe-scheme-color--body: #f3ebda;
  --cfe-scheme-color--text: #36372e;
  --cfe-scheme-color--one: #6e7b6a;
  --cfe-scheme-color--two: #8db6a5;
  --cfe-scheme-color--three: #8db6a5;
  --cfe-scheme-color--four: #6e7b6a;
  --cfe-scheme-color--five: #6e7b6a;
  --cfe-scheme-color--six: #8db6a5;
  --cfe-scheme-color--body--dark: #36372e;
  --cfe-scheme-color--text--dark: #f3ebda;
  --cfe-scheme-color--one--dark: #8db6a5;
  --cfe-scheme-color--two--dark: #f3ebda;
  --cfe-scheme-color--three--dark: #8db6a5;
  --cfe-scheme-color--four--dark: #6e7b6a;
  --cfe-scheme-color--five--dark: #6e7b6a;
  --cfe-scheme-color--six--dark: #8db6a5;
  --cfe-cover-blend--bg-color: c.$media;
}