:host,
:root {
  --cfe-box--border-color: rgba(238, 238, 238, 0.5);
  --cfe-button--primary--bg-color: #0044aa;
  --cfe-button--primary--bg-color--dark: #0044aa;
  --cfe-button--primary--border-color: #0044aa;
  --cfe-button--primary--border-color--dark: #0044aa;
}