:host,
:root {
  --cfe-scheme-color--body: #1e1e1e;
  --cfe-scheme-color--text: #ffffff;
  --cfe-scheme-color--one: #0044ff;
  --cfe-scheme-color--two: #0044cc;
  --cfe-scheme-color--three: #0044ff;
  --cfe-scheme-color--four: #0044cc;
  --cfe-scheme-color--five: #0044cc;
  --cfe-scheme-color--six: #0044ff;
  --cfe-scheme-color--body--dark: #1e1e1e;
  --cfe-scheme-color--text--dark: #ffffff;
  --cfe-scheme-color--one--dark: #0044ff;
  --cfe-scheme-color--two--dark: #0044cc;
  --cfe-scheme-color--three--dark: #0044ff;
  --cfe-scheme-color--four--dark: #0044cc;
  --cfe-scheme-color--five--dark: #0044cc;
  --cfe-scheme-color--six--dark: #0044ff;
  --cfe-box--border-color: rgba(255, 255, 255, 0.5);
}