///
/// SCSS variables
///

$palette: 'kamakura-02';
$media: #a7c957;
$light: (
	'body'  : #f8f4e9,
	'text'  : #1c1c1c,
	'one'   : #86a146,
	'two'   : #a7c957,
	'three' : #a7c957,
	'four'  : #1c1c1c,
	'five'  : #1c1c1c,
	'six'   : #a7c957
);
$dark: (
	'body'  : #1c1c1c,
	'text'  : #f8f4e9,
	'one'   : #a7c957,
	'two'   : #f8f4e9,
	'three' : #a7c957,
	'four'  : #1c1c1c,
	'five'  : #1c1c1c,
	'six'   : #a7c957
);
