@font-face {
  font-family: "Slaab";
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url(../../../fonts/slab/slaab-hair.woff2) format("woff2");
}
@font-face {
  font-family: "Slaab";
  font-weight: 100;
  font-style: italic;
  font-display: swap;
  src: url(../../../fonts/slab/slaab-hair.woff2) format("woff2");
}
@font-face {
  font-family: "Slaab";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url(../../../fonts/slab/slaab-extra-light.woff2) format("woff2");
}
@font-face {
  font-family: "Slaab";
  font-weight: 200;
  font-style: italic;
  font-display: swap;
  src: url(../../../fonts/slab/slaab-extra-light.woff2) format("woff2");
}
@font-face {
  font-family: "Slaab";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url(../../../fonts/slab/slaab-light.woff2) format("woff2");
}
@font-face {
  font-family: "Slaab";
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src: url(../../../fonts/slab/slaab-light.woff2) format("woff2");
}
@font-face {
  font-family: "Slaab";
  font-weight: 400 500;
  font-style: normal;
  font-display: swap;
  src: url(../../../fonts/slab/slaab-regular.woff2) format("woff2");
}
@font-face {
  font-family: "Slaab";
  font-weight: 400 500;
  font-style: italic;
  font-display: swap;
  src: url(../../../fonts/slab/slaab-regular.woff2) format("woff2");
}
@font-face {
  font-family: "Slaab";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url(../../../fonts/slab/slaab-semi-bold.woff2) format("woff2");
}
@font-face {
  font-family: "Slaab";
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: url(../../../fonts/slab/slaab-semi-bold.woff2) format("woff2");
}
@font-face {
  font-family: "Slaab";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../../../fonts/slab/slaab-bold.woff2) format("woff2");
}
@font-face {
  font-family: "Slaab";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url(../../../fonts/slab/slaab-bold.woff2) format("woff2");
}
@font-face {
  font-family: "Slaab";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url(../../../fonts/slab/slaab-extra-bold.woff2) format("woff2");
}
@font-face {
  font-family: "Slaab";
  font-weight: 800;
  font-style: italic;
  font-display: swap;
  src: url(../../../fonts/slab/slaab-extra-bold.woff2) format("woff2");
}
@font-face {
  font-family: "Slaab";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url(../../../fonts/slab/slaab-black.woff2) format("woff2");
}
@font-face {
  font-family: "Slaab";
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  src: url(../../../fonts/slab/slaab-black.woff2) format("woff2");
}
:host,
:root {
  --cfe-fonts--display-stack: Slaab, Rokkitt, Roboto Slab, Hoefler Text, Garamond, slab, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --cfe-body--font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --cfe-display--font-family: Slaab, Rokkitt, Roboto Slab, Hoefler Text, Garamond, slab, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --cfe-display--font-weight: 600;
  --cfe-heading-primary--font-family: Slaab, Rokkitt, Roboto Slab, Hoefler Text, Garamond, slab, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --cfe-heading-primary--font-size: 2rem;
  --cfe-heading-primary--font-weight: 800;
  --cfe-heading-secondary--font-family: Slaab, Rokkitt, Roboto Slab, Hoefler Text, Garamond, slab, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --cfe-heading-secondary--font-size: 1.375rem;
  --cfe-heading-secondary--font-weight: 700;
  --cfe-button--font-size: 0.875rem;
  --cfe-tabs--list--link--font-size: 0.875rem;
  --cfe-theme-icon--size: 1em;
}

.admin-menu .admin-menu-list li.menu-heading h3 {
  font-size: 1.125rem;
  font-weight: var(--cfe-heading-secondary--font-weight);
}