:host,
:root {
  --cfe-scheme-primary--body: #ffffff;
  --cfe-scheme-primary--text: #333333;
  --cfe-scheme-primary--one: #0000cc;
  --cfe-scheme-primary--two: #ff9922;
  --cfe-scheme-primary--three: #0cc800;
  --cfe-scheme-primary--four: #ee0000;
  --cfe-scheme-primary--five: #8800aa;
  --cfe-scheme-primary--six: #ffdd00;
  --cfe-scheme-primary--body--dark: #1e1e1e;
  --cfe-scheme-primary--text--dark: #eeeeee;
  --cfe-scheme-primary--one--dark: #ff9922;
  --cfe-scheme-primary--two--dark: #0000cc;
  --cfe-scheme-primary--three--dark: #0cc800;
  --cfe-scheme-primary--four--dark: #ee0000;
  --cfe-scheme-primary--five--dark: #ffdd00;
  --cfe-scheme-primary--six--dark: #8800aa;
}

.cfe-primary.primary-body {
  color: var(--cfe--primary--body);
}
.cfe-primary.primary-body-bg {
  background-color: var(--cfe--primary--body);
}
.cfe-primary.primary-body-decoration {
  text-decoration-color: var(--cfe--primary--body);
}
.cfe-primary.primary-body-emphasis {
  -webkit-text-emphasis-color: var(--cfe--primary--body);
          text-emphasis-color: var(--cfe--primary--body);
}
.cfe-primary.primary-body-accent {
  accent-color: var(--cfe--primary--body);
}
.cfe-primary.primary-body-caret {
  caret-color: var(--cfe--primary--body);
}
.cfe-primary.primary-body-border {
  border-color: var(--cfe--primary--body);
}
.cfe-primary.primary-body-outline {
  outline-color: var(--cfe--primary--body);
}
.cfe-primary.primary-body-rule {
  rule-color: var(--cfe--primary--body);
}
.cfe-primary.primary-body-column-rule {
  -moz-column-rule-color: var(--cfe--primary--body);
       column-rule-color: var(--cfe--primary--body);
}
.cfe-primary.primary-body-row-rule {
  row-rule-color: var(--cfe--primary--body);
}
.cfe-primary.primary-body-fill {
  fill: var(--cfe--primary--body);
}
.cfe-primary.primary-body-text-fill {
  -webkit-text-fill-color: var(--cfe--primary--body);
  text-fill-color: var(--cfe--primary--body);
}
.cfe-primary.primary-body-stroke {
  stroke: var(--cfe--primary--body);
}
.cfe-primary.primary-body-text-stroke {
  -webkit-text-stroke-color: var(--cfe--primary--body);
  text-stroke-color: var(--cfe--primary--body);
}
.cfe-primary.primary-body-flood {
  flood-color: var(--cfe--primary--body);
}
.cfe-primary.primary-body-stop {
  stop-color: var(--cfe--primary--body);
}
.cfe-primary.primary-text {
  color: var(--cfe--primary--text);
}
.cfe-primary.primary-text-bg {
  background-color: var(--cfe--primary--text);
}
.cfe-primary.primary-text-decoration {
  text-decoration-color: var(--cfe--primary--text);
}
.cfe-primary.primary-text-emphasis {
  -webkit-text-emphasis-color: var(--cfe--primary--text);
          text-emphasis-color: var(--cfe--primary--text);
}
.cfe-primary.primary-text-accent {
  accent-color: var(--cfe--primary--text);
}
.cfe-primary.primary-text-caret {
  caret-color: var(--cfe--primary--text);
}
.cfe-primary.primary-text-border {
  border-color: var(--cfe--primary--text);
}
.cfe-primary.primary-text-outline {
  outline-color: var(--cfe--primary--text);
}
.cfe-primary.primary-text-rule {
  rule-color: var(--cfe--primary--text);
}
.cfe-primary.primary-text-column-rule {
  -moz-column-rule-color: var(--cfe--primary--text);
       column-rule-color: var(--cfe--primary--text);
}
.cfe-primary.primary-text-row-rule {
  row-rule-color: var(--cfe--primary--text);
}
.cfe-primary.primary-text-fill {
  fill: var(--cfe--primary--text);
}
.cfe-primary.primary-text-text-fill {
  -webkit-text-fill-color: var(--cfe--primary--text);
  text-fill-color: var(--cfe--primary--text);
}
.cfe-primary.primary-text-stroke {
  stroke: var(--cfe--primary--text);
}
.cfe-primary.primary-text-text-stroke {
  -webkit-text-stroke-color: var(--cfe--primary--text);
  text-stroke-color: var(--cfe--primary--text);
}
.cfe-primary.primary-text-flood {
  flood-color: var(--cfe--primary--text);
}
.cfe-primary.primary-text-stop {
  stop-color: var(--cfe--primary--text);
}
.cfe-primary.primary-one {
  color: var(--cfe--primary--one);
}
.cfe-primary.primary-one-bg {
  background-color: var(--cfe--primary--one);
}
.cfe-primary.primary-one-decoration {
  text-decoration-color: var(--cfe--primary--one);
}
.cfe-primary.primary-one-emphasis {
  -webkit-text-emphasis-color: var(--cfe--primary--one);
          text-emphasis-color: var(--cfe--primary--one);
}
.cfe-primary.primary-one-accent {
  accent-color: var(--cfe--primary--one);
}
.cfe-primary.primary-one-caret {
  caret-color: var(--cfe--primary--one);
}
.cfe-primary.primary-one-border {
  border-color: var(--cfe--primary--one);
}
.cfe-primary.primary-one-outline {
  outline-color: var(--cfe--primary--one);
}
.cfe-primary.primary-one-rule {
  rule-color: var(--cfe--primary--one);
}
.cfe-primary.primary-one-column-rule {
  -moz-column-rule-color: var(--cfe--primary--one);
       column-rule-color: var(--cfe--primary--one);
}
.cfe-primary.primary-one-row-rule {
  row-rule-color: var(--cfe--primary--one);
}
.cfe-primary.primary-one-fill {
  fill: var(--cfe--primary--one);
}
.cfe-primary.primary-one-text-fill {
  -webkit-text-fill-color: var(--cfe--primary--one);
  text-fill-color: var(--cfe--primary--one);
}
.cfe-primary.primary-one-stroke {
  stroke: var(--cfe--primary--one);
}
.cfe-primary.primary-one-text-stroke {
  -webkit-text-stroke-color: var(--cfe--primary--one);
  text-stroke-color: var(--cfe--primary--one);
}
.cfe-primary.primary-one-flood {
  flood-color: var(--cfe--primary--one);
}
.cfe-primary.primary-one-stop {
  stop-color: var(--cfe--primary--one);
}
.cfe-primary.primary-two {
  color: var(--cfe--primary--two);
}
.cfe-primary.primary-two-bg {
  background-color: var(--cfe--primary--two);
}
.cfe-primary.primary-two-decoration {
  text-decoration-color: var(--cfe--primary--two);
}
.cfe-primary.primary-two-emphasis {
  -webkit-text-emphasis-color: var(--cfe--primary--two);
          text-emphasis-color: var(--cfe--primary--two);
}
.cfe-primary.primary-two-accent {
  accent-color: var(--cfe--primary--two);
}
.cfe-primary.primary-two-caret {
  caret-color: var(--cfe--primary--two);
}
.cfe-primary.primary-two-border {
  border-color: var(--cfe--primary--two);
}
.cfe-primary.primary-two-outline {
  outline-color: var(--cfe--primary--two);
}
.cfe-primary.primary-two-rule {
  rule-color: var(--cfe--primary--two);
}
.cfe-primary.primary-two-column-rule {
  -moz-column-rule-color: var(--cfe--primary--two);
       column-rule-color: var(--cfe--primary--two);
}
.cfe-primary.primary-two-row-rule {
  row-rule-color: var(--cfe--primary--two);
}
.cfe-primary.primary-two-fill {
  fill: var(--cfe--primary--two);
}
.cfe-primary.primary-two-text-fill {
  -webkit-text-fill-color: var(--cfe--primary--two);
  text-fill-color: var(--cfe--primary--two);
}
.cfe-primary.primary-two-stroke {
  stroke: var(--cfe--primary--two);
}
.cfe-primary.primary-two-text-stroke {
  -webkit-text-stroke-color: var(--cfe--primary--two);
  text-stroke-color: var(--cfe--primary--two);
}
.cfe-primary.primary-two-flood {
  flood-color: var(--cfe--primary--two);
}
.cfe-primary.primary-two-stop {
  stop-color: var(--cfe--primary--two);
}
.cfe-primary.primary-three {
  color: var(--cfe--primary--three);
}
.cfe-primary.primary-three-bg {
  background-color: var(--cfe--primary--three);
}
.cfe-primary.primary-three-decoration {
  text-decoration-color: var(--cfe--primary--three);
}
.cfe-primary.primary-three-emphasis {
  -webkit-text-emphasis-color: var(--cfe--primary--three);
          text-emphasis-color: var(--cfe--primary--three);
}
.cfe-primary.primary-three-accent {
  accent-color: var(--cfe--primary--three);
}
.cfe-primary.primary-three-caret {
  caret-color: var(--cfe--primary--three);
}
.cfe-primary.primary-three-border {
  border-color: var(--cfe--primary--three);
}
.cfe-primary.primary-three-outline {
  outline-color: var(--cfe--primary--three);
}
.cfe-primary.primary-three-rule {
  rule-color: var(--cfe--primary--three);
}
.cfe-primary.primary-three-column-rule {
  -moz-column-rule-color: var(--cfe--primary--three);
       column-rule-color: var(--cfe--primary--three);
}
.cfe-primary.primary-three-row-rule {
  row-rule-color: var(--cfe--primary--three);
}
.cfe-primary.primary-three-fill {
  fill: var(--cfe--primary--three);
}
.cfe-primary.primary-three-text-fill {
  -webkit-text-fill-color: var(--cfe--primary--three);
  text-fill-color: var(--cfe--primary--three);
}
.cfe-primary.primary-three-stroke {
  stroke: var(--cfe--primary--three);
}
.cfe-primary.primary-three-text-stroke {
  -webkit-text-stroke-color: var(--cfe--primary--three);
  text-stroke-color: var(--cfe--primary--three);
}
.cfe-primary.primary-three-flood {
  flood-color: var(--cfe--primary--three);
}
.cfe-primary.primary-three-stop {
  stop-color: var(--cfe--primary--three);
}
.cfe-primary.primary-four {
  color: var(--cfe--primary--four);
}
.cfe-primary.primary-four-bg {
  background-color: var(--cfe--primary--four);
}
.cfe-primary.primary-four-decoration {
  text-decoration-color: var(--cfe--primary--four);
}
.cfe-primary.primary-four-emphasis {
  -webkit-text-emphasis-color: var(--cfe--primary--four);
          text-emphasis-color: var(--cfe--primary--four);
}
.cfe-primary.primary-four-accent {
  accent-color: var(--cfe--primary--four);
}
.cfe-primary.primary-four-caret {
  caret-color: var(--cfe--primary--four);
}
.cfe-primary.primary-four-border {
  border-color: var(--cfe--primary--four);
}
.cfe-primary.primary-four-outline {
  outline-color: var(--cfe--primary--four);
}
.cfe-primary.primary-four-rule {
  rule-color: var(--cfe--primary--four);
}
.cfe-primary.primary-four-column-rule {
  -moz-column-rule-color: var(--cfe--primary--four);
       column-rule-color: var(--cfe--primary--four);
}
.cfe-primary.primary-four-row-rule {
  row-rule-color: var(--cfe--primary--four);
}
.cfe-primary.primary-four-fill {
  fill: var(--cfe--primary--four);
}
.cfe-primary.primary-four-text-fill {
  -webkit-text-fill-color: var(--cfe--primary--four);
  text-fill-color: var(--cfe--primary--four);
}
.cfe-primary.primary-four-stroke {
  stroke: var(--cfe--primary--four);
}
.cfe-primary.primary-four-text-stroke {
  -webkit-text-stroke-color: var(--cfe--primary--four);
  text-stroke-color: var(--cfe--primary--four);
}
.cfe-primary.primary-four-flood {
  flood-color: var(--cfe--primary--four);
}
.cfe-primary.primary-four-stop {
  stop-color: var(--cfe--primary--four);
}
.cfe-primary.primary-five {
  color: var(--cfe--primary--five);
}
.cfe-primary.primary-five-bg {
  background-color: var(--cfe--primary--five);
}
.cfe-primary.primary-five-decoration {
  text-decoration-color: var(--cfe--primary--five);
}
.cfe-primary.primary-five-emphasis {
  -webkit-text-emphasis-color: var(--cfe--primary--five);
          text-emphasis-color: var(--cfe--primary--five);
}
.cfe-primary.primary-five-accent {
  accent-color: var(--cfe--primary--five);
}
.cfe-primary.primary-five-caret {
  caret-color: var(--cfe--primary--five);
}
.cfe-primary.primary-five-border {
  border-color: var(--cfe--primary--five);
}
.cfe-primary.primary-five-outline {
  outline-color: var(--cfe--primary--five);
}
.cfe-primary.primary-five-rule {
  rule-color: var(--cfe--primary--five);
}
.cfe-primary.primary-five-column-rule {
  -moz-column-rule-color: var(--cfe--primary--five);
       column-rule-color: var(--cfe--primary--five);
}
.cfe-primary.primary-five-row-rule {
  row-rule-color: var(--cfe--primary--five);
}
.cfe-primary.primary-five-fill {
  fill: var(--cfe--primary--five);
}
.cfe-primary.primary-five-text-fill {
  -webkit-text-fill-color: var(--cfe--primary--five);
  text-fill-color: var(--cfe--primary--five);
}
.cfe-primary.primary-five-stroke {
  stroke: var(--cfe--primary--five);
}
.cfe-primary.primary-five-text-stroke {
  -webkit-text-stroke-color: var(--cfe--primary--five);
  text-stroke-color: var(--cfe--primary--five);
}
.cfe-primary.primary-five-flood {
  flood-color: var(--cfe--primary--five);
}
.cfe-primary.primary-five-stop {
  stop-color: var(--cfe--primary--five);
}
.cfe-primary.primary-six {
  color: var(--cfe--primary--six);
}
.cfe-primary.primary-six-bg {
  background-color: var(--cfe--primary--six);
}
.cfe-primary.primary-six-decoration {
  text-decoration-color: var(--cfe--primary--six);
}
.cfe-primary.primary-six-emphasis {
  -webkit-text-emphasis-color: var(--cfe--primary--six);
          text-emphasis-color: var(--cfe--primary--six);
}
.cfe-primary.primary-six-accent {
  accent-color: var(--cfe--primary--six);
}
.cfe-primary.primary-six-caret {
  caret-color: var(--cfe--primary--six);
}
.cfe-primary.primary-six-border {
  border-color: var(--cfe--primary--six);
}
.cfe-primary.primary-six-outline {
  outline-color: var(--cfe--primary--six);
}
.cfe-primary.primary-six-rule {
  rule-color: var(--cfe--primary--six);
}
.cfe-primary.primary-six-column-rule {
  -moz-column-rule-color: var(--cfe--primary--six);
       column-rule-color: var(--cfe--primary--six);
}
.cfe-primary.primary-six-row-rule {
  row-rule-color: var(--cfe--primary--six);
}
.cfe-primary.primary-six-fill {
  fill: var(--cfe--primary--six);
}
.cfe-primary.primary-six-text-fill {
  -webkit-text-fill-color: var(--cfe--primary--six);
  text-fill-color: var(--cfe--primary--six);
}
.cfe-primary.primary-six-stroke {
  stroke: var(--cfe--primary--six);
}
.cfe-primary.primary-six-text-stroke {
  -webkit-text-stroke-color: var(--cfe--primary--six);
  text-stroke-color: var(--cfe--primary--six);
}
.cfe-primary.primary-six-flood {
  flood-color: var(--cfe--primary--six);
}
.cfe-primary.primary-six-stop {
  stop-color: var(--cfe--primary--six);
}
.cfe-primary.primary-body-dark {
  color: var(--cfe--primary--body--dark);
}
.cfe-primary.primary-body-bg-dark {
  background-color: var(--cfe--primary--body--dark);
}
.cfe-primary.primary-body-decoration-dark {
  text-decoration-color: var(--cfe--primary--body--dark);
}
.cfe-primary.primary-body-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--primary--body--dark);
          text-emphasis-color: var(--cfe--primary--body--dark);
}
.cfe-primary.primary-body-accent-dark {
  accent-color: var(--cfe--primary--body--dark);
}
.cfe-primary.primary-body-caret-dark {
  caret-color: var(--cfe--primary--body--dark);
}
.cfe-primary.primary-body-border-dark {
  border-color: var(--cfe--primary--body--dark);
}
.cfe-primary.primary-body-outline-dark {
  outline-color: var(--cfe--primary--body--dark);
}
.cfe-primary.primary-body-rule-dark {
  rule-color: var(--cfe--primary--body--dark);
}
.cfe-primary.primary-body-column-rule-dark {
  -moz-column-rule-color: var(--cfe--primary--body--dark);
       column-rule-color: var(--cfe--primary--body--dark);
}
.cfe-primary.primary-body-row-rule-dark {
  row-rule-color: var(--cfe--primary--body--dark);
}
.cfe-primary.primary-body-fill-dark {
  fill: var(--cfe--primary--body--dark);
}
.cfe-primary.primary-body-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--primary--body--dark);
  text-fill-color: var(--cfe--primary--body--dark);
}
.cfe-primary.primary-body-stroke-dark {
  stroke: var(--cfe--primary--body--dark);
}
.cfe-primary.primary-body-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--primary--body--dark);
  text-stroke-color: var(--cfe--primary--body--dark);
}
.cfe-primary.primary-body-flood-dark {
  flood-color: var(--cfe--primary--body--dark);
}
.cfe-primary.primary-body-stop-dark {
  stop-color: var(--cfe--primary--body--dark);
}
.cfe-primary.primary-text-dark {
  color: var(--cfe--primary--text--dark);
}
.cfe-primary.primary-text-bg-dark {
  background-color: var(--cfe--primary--text--dark);
}
.cfe-primary.primary-text-decoration-dark {
  text-decoration-color: var(--cfe--primary--text--dark);
}
.cfe-primary.primary-text-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--primary--text--dark);
          text-emphasis-color: var(--cfe--primary--text--dark);
}
.cfe-primary.primary-text-accent-dark {
  accent-color: var(--cfe--primary--text--dark);
}
.cfe-primary.primary-text-caret-dark {
  caret-color: var(--cfe--primary--text--dark);
}
.cfe-primary.primary-text-border-dark {
  border-color: var(--cfe--primary--text--dark);
}
.cfe-primary.primary-text-outline-dark {
  outline-color: var(--cfe--primary--text--dark);
}
.cfe-primary.primary-text-rule-dark {
  rule-color: var(--cfe--primary--text--dark);
}
.cfe-primary.primary-text-column-rule-dark {
  -moz-column-rule-color: var(--cfe--primary--text--dark);
       column-rule-color: var(--cfe--primary--text--dark);
}
.cfe-primary.primary-text-row-rule-dark {
  row-rule-color: var(--cfe--primary--text--dark);
}
.cfe-primary.primary-text-fill-dark {
  fill: var(--cfe--primary--text--dark);
}
.cfe-primary.primary-text-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--primary--text--dark);
  text-fill-color: var(--cfe--primary--text--dark);
}
.cfe-primary.primary-text-stroke-dark {
  stroke: var(--cfe--primary--text--dark);
}
.cfe-primary.primary-text-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--primary--text--dark);
  text-stroke-color: var(--cfe--primary--text--dark);
}
.cfe-primary.primary-text-flood-dark {
  flood-color: var(--cfe--primary--text--dark);
}
.cfe-primary.primary-text-stop-dark {
  stop-color: var(--cfe--primary--text--dark);
}
.cfe-primary.primary-one-dark {
  color: var(--cfe--primary--one--dark);
}
.cfe-primary.primary-one-bg-dark {
  background-color: var(--cfe--primary--one--dark);
}
.cfe-primary.primary-one-decoration-dark {
  text-decoration-color: var(--cfe--primary--one--dark);
}
.cfe-primary.primary-one-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--primary--one--dark);
          text-emphasis-color: var(--cfe--primary--one--dark);
}
.cfe-primary.primary-one-accent-dark {
  accent-color: var(--cfe--primary--one--dark);
}
.cfe-primary.primary-one-caret-dark {
  caret-color: var(--cfe--primary--one--dark);
}
.cfe-primary.primary-one-border-dark {
  border-color: var(--cfe--primary--one--dark);
}
.cfe-primary.primary-one-outline-dark {
  outline-color: var(--cfe--primary--one--dark);
}
.cfe-primary.primary-one-rule-dark {
  rule-color: var(--cfe--primary--one--dark);
}
.cfe-primary.primary-one-column-rule-dark {
  -moz-column-rule-color: var(--cfe--primary--one--dark);
       column-rule-color: var(--cfe--primary--one--dark);
}
.cfe-primary.primary-one-row-rule-dark {
  row-rule-color: var(--cfe--primary--one--dark);
}
.cfe-primary.primary-one-fill-dark {
  fill: var(--cfe--primary--one--dark);
}
.cfe-primary.primary-one-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--primary--one--dark);
  text-fill-color: var(--cfe--primary--one--dark);
}
.cfe-primary.primary-one-stroke-dark {
  stroke: var(--cfe--primary--one--dark);
}
.cfe-primary.primary-one-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--primary--one--dark);
  text-stroke-color: var(--cfe--primary--one--dark);
}
.cfe-primary.primary-one-flood-dark {
  flood-color: var(--cfe--primary--one--dark);
}
.cfe-primary.primary-one-stop-dark {
  stop-color: var(--cfe--primary--one--dark);
}
.cfe-primary.primary-two-dark {
  color: var(--cfe--primary--two--dark);
}
.cfe-primary.primary-two-bg-dark {
  background-color: var(--cfe--primary--two--dark);
}
.cfe-primary.primary-two-decoration-dark {
  text-decoration-color: var(--cfe--primary--two--dark);
}
.cfe-primary.primary-two-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--primary--two--dark);
          text-emphasis-color: var(--cfe--primary--two--dark);
}
.cfe-primary.primary-two-accent-dark {
  accent-color: var(--cfe--primary--two--dark);
}
.cfe-primary.primary-two-caret-dark {
  caret-color: var(--cfe--primary--two--dark);
}
.cfe-primary.primary-two-border-dark {
  border-color: var(--cfe--primary--two--dark);
}
.cfe-primary.primary-two-outline-dark {
  outline-color: var(--cfe--primary--two--dark);
}
.cfe-primary.primary-two-rule-dark {
  rule-color: var(--cfe--primary--two--dark);
}
.cfe-primary.primary-two-column-rule-dark {
  -moz-column-rule-color: var(--cfe--primary--two--dark);
       column-rule-color: var(--cfe--primary--two--dark);
}
.cfe-primary.primary-two-row-rule-dark {
  row-rule-color: var(--cfe--primary--two--dark);
}
.cfe-primary.primary-two-fill-dark {
  fill: var(--cfe--primary--two--dark);
}
.cfe-primary.primary-two-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--primary--two--dark);
  text-fill-color: var(--cfe--primary--two--dark);
}
.cfe-primary.primary-two-stroke-dark {
  stroke: var(--cfe--primary--two--dark);
}
.cfe-primary.primary-two-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--primary--two--dark);
  text-stroke-color: var(--cfe--primary--two--dark);
}
.cfe-primary.primary-two-flood-dark {
  flood-color: var(--cfe--primary--two--dark);
}
.cfe-primary.primary-two-stop-dark {
  stop-color: var(--cfe--primary--two--dark);
}
.cfe-primary.primary-three-dark {
  color: var(--cfe--primary--three--dark);
}
.cfe-primary.primary-three-bg-dark {
  background-color: var(--cfe--primary--three--dark);
}
.cfe-primary.primary-three-decoration-dark {
  text-decoration-color: var(--cfe--primary--three--dark);
}
.cfe-primary.primary-three-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--primary--three--dark);
          text-emphasis-color: var(--cfe--primary--three--dark);
}
.cfe-primary.primary-three-accent-dark {
  accent-color: var(--cfe--primary--three--dark);
}
.cfe-primary.primary-three-caret-dark {
  caret-color: var(--cfe--primary--three--dark);
}
.cfe-primary.primary-three-border-dark {
  border-color: var(--cfe--primary--three--dark);
}
.cfe-primary.primary-three-outline-dark {
  outline-color: var(--cfe--primary--three--dark);
}
.cfe-primary.primary-three-rule-dark {
  rule-color: var(--cfe--primary--three--dark);
}
.cfe-primary.primary-three-column-rule-dark {
  -moz-column-rule-color: var(--cfe--primary--three--dark);
       column-rule-color: var(--cfe--primary--three--dark);
}
.cfe-primary.primary-three-row-rule-dark {
  row-rule-color: var(--cfe--primary--three--dark);
}
.cfe-primary.primary-three-fill-dark {
  fill: var(--cfe--primary--three--dark);
}
.cfe-primary.primary-three-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--primary--three--dark);
  text-fill-color: var(--cfe--primary--three--dark);
}
.cfe-primary.primary-three-stroke-dark {
  stroke: var(--cfe--primary--three--dark);
}
.cfe-primary.primary-three-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--primary--three--dark);
  text-stroke-color: var(--cfe--primary--three--dark);
}
.cfe-primary.primary-three-flood-dark {
  flood-color: var(--cfe--primary--three--dark);
}
.cfe-primary.primary-three-stop-dark {
  stop-color: var(--cfe--primary--three--dark);
}
.cfe-primary.primary-four-dark {
  color: var(--cfe--primary--four--dark);
}
.cfe-primary.primary-four-bg-dark {
  background-color: var(--cfe--primary--four--dark);
}
.cfe-primary.primary-four-decoration-dark {
  text-decoration-color: var(--cfe--primary--four--dark);
}
.cfe-primary.primary-four-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--primary--four--dark);
          text-emphasis-color: var(--cfe--primary--four--dark);
}
.cfe-primary.primary-four-accent-dark {
  accent-color: var(--cfe--primary--four--dark);
}
.cfe-primary.primary-four-caret-dark {
  caret-color: var(--cfe--primary--four--dark);
}
.cfe-primary.primary-four-border-dark {
  border-color: var(--cfe--primary--four--dark);
}
.cfe-primary.primary-four-outline-dark {
  outline-color: var(--cfe--primary--four--dark);
}
.cfe-primary.primary-four-rule-dark {
  rule-color: var(--cfe--primary--four--dark);
}
.cfe-primary.primary-four-column-rule-dark {
  -moz-column-rule-color: var(--cfe--primary--four--dark);
       column-rule-color: var(--cfe--primary--four--dark);
}
.cfe-primary.primary-four-row-rule-dark {
  row-rule-color: var(--cfe--primary--four--dark);
}
.cfe-primary.primary-four-fill-dark {
  fill: var(--cfe--primary--four--dark);
}
.cfe-primary.primary-four-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--primary--four--dark);
  text-fill-color: var(--cfe--primary--four--dark);
}
.cfe-primary.primary-four-stroke-dark {
  stroke: var(--cfe--primary--four--dark);
}
.cfe-primary.primary-four-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--primary--four--dark);
  text-stroke-color: var(--cfe--primary--four--dark);
}
.cfe-primary.primary-four-flood-dark {
  flood-color: var(--cfe--primary--four--dark);
}
.cfe-primary.primary-four-stop-dark {
  stop-color: var(--cfe--primary--four--dark);
}
.cfe-primary.primary-five-dark {
  color: var(--cfe--primary--five--dark);
}
.cfe-primary.primary-five-bg-dark {
  background-color: var(--cfe--primary--five--dark);
}
.cfe-primary.primary-five-decoration-dark {
  text-decoration-color: var(--cfe--primary--five--dark);
}
.cfe-primary.primary-five-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--primary--five--dark);
          text-emphasis-color: var(--cfe--primary--five--dark);
}
.cfe-primary.primary-five-accent-dark {
  accent-color: var(--cfe--primary--five--dark);
}
.cfe-primary.primary-five-caret-dark {
  caret-color: var(--cfe--primary--five--dark);
}
.cfe-primary.primary-five-border-dark {
  border-color: var(--cfe--primary--five--dark);
}
.cfe-primary.primary-five-outline-dark {
  outline-color: var(--cfe--primary--five--dark);
}
.cfe-primary.primary-five-rule-dark {
  rule-color: var(--cfe--primary--five--dark);
}
.cfe-primary.primary-five-column-rule-dark {
  -moz-column-rule-color: var(--cfe--primary--five--dark);
       column-rule-color: var(--cfe--primary--five--dark);
}
.cfe-primary.primary-five-row-rule-dark {
  row-rule-color: var(--cfe--primary--five--dark);
}
.cfe-primary.primary-five-fill-dark {
  fill: var(--cfe--primary--five--dark);
}
.cfe-primary.primary-five-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--primary--five--dark);
  text-fill-color: var(--cfe--primary--five--dark);
}
.cfe-primary.primary-five-stroke-dark {
  stroke: var(--cfe--primary--five--dark);
}
.cfe-primary.primary-five-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--primary--five--dark);
  text-stroke-color: var(--cfe--primary--five--dark);
}
.cfe-primary.primary-five-flood-dark {
  flood-color: var(--cfe--primary--five--dark);
}
.cfe-primary.primary-five-stop-dark {
  stop-color: var(--cfe--primary--five--dark);
}
.cfe-primary.primary-six-dark {
  color: var(--cfe--primary--six--dark);
}
.cfe-primary.primary-six-bg-dark {
  background-color: var(--cfe--primary--six--dark);
}
.cfe-primary.primary-six-decoration-dark {
  text-decoration-color: var(--cfe--primary--six--dark);
}
.cfe-primary.primary-six-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--primary--six--dark);
          text-emphasis-color: var(--cfe--primary--six--dark);
}
.cfe-primary.primary-six-accent-dark {
  accent-color: var(--cfe--primary--six--dark);
}
.cfe-primary.primary-six-caret-dark {
  caret-color: var(--cfe--primary--six--dark);
}
.cfe-primary.primary-six-border-dark {
  border-color: var(--cfe--primary--six--dark);
}
.cfe-primary.primary-six-outline-dark {
  outline-color: var(--cfe--primary--six--dark);
}
.cfe-primary.primary-six-rule-dark {
  rule-color: var(--cfe--primary--six--dark);
}
.cfe-primary.primary-six-column-rule-dark {
  -moz-column-rule-color: var(--cfe--primary--six--dark);
       column-rule-color: var(--cfe--primary--six--dark);
}
.cfe-primary.primary-six-row-rule-dark {
  row-rule-color: var(--cfe--primary--six--dark);
}
.cfe-primary.primary-six-fill-dark {
  fill: var(--cfe--primary--six--dark);
}
.cfe-primary.primary-six-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--primary--six--dark);
  text-fill-color: var(--cfe--primary--six--dark);
}
.cfe-primary.primary-six-stroke-dark {
  stroke: var(--cfe--primary--six--dark);
}
.cfe-primary.primary-six-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--primary--six--dark);
  text-stroke-color: var(--cfe--primary--six--dark);
}
.cfe-primary.primary-six-flood-dark {
  flood-color: var(--cfe--primary--six--dark);
}
.cfe-primary.primary-six-stop-dark {
  stop-color: var(--cfe--primary--six--dark);
}