///
/// SCSS variables
///

$palette: 'muromachi-03';
$media: #a7b86b;
$light: (
	'body'  : #f8f4e9,
	'text'  : #2b2418,
	'one'   : #6c5a3c,
	'two'   : #a7b86b,
	'three' : #a7b86b,
	'four'  : #6c5a3c,
	'five'  : #6c5a3c,
	'six'   : #a7b86b
);
$dark: (
	'body'  : #2b2418,
	'text'  : #f8f4e9,
	'one'   : #a7b86b,
	'two'   : #f8f4e9,
	'three' : #a7b86b,
	'four'  : #6c5a3c,
	'five'  : #6c5a3c,
	'six'   : #a7b86b
);
