:host,
:root {
  --cfe-scheme-color--body: #f8f4e9;
  --cfe-scheme-color--text: #1c1c1c;
  --cfe-scheme-color--one: #86a146;
  --cfe-scheme-color--two: #a7c957;
  --cfe-scheme-color--three: #a7c957;
  --cfe-scheme-color--four: #1c1c1c;
  --cfe-scheme-color--five: #1c1c1c;
  --cfe-scheme-color--six: #a7c957;
  --cfe-scheme-color--body--dark: #1c1c1c;
  --cfe-scheme-color--text--dark: #f8f4e9;
  --cfe-scheme-color--one--dark: #a7c957;
  --cfe-scheme-color--two--dark: #f8f4e9;
  --cfe-scheme-color--three--dark: #a7c957;
  --cfe-scheme-color--four--dark: #1c1c1c;
  --cfe-scheme-color--five--dark: #1c1c1c;
  --cfe-scheme-color--six--dark: #a7c957;
  --cfe-cover-blend--bg-color: c.$media;
}