///
/// SCSS variables
///

$palette: 'tw-red';
$media: #fb2c36;
$light: (
	'body'  : #fef2f2,
	'text'  : #460809,
	'one'   : #c10007,
	'two'   : #fb2c36,
	'three' : #fb2c36,
	'four'  : #c10007,
	'five'  : #c10007,
	'six'   : #fb2c36
);
$dark: (
	'body'  : #460809,
	'text'  : #fef2f2,
	'one'   : #71ddbd,
	'two'   : #fb2c36,
	'three' : #fb2c36,
	'four'  : #c10007,
	'five'  : #c10007,
	'six'   : #fb2c36
);
