:host,
:root {
  --cfe-scheme-color--body: #ffffff;
  --cfe-scheme-color--text: #272129;
  --cfe-scheme-color--one: #a0b43c;
  --cfe-scheme-color--two: #c5ac6b;
  --cfe-scheme-color--three: #a0b43c;
  --cfe-scheme-color--four: #719a32;
  --cfe-scheme-color--five: #a0b43c;
  --cfe-scheme-color--six: #437742;
  --cfe-scheme-color--body--dark: #272129;
  --cfe-scheme-color--text--dark: #eeeeee;
  --cfe-scheme-color--one--dark: #a0b43c;
  --cfe-scheme-color--two--dark: #c5ac6b;
  --cfe-scheme-color--three--dark: #a0b43c;
  --cfe-scheme-color--four--dark: #719a32;
  --cfe-scheme-color--five--dark: #a0b43c;
  --cfe-scheme-color--six--dark: #437742;
  --cfe-button--primary--bg-color: var( --cfe-scheme-color--four );
  --cfe-button--primary--bg-color--dark: var( --cfe-scheme-color--four );
}