///
/// CSS properties
///

@use 'sass:map';
@use '../../../../modules/functions' as f;
@use '../../../../modules/colors' as general;
@use '../modules/colors' as c;

:host,
:root {
	@each $name, $color in c.$light {
		--cfe-scheme-color--#{$name}: #{$color};
	}
	@each $name, $color in c.$dark {
		--cfe-scheme-color--#{$name}--dark: #{$color};
	}
	--cfe-box--border-color: #{rgba( $color: map.get( c.$light, 'text' ), $alpha: 0.5 )};
	--cfe-button--primary--bg-color: #{general.$blue};
	--cfe-button--primary--bg-color--dark: #{general.$blue};
	--cfe-button--primary--border-color: #{general.$blue};
	--cfe-button--primary--border-color--dark: #{general.$blue};
}
