///
/// SCSS variables
///

$palette: 'heian-05';
$media: #88b9c4;
$light: (
	'body'  : #f8f4e9,
	'text'  : #1c1c1c,
	'one'   : #88b9c4,
	'two'   : #dccb6e,
	'three' : #88b9c4,
	'four'  : #dccb6e,
	'five'  : #dccb6e,
	'six'   : #88b9c4
);
$dark: (
	'body'  : #1c1c1c,
	'text'  : #f8f4e9,
	'one'   : #88b9c4,
	'two'   : #dccb6e,
	'three' : #88b9c4,
	'four'  : #dccb6e,
	'five'  : #dccb6e,
	'six'   : #88b9c4
);
