:host,
:root {
  --cfe-scheme-wedding--body: #ffffff;
  --cfe-scheme-wedding--text: #28170b;
  --cfe-scheme-wedding--one: #65391c;
  --cfe-scheme-wedding--two: #a05a2c;
  --cfe-scheme-wedding--three: #0081a1;
  --cfe-scheme-wedding--four: #21aed3;
  --cfe-scheme-wedding--five: #f93c5a;
  --cfe-scheme-wedding--six: #ff7575;
  --cfe-scheme-wedding--body--dark: #28170b;
  --cfe-scheme-wedding--text--dark: #eeeeee;
  --cfe-scheme-wedding--one--dark: #c59f6b;
  --cfe-scheme-wedding--two--dark: #ab602f;
  --cfe-scheme-wedding--three--dark: #0081a1;
  --cfe-scheme-wedding--four--dark: #21aed3;
  --cfe-scheme-wedding--five--dark: #f93c5a;
  --cfe-scheme-wedding--six--dark: #ff7575;
}

.cfe-wedding.wedding-body {
  color: var(--cfe--wedding--body);
}
.cfe-wedding.wedding-body-bg {
  background-color: var(--cfe--wedding--body);
}
.cfe-wedding.wedding-body-decoration {
  text-decoration-color: var(--cfe--wedding--body);
}
.cfe-wedding.wedding-body-emphasis {
  -webkit-text-emphasis-color: var(--cfe--wedding--body);
          text-emphasis-color: var(--cfe--wedding--body);
}
.cfe-wedding.wedding-body-accent {
  accent-color: var(--cfe--wedding--body);
}
.cfe-wedding.wedding-body-caret {
  caret-color: var(--cfe--wedding--body);
}
.cfe-wedding.wedding-body-border {
  border-color: var(--cfe--wedding--body);
}
.cfe-wedding.wedding-body-outline {
  outline-color: var(--cfe--wedding--body);
}
.cfe-wedding.wedding-body-rule {
  rule-color: var(--cfe--wedding--body);
}
.cfe-wedding.wedding-body-column-rule {
  -moz-column-rule-color: var(--cfe--wedding--body);
       column-rule-color: var(--cfe--wedding--body);
}
.cfe-wedding.wedding-body-row-rule {
  row-rule-color: var(--cfe--wedding--body);
}
.cfe-wedding.wedding-body-fill {
  fill: var(--cfe--wedding--body);
}
.cfe-wedding.wedding-body-text-fill {
  -webkit-text-fill-color: var(--cfe--wedding--body);
  text-fill-color: var(--cfe--wedding--body);
}
.cfe-wedding.wedding-body-stroke {
  stroke: var(--cfe--wedding--body);
}
.cfe-wedding.wedding-body-text-stroke {
  -webkit-text-stroke-color: var(--cfe--wedding--body);
  text-stroke-color: var(--cfe--wedding--body);
}
.cfe-wedding.wedding-body-flood {
  flood-color: var(--cfe--wedding--body);
}
.cfe-wedding.wedding-body-stop {
  stop-color: var(--cfe--wedding--body);
}
.cfe-wedding.wedding-text {
  color: var(--cfe--wedding--text);
}
.cfe-wedding.wedding-text-bg {
  background-color: var(--cfe--wedding--text);
}
.cfe-wedding.wedding-text-decoration {
  text-decoration-color: var(--cfe--wedding--text);
}
.cfe-wedding.wedding-text-emphasis {
  -webkit-text-emphasis-color: var(--cfe--wedding--text);
          text-emphasis-color: var(--cfe--wedding--text);
}
.cfe-wedding.wedding-text-accent {
  accent-color: var(--cfe--wedding--text);
}
.cfe-wedding.wedding-text-caret {
  caret-color: var(--cfe--wedding--text);
}
.cfe-wedding.wedding-text-border {
  border-color: var(--cfe--wedding--text);
}
.cfe-wedding.wedding-text-outline {
  outline-color: var(--cfe--wedding--text);
}
.cfe-wedding.wedding-text-rule {
  rule-color: var(--cfe--wedding--text);
}
.cfe-wedding.wedding-text-column-rule {
  -moz-column-rule-color: var(--cfe--wedding--text);
       column-rule-color: var(--cfe--wedding--text);
}
.cfe-wedding.wedding-text-row-rule {
  row-rule-color: var(--cfe--wedding--text);
}
.cfe-wedding.wedding-text-fill {
  fill: var(--cfe--wedding--text);
}
.cfe-wedding.wedding-text-text-fill {
  -webkit-text-fill-color: var(--cfe--wedding--text);
  text-fill-color: var(--cfe--wedding--text);
}
.cfe-wedding.wedding-text-stroke {
  stroke: var(--cfe--wedding--text);
}
.cfe-wedding.wedding-text-text-stroke {
  -webkit-text-stroke-color: var(--cfe--wedding--text);
  text-stroke-color: var(--cfe--wedding--text);
}
.cfe-wedding.wedding-text-flood {
  flood-color: var(--cfe--wedding--text);
}
.cfe-wedding.wedding-text-stop {
  stop-color: var(--cfe--wedding--text);
}
.cfe-wedding.wedding-one {
  color: var(--cfe--wedding--one);
}
.cfe-wedding.wedding-one-bg {
  background-color: var(--cfe--wedding--one);
}
.cfe-wedding.wedding-one-decoration {
  text-decoration-color: var(--cfe--wedding--one);
}
.cfe-wedding.wedding-one-emphasis {
  -webkit-text-emphasis-color: var(--cfe--wedding--one);
          text-emphasis-color: var(--cfe--wedding--one);
}
.cfe-wedding.wedding-one-accent {
  accent-color: var(--cfe--wedding--one);
}
.cfe-wedding.wedding-one-caret {
  caret-color: var(--cfe--wedding--one);
}
.cfe-wedding.wedding-one-border {
  border-color: var(--cfe--wedding--one);
}
.cfe-wedding.wedding-one-outline {
  outline-color: var(--cfe--wedding--one);
}
.cfe-wedding.wedding-one-rule {
  rule-color: var(--cfe--wedding--one);
}
.cfe-wedding.wedding-one-column-rule {
  -moz-column-rule-color: var(--cfe--wedding--one);
       column-rule-color: var(--cfe--wedding--one);
}
.cfe-wedding.wedding-one-row-rule {
  row-rule-color: var(--cfe--wedding--one);
}
.cfe-wedding.wedding-one-fill {
  fill: var(--cfe--wedding--one);
}
.cfe-wedding.wedding-one-text-fill {
  -webkit-text-fill-color: var(--cfe--wedding--one);
  text-fill-color: var(--cfe--wedding--one);
}
.cfe-wedding.wedding-one-stroke {
  stroke: var(--cfe--wedding--one);
}
.cfe-wedding.wedding-one-text-stroke {
  -webkit-text-stroke-color: var(--cfe--wedding--one);
  text-stroke-color: var(--cfe--wedding--one);
}
.cfe-wedding.wedding-one-flood {
  flood-color: var(--cfe--wedding--one);
}
.cfe-wedding.wedding-one-stop {
  stop-color: var(--cfe--wedding--one);
}
.cfe-wedding.wedding-two {
  color: var(--cfe--wedding--two);
}
.cfe-wedding.wedding-two-bg {
  background-color: var(--cfe--wedding--two);
}
.cfe-wedding.wedding-two-decoration {
  text-decoration-color: var(--cfe--wedding--two);
}
.cfe-wedding.wedding-two-emphasis {
  -webkit-text-emphasis-color: var(--cfe--wedding--two);
          text-emphasis-color: var(--cfe--wedding--two);
}
.cfe-wedding.wedding-two-accent {
  accent-color: var(--cfe--wedding--two);
}
.cfe-wedding.wedding-two-caret {
  caret-color: var(--cfe--wedding--two);
}
.cfe-wedding.wedding-two-border {
  border-color: var(--cfe--wedding--two);
}
.cfe-wedding.wedding-two-outline {
  outline-color: var(--cfe--wedding--two);
}
.cfe-wedding.wedding-two-rule {
  rule-color: var(--cfe--wedding--two);
}
.cfe-wedding.wedding-two-column-rule {
  -moz-column-rule-color: var(--cfe--wedding--two);
       column-rule-color: var(--cfe--wedding--two);
}
.cfe-wedding.wedding-two-row-rule {
  row-rule-color: var(--cfe--wedding--two);
}
.cfe-wedding.wedding-two-fill {
  fill: var(--cfe--wedding--two);
}
.cfe-wedding.wedding-two-text-fill {
  -webkit-text-fill-color: var(--cfe--wedding--two);
  text-fill-color: var(--cfe--wedding--two);
}
.cfe-wedding.wedding-two-stroke {
  stroke: var(--cfe--wedding--two);
}
.cfe-wedding.wedding-two-text-stroke {
  -webkit-text-stroke-color: var(--cfe--wedding--two);
  text-stroke-color: var(--cfe--wedding--two);
}
.cfe-wedding.wedding-two-flood {
  flood-color: var(--cfe--wedding--two);
}
.cfe-wedding.wedding-two-stop {
  stop-color: var(--cfe--wedding--two);
}
.cfe-wedding.wedding-three {
  color: var(--cfe--wedding--three);
}
.cfe-wedding.wedding-three-bg {
  background-color: var(--cfe--wedding--three);
}
.cfe-wedding.wedding-three-decoration {
  text-decoration-color: var(--cfe--wedding--three);
}
.cfe-wedding.wedding-three-emphasis {
  -webkit-text-emphasis-color: var(--cfe--wedding--three);
          text-emphasis-color: var(--cfe--wedding--three);
}
.cfe-wedding.wedding-three-accent {
  accent-color: var(--cfe--wedding--three);
}
.cfe-wedding.wedding-three-caret {
  caret-color: var(--cfe--wedding--three);
}
.cfe-wedding.wedding-three-border {
  border-color: var(--cfe--wedding--three);
}
.cfe-wedding.wedding-three-outline {
  outline-color: var(--cfe--wedding--three);
}
.cfe-wedding.wedding-three-rule {
  rule-color: var(--cfe--wedding--three);
}
.cfe-wedding.wedding-three-column-rule {
  -moz-column-rule-color: var(--cfe--wedding--three);
       column-rule-color: var(--cfe--wedding--three);
}
.cfe-wedding.wedding-three-row-rule {
  row-rule-color: var(--cfe--wedding--three);
}
.cfe-wedding.wedding-three-fill {
  fill: var(--cfe--wedding--three);
}
.cfe-wedding.wedding-three-text-fill {
  -webkit-text-fill-color: var(--cfe--wedding--three);
  text-fill-color: var(--cfe--wedding--three);
}
.cfe-wedding.wedding-three-stroke {
  stroke: var(--cfe--wedding--three);
}
.cfe-wedding.wedding-three-text-stroke {
  -webkit-text-stroke-color: var(--cfe--wedding--three);
  text-stroke-color: var(--cfe--wedding--three);
}
.cfe-wedding.wedding-three-flood {
  flood-color: var(--cfe--wedding--three);
}
.cfe-wedding.wedding-three-stop {
  stop-color: var(--cfe--wedding--three);
}
.cfe-wedding.wedding-four {
  color: var(--cfe--wedding--four);
}
.cfe-wedding.wedding-four-bg {
  background-color: var(--cfe--wedding--four);
}
.cfe-wedding.wedding-four-decoration {
  text-decoration-color: var(--cfe--wedding--four);
}
.cfe-wedding.wedding-four-emphasis {
  -webkit-text-emphasis-color: var(--cfe--wedding--four);
          text-emphasis-color: var(--cfe--wedding--four);
}
.cfe-wedding.wedding-four-accent {
  accent-color: var(--cfe--wedding--four);
}
.cfe-wedding.wedding-four-caret {
  caret-color: var(--cfe--wedding--four);
}
.cfe-wedding.wedding-four-border {
  border-color: var(--cfe--wedding--four);
}
.cfe-wedding.wedding-four-outline {
  outline-color: var(--cfe--wedding--four);
}
.cfe-wedding.wedding-four-rule {
  rule-color: var(--cfe--wedding--four);
}
.cfe-wedding.wedding-four-column-rule {
  -moz-column-rule-color: var(--cfe--wedding--four);
       column-rule-color: var(--cfe--wedding--four);
}
.cfe-wedding.wedding-four-row-rule {
  row-rule-color: var(--cfe--wedding--four);
}
.cfe-wedding.wedding-four-fill {
  fill: var(--cfe--wedding--four);
}
.cfe-wedding.wedding-four-text-fill {
  -webkit-text-fill-color: var(--cfe--wedding--four);
  text-fill-color: var(--cfe--wedding--four);
}
.cfe-wedding.wedding-four-stroke {
  stroke: var(--cfe--wedding--four);
}
.cfe-wedding.wedding-four-text-stroke {
  -webkit-text-stroke-color: var(--cfe--wedding--four);
  text-stroke-color: var(--cfe--wedding--four);
}
.cfe-wedding.wedding-four-flood {
  flood-color: var(--cfe--wedding--four);
}
.cfe-wedding.wedding-four-stop {
  stop-color: var(--cfe--wedding--four);
}
.cfe-wedding.wedding-five {
  color: var(--cfe--wedding--five);
}
.cfe-wedding.wedding-five-bg {
  background-color: var(--cfe--wedding--five);
}
.cfe-wedding.wedding-five-decoration {
  text-decoration-color: var(--cfe--wedding--five);
}
.cfe-wedding.wedding-five-emphasis {
  -webkit-text-emphasis-color: var(--cfe--wedding--five);
          text-emphasis-color: var(--cfe--wedding--five);
}
.cfe-wedding.wedding-five-accent {
  accent-color: var(--cfe--wedding--five);
}
.cfe-wedding.wedding-five-caret {
  caret-color: var(--cfe--wedding--five);
}
.cfe-wedding.wedding-five-border {
  border-color: var(--cfe--wedding--five);
}
.cfe-wedding.wedding-five-outline {
  outline-color: var(--cfe--wedding--five);
}
.cfe-wedding.wedding-five-rule {
  rule-color: var(--cfe--wedding--five);
}
.cfe-wedding.wedding-five-column-rule {
  -moz-column-rule-color: var(--cfe--wedding--five);
       column-rule-color: var(--cfe--wedding--five);
}
.cfe-wedding.wedding-five-row-rule {
  row-rule-color: var(--cfe--wedding--five);
}
.cfe-wedding.wedding-five-fill {
  fill: var(--cfe--wedding--five);
}
.cfe-wedding.wedding-five-text-fill {
  -webkit-text-fill-color: var(--cfe--wedding--five);
  text-fill-color: var(--cfe--wedding--five);
}
.cfe-wedding.wedding-five-stroke {
  stroke: var(--cfe--wedding--five);
}
.cfe-wedding.wedding-five-text-stroke {
  -webkit-text-stroke-color: var(--cfe--wedding--five);
  text-stroke-color: var(--cfe--wedding--five);
}
.cfe-wedding.wedding-five-flood {
  flood-color: var(--cfe--wedding--five);
}
.cfe-wedding.wedding-five-stop {
  stop-color: var(--cfe--wedding--five);
}
.cfe-wedding.wedding-six {
  color: var(--cfe--wedding--six);
}
.cfe-wedding.wedding-six-bg {
  background-color: var(--cfe--wedding--six);
}
.cfe-wedding.wedding-six-decoration {
  text-decoration-color: var(--cfe--wedding--six);
}
.cfe-wedding.wedding-six-emphasis {
  -webkit-text-emphasis-color: var(--cfe--wedding--six);
          text-emphasis-color: var(--cfe--wedding--six);
}
.cfe-wedding.wedding-six-accent {
  accent-color: var(--cfe--wedding--six);
}
.cfe-wedding.wedding-six-caret {
  caret-color: var(--cfe--wedding--six);
}
.cfe-wedding.wedding-six-border {
  border-color: var(--cfe--wedding--six);
}
.cfe-wedding.wedding-six-outline {
  outline-color: var(--cfe--wedding--six);
}
.cfe-wedding.wedding-six-rule {
  rule-color: var(--cfe--wedding--six);
}
.cfe-wedding.wedding-six-column-rule {
  -moz-column-rule-color: var(--cfe--wedding--six);
       column-rule-color: var(--cfe--wedding--six);
}
.cfe-wedding.wedding-six-row-rule {
  row-rule-color: var(--cfe--wedding--six);
}
.cfe-wedding.wedding-six-fill {
  fill: var(--cfe--wedding--six);
}
.cfe-wedding.wedding-six-text-fill {
  -webkit-text-fill-color: var(--cfe--wedding--six);
  text-fill-color: var(--cfe--wedding--six);
}
.cfe-wedding.wedding-six-stroke {
  stroke: var(--cfe--wedding--six);
}
.cfe-wedding.wedding-six-text-stroke {
  -webkit-text-stroke-color: var(--cfe--wedding--six);
  text-stroke-color: var(--cfe--wedding--six);
}
.cfe-wedding.wedding-six-flood {
  flood-color: var(--cfe--wedding--six);
}
.cfe-wedding.wedding-six-stop {
  stop-color: var(--cfe--wedding--six);
}
.cfe-wedding.wedding-body-dark {
  color: var(--cfe--wedding--body--dark);
}
.cfe-wedding.wedding-body-bg-dark {
  background-color: var(--cfe--wedding--body--dark);
}
.cfe-wedding.wedding-body-decoration-dark {
  text-decoration-color: var(--cfe--wedding--body--dark);
}
.cfe-wedding.wedding-body-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--wedding--body--dark);
          text-emphasis-color: var(--cfe--wedding--body--dark);
}
.cfe-wedding.wedding-body-accent-dark {
  accent-color: var(--cfe--wedding--body--dark);
}
.cfe-wedding.wedding-body-caret-dark {
  caret-color: var(--cfe--wedding--body--dark);
}
.cfe-wedding.wedding-body-border-dark {
  border-color: var(--cfe--wedding--body--dark);
}
.cfe-wedding.wedding-body-outline-dark {
  outline-color: var(--cfe--wedding--body--dark);
}
.cfe-wedding.wedding-body-rule-dark {
  rule-color: var(--cfe--wedding--body--dark);
}
.cfe-wedding.wedding-body-column-rule-dark {
  -moz-column-rule-color: var(--cfe--wedding--body--dark);
       column-rule-color: var(--cfe--wedding--body--dark);
}
.cfe-wedding.wedding-body-row-rule-dark {
  row-rule-color: var(--cfe--wedding--body--dark);
}
.cfe-wedding.wedding-body-fill-dark {
  fill: var(--cfe--wedding--body--dark);
}
.cfe-wedding.wedding-body-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--wedding--body--dark);
  text-fill-color: var(--cfe--wedding--body--dark);
}
.cfe-wedding.wedding-body-stroke-dark {
  stroke: var(--cfe--wedding--body--dark);
}
.cfe-wedding.wedding-body-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--wedding--body--dark);
  text-stroke-color: var(--cfe--wedding--body--dark);
}
.cfe-wedding.wedding-body-flood-dark {
  flood-color: var(--cfe--wedding--body--dark);
}
.cfe-wedding.wedding-body-stop-dark {
  stop-color: var(--cfe--wedding--body--dark);
}
.cfe-wedding.wedding-text-dark {
  color: var(--cfe--wedding--text--dark);
}
.cfe-wedding.wedding-text-bg-dark {
  background-color: var(--cfe--wedding--text--dark);
}
.cfe-wedding.wedding-text-decoration-dark {
  text-decoration-color: var(--cfe--wedding--text--dark);
}
.cfe-wedding.wedding-text-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--wedding--text--dark);
          text-emphasis-color: var(--cfe--wedding--text--dark);
}
.cfe-wedding.wedding-text-accent-dark {
  accent-color: var(--cfe--wedding--text--dark);
}
.cfe-wedding.wedding-text-caret-dark {
  caret-color: var(--cfe--wedding--text--dark);
}
.cfe-wedding.wedding-text-border-dark {
  border-color: var(--cfe--wedding--text--dark);
}
.cfe-wedding.wedding-text-outline-dark {
  outline-color: var(--cfe--wedding--text--dark);
}
.cfe-wedding.wedding-text-rule-dark {
  rule-color: var(--cfe--wedding--text--dark);
}
.cfe-wedding.wedding-text-column-rule-dark {
  -moz-column-rule-color: var(--cfe--wedding--text--dark);
       column-rule-color: var(--cfe--wedding--text--dark);
}
.cfe-wedding.wedding-text-row-rule-dark {
  row-rule-color: var(--cfe--wedding--text--dark);
}
.cfe-wedding.wedding-text-fill-dark {
  fill: var(--cfe--wedding--text--dark);
}
.cfe-wedding.wedding-text-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--wedding--text--dark);
  text-fill-color: var(--cfe--wedding--text--dark);
}
.cfe-wedding.wedding-text-stroke-dark {
  stroke: var(--cfe--wedding--text--dark);
}
.cfe-wedding.wedding-text-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--wedding--text--dark);
  text-stroke-color: var(--cfe--wedding--text--dark);
}
.cfe-wedding.wedding-text-flood-dark {
  flood-color: var(--cfe--wedding--text--dark);
}
.cfe-wedding.wedding-text-stop-dark {
  stop-color: var(--cfe--wedding--text--dark);
}
.cfe-wedding.wedding-one-dark {
  color: var(--cfe--wedding--one--dark);
}
.cfe-wedding.wedding-one-bg-dark {
  background-color: var(--cfe--wedding--one--dark);
}
.cfe-wedding.wedding-one-decoration-dark {
  text-decoration-color: var(--cfe--wedding--one--dark);
}
.cfe-wedding.wedding-one-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--wedding--one--dark);
          text-emphasis-color: var(--cfe--wedding--one--dark);
}
.cfe-wedding.wedding-one-accent-dark {
  accent-color: var(--cfe--wedding--one--dark);
}
.cfe-wedding.wedding-one-caret-dark {
  caret-color: var(--cfe--wedding--one--dark);
}
.cfe-wedding.wedding-one-border-dark {
  border-color: var(--cfe--wedding--one--dark);
}
.cfe-wedding.wedding-one-outline-dark {
  outline-color: var(--cfe--wedding--one--dark);
}
.cfe-wedding.wedding-one-rule-dark {
  rule-color: var(--cfe--wedding--one--dark);
}
.cfe-wedding.wedding-one-column-rule-dark {
  -moz-column-rule-color: var(--cfe--wedding--one--dark);
       column-rule-color: var(--cfe--wedding--one--dark);
}
.cfe-wedding.wedding-one-row-rule-dark {
  row-rule-color: var(--cfe--wedding--one--dark);
}
.cfe-wedding.wedding-one-fill-dark {
  fill: var(--cfe--wedding--one--dark);
}
.cfe-wedding.wedding-one-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--wedding--one--dark);
  text-fill-color: var(--cfe--wedding--one--dark);
}
.cfe-wedding.wedding-one-stroke-dark {
  stroke: var(--cfe--wedding--one--dark);
}
.cfe-wedding.wedding-one-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--wedding--one--dark);
  text-stroke-color: var(--cfe--wedding--one--dark);
}
.cfe-wedding.wedding-one-flood-dark {
  flood-color: var(--cfe--wedding--one--dark);
}
.cfe-wedding.wedding-one-stop-dark {
  stop-color: var(--cfe--wedding--one--dark);
}
.cfe-wedding.wedding-two-dark {
  color: var(--cfe--wedding--two--dark);
}
.cfe-wedding.wedding-two-bg-dark {
  background-color: var(--cfe--wedding--two--dark);
}
.cfe-wedding.wedding-two-decoration-dark {
  text-decoration-color: var(--cfe--wedding--two--dark);
}
.cfe-wedding.wedding-two-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--wedding--two--dark);
          text-emphasis-color: var(--cfe--wedding--two--dark);
}
.cfe-wedding.wedding-two-accent-dark {
  accent-color: var(--cfe--wedding--two--dark);
}
.cfe-wedding.wedding-two-caret-dark {
  caret-color: var(--cfe--wedding--two--dark);
}
.cfe-wedding.wedding-two-border-dark {
  border-color: var(--cfe--wedding--two--dark);
}
.cfe-wedding.wedding-two-outline-dark {
  outline-color: var(--cfe--wedding--two--dark);
}
.cfe-wedding.wedding-two-rule-dark {
  rule-color: var(--cfe--wedding--two--dark);
}
.cfe-wedding.wedding-two-column-rule-dark {
  -moz-column-rule-color: var(--cfe--wedding--two--dark);
       column-rule-color: var(--cfe--wedding--two--dark);
}
.cfe-wedding.wedding-two-row-rule-dark {
  row-rule-color: var(--cfe--wedding--two--dark);
}
.cfe-wedding.wedding-two-fill-dark {
  fill: var(--cfe--wedding--two--dark);
}
.cfe-wedding.wedding-two-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--wedding--two--dark);
  text-fill-color: var(--cfe--wedding--two--dark);
}
.cfe-wedding.wedding-two-stroke-dark {
  stroke: var(--cfe--wedding--two--dark);
}
.cfe-wedding.wedding-two-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--wedding--two--dark);
  text-stroke-color: var(--cfe--wedding--two--dark);
}
.cfe-wedding.wedding-two-flood-dark {
  flood-color: var(--cfe--wedding--two--dark);
}
.cfe-wedding.wedding-two-stop-dark {
  stop-color: var(--cfe--wedding--two--dark);
}
.cfe-wedding.wedding-three-dark {
  color: var(--cfe--wedding--three--dark);
}
.cfe-wedding.wedding-three-bg-dark {
  background-color: var(--cfe--wedding--three--dark);
}
.cfe-wedding.wedding-three-decoration-dark {
  text-decoration-color: var(--cfe--wedding--three--dark);
}
.cfe-wedding.wedding-three-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--wedding--three--dark);
          text-emphasis-color: var(--cfe--wedding--three--dark);
}
.cfe-wedding.wedding-three-accent-dark {
  accent-color: var(--cfe--wedding--three--dark);
}
.cfe-wedding.wedding-three-caret-dark {
  caret-color: var(--cfe--wedding--three--dark);
}
.cfe-wedding.wedding-three-border-dark {
  border-color: var(--cfe--wedding--three--dark);
}
.cfe-wedding.wedding-three-outline-dark {
  outline-color: var(--cfe--wedding--three--dark);
}
.cfe-wedding.wedding-three-rule-dark {
  rule-color: var(--cfe--wedding--three--dark);
}
.cfe-wedding.wedding-three-column-rule-dark {
  -moz-column-rule-color: var(--cfe--wedding--three--dark);
       column-rule-color: var(--cfe--wedding--three--dark);
}
.cfe-wedding.wedding-three-row-rule-dark {
  row-rule-color: var(--cfe--wedding--three--dark);
}
.cfe-wedding.wedding-three-fill-dark {
  fill: var(--cfe--wedding--three--dark);
}
.cfe-wedding.wedding-three-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--wedding--three--dark);
  text-fill-color: var(--cfe--wedding--three--dark);
}
.cfe-wedding.wedding-three-stroke-dark {
  stroke: var(--cfe--wedding--three--dark);
}
.cfe-wedding.wedding-three-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--wedding--three--dark);
  text-stroke-color: var(--cfe--wedding--three--dark);
}
.cfe-wedding.wedding-three-flood-dark {
  flood-color: var(--cfe--wedding--three--dark);
}
.cfe-wedding.wedding-three-stop-dark {
  stop-color: var(--cfe--wedding--three--dark);
}
.cfe-wedding.wedding-four-dark {
  color: var(--cfe--wedding--four--dark);
}
.cfe-wedding.wedding-four-bg-dark {
  background-color: var(--cfe--wedding--four--dark);
}
.cfe-wedding.wedding-four-decoration-dark {
  text-decoration-color: var(--cfe--wedding--four--dark);
}
.cfe-wedding.wedding-four-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--wedding--four--dark);
          text-emphasis-color: var(--cfe--wedding--four--dark);
}
.cfe-wedding.wedding-four-accent-dark {
  accent-color: var(--cfe--wedding--four--dark);
}
.cfe-wedding.wedding-four-caret-dark {
  caret-color: var(--cfe--wedding--four--dark);
}
.cfe-wedding.wedding-four-border-dark {
  border-color: var(--cfe--wedding--four--dark);
}
.cfe-wedding.wedding-four-outline-dark {
  outline-color: var(--cfe--wedding--four--dark);
}
.cfe-wedding.wedding-four-rule-dark {
  rule-color: var(--cfe--wedding--four--dark);
}
.cfe-wedding.wedding-four-column-rule-dark {
  -moz-column-rule-color: var(--cfe--wedding--four--dark);
       column-rule-color: var(--cfe--wedding--four--dark);
}
.cfe-wedding.wedding-four-row-rule-dark {
  row-rule-color: var(--cfe--wedding--four--dark);
}
.cfe-wedding.wedding-four-fill-dark {
  fill: var(--cfe--wedding--four--dark);
}
.cfe-wedding.wedding-four-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--wedding--four--dark);
  text-fill-color: var(--cfe--wedding--four--dark);
}
.cfe-wedding.wedding-four-stroke-dark {
  stroke: var(--cfe--wedding--four--dark);
}
.cfe-wedding.wedding-four-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--wedding--four--dark);
  text-stroke-color: var(--cfe--wedding--four--dark);
}
.cfe-wedding.wedding-four-flood-dark {
  flood-color: var(--cfe--wedding--four--dark);
}
.cfe-wedding.wedding-four-stop-dark {
  stop-color: var(--cfe--wedding--four--dark);
}
.cfe-wedding.wedding-five-dark {
  color: var(--cfe--wedding--five--dark);
}
.cfe-wedding.wedding-five-bg-dark {
  background-color: var(--cfe--wedding--five--dark);
}
.cfe-wedding.wedding-five-decoration-dark {
  text-decoration-color: var(--cfe--wedding--five--dark);
}
.cfe-wedding.wedding-five-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--wedding--five--dark);
          text-emphasis-color: var(--cfe--wedding--five--dark);
}
.cfe-wedding.wedding-five-accent-dark {
  accent-color: var(--cfe--wedding--five--dark);
}
.cfe-wedding.wedding-five-caret-dark {
  caret-color: var(--cfe--wedding--five--dark);
}
.cfe-wedding.wedding-five-border-dark {
  border-color: var(--cfe--wedding--five--dark);
}
.cfe-wedding.wedding-five-outline-dark {
  outline-color: var(--cfe--wedding--five--dark);
}
.cfe-wedding.wedding-five-rule-dark {
  rule-color: var(--cfe--wedding--five--dark);
}
.cfe-wedding.wedding-five-column-rule-dark {
  -moz-column-rule-color: var(--cfe--wedding--five--dark);
       column-rule-color: var(--cfe--wedding--five--dark);
}
.cfe-wedding.wedding-five-row-rule-dark {
  row-rule-color: var(--cfe--wedding--five--dark);
}
.cfe-wedding.wedding-five-fill-dark {
  fill: var(--cfe--wedding--five--dark);
}
.cfe-wedding.wedding-five-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--wedding--five--dark);
  text-fill-color: var(--cfe--wedding--five--dark);
}
.cfe-wedding.wedding-five-stroke-dark {
  stroke: var(--cfe--wedding--five--dark);
}
.cfe-wedding.wedding-five-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--wedding--five--dark);
  text-stroke-color: var(--cfe--wedding--five--dark);
}
.cfe-wedding.wedding-five-flood-dark {
  flood-color: var(--cfe--wedding--five--dark);
}
.cfe-wedding.wedding-five-stop-dark {
  stop-color: var(--cfe--wedding--five--dark);
}
.cfe-wedding.wedding-six-dark {
  color: var(--cfe--wedding--six--dark);
}
.cfe-wedding.wedding-six-bg-dark {
  background-color: var(--cfe--wedding--six--dark);
}
.cfe-wedding.wedding-six-decoration-dark {
  text-decoration-color: var(--cfe--wedding--six--dark);
}
.cfe-wedding.wedding-six-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--wedding--six--dark);
          text-emphasis-color: var(--cfe--wedding--six--dark);
}
.cfe-wedding.wedding-six-accent-dark {
  accent-color: var(--cfe--wedding--six--dark);
}
.cfe-wedding.wedding-six-caret-dark {
  caret-color: var(--cfe--wedding--six--dark);
}
.cfe-wedding.wedding-six-border-dark {
  border-color: var(--cfe--wedding--six--dark);
}
.cfe-wedding.wedding-six-outline-dark {
  outline-color: var(--cfe--wedding--six--dark);
}
.cfe-wedding.wedding-six-rule-dark {
  rule-color: var(--cfe--wedding--six--dark);
}
.cfe-wedding.wedding-six-column-rule-dark {
  -moz-column-rule-color: var(--cfe--wedding--six--dark);
       column-rule-color: var(--cfe--wedding--six--dark);
}
.cfe-wedding.wedding-six-row-rule-dark {
  row-rule-color: var(--cfe--wedding--six--dark);
}
.cfe-wedding.wedding-six-fill-dark {
  fill: var(--cfe--wedding--six--dark);
}
.cfe-wedding.wedding-six-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--wedding--six--dark);
  text-fill-color: var(--cfe--wedding--six--dark);
}
.cfe-wedding.wedding-six-stroke-dark {
  stroke: var(--cfe--wedding--six--dark);
}
.cfe-wedding.wedding-six-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--wedding--six--dark);
  text-stroke-color: var(--cfe--wedding--six--dark);
}
.cfe-wedding.wedding-six-flood-dark {
  flood-color: var(--cfe--wedding--six--dark);
}
.cfe-wedding.wedding-six-stop-dark {
  stop-color: var(--cfe--wedding--six--dark);
}