///
/// SCSS variables
///

$palette: 'kamakura-01';
$media: #264a6b;
$light: (
	'body'  : #f8f4e9,
	'text'  : #264a6b,
	'one'   : #264a6b,
	'two'   : #c5ac6b,
	'three' : #264a6b,
	'four'  : #c5ac6b,
	'five'  : #264a6b,
	'six'   : #c5ac6b
);
$dark: (
	'body'  : #264a6b,
	'text'  : #f8f4e9,
	'one'   : #c5ac6b,
	'two'   : #f8f4e9,
	'three' : #264a6b,
	'four'  : #c5ac6b,
	'five'  : #264a6b,
	'six'   : #c5ac6b
);
