:host,
:root {
  --cfe-scheme-kitchen--body: #ffffff;
  --cfe-scheme-kitchen--text: #381f0f;
  --cfe-scheme-kitchen--one: #b02b14;
  --cfe-scheme-kitchen--two: #e03214;
  --cfe-scheme-kitchen--three: #df7b0b;
  --cfe-scheme-kitchen--four: #ffb400;
  --cfe-scheme-kitchen--five: #677d08;
  --cfe-scheme-kitchen--six: #93ad00;
  --cfe-scheme-kitchen--body--dark: #1e1e1e;
  --cfe-scheme-kitchen--text--dark: #eeeeee;
  --cfe-scheme-kitchen--one--dark: #ffb400;
  --cfe-scheme-kitchen--two--dark: #df7b0b;
  --cfe-scheme-kitchen--three--dark: #677d08;
  --cfe-scheme-kitchen--four--dark: #93ad00;
  --cfe-scheme-kitchen--five--dark: #b02b14;
  --cfe-scheme-kitchen--six--dark: #e03214;
}

.cfe-kitchen.kitchen-body {
  color: var(--cfe--kitchen--body);
}
.cfe-kitchen.kitchen-body-bg {
  background-color: var(--cfe--kitchen--body);
}
.cfe-kitchen.kitchen-body-decoration {
  text-decoration-color: var(--cfe--kitchen--body);
}
.cfe-kitchen.kitchen-body-emphasis {
  -webkit-text-emphasis-color: var(--cfe--kitchen--body);
          text-emphasis-color: var(--cfe--kitchen--body);
}
.cfe-kitchen.kitchen-body-accent {
  accent-color: var(--cfe--kitchen--body);
}
.cfe-kitchen.kitchen-body-caret {
  caret-color: var(--cfe--kitchen--body);
}
.cfe-kitchen.kitchen-body-border {
  border-color: var(--cfe--kitchen--body);
}
.cfe-kitchen.kitchen-body-outline {
  outline-color: var(--cfe--kitchen--body);
}
.cfe-kitchen.kitchen-body-rule {
  rule-color: var(--cfe--kitchen--body);
}
.cfe-kitchen.kitchen-body-column-rule {
  -moz-column-rule-color: var(--cfe--kitchen--body);
       column-rule-color: var(--cfe--kitchen--body);
}
.cfe-kitchen.kitchen-body-row-rule {
  row-rule-color: var(--cfe--kitchen--body);
}
.cfe-kitchen.kitchen-body-fill {
  fill: var(--cfe--kitchen--body);
}
.cfe-kitchen.kitchen-body-text-fill {
  -webkit-text-fill-color: var(--cfe--kitchen--body);
  text-fill-color: var(--cfe--kitchen--body);
}
.cfe-kitchen.kitchen-body-stroke {
  stroke: var(--cfe--kitchen--body);
}
.cfe-kitchen.kitchen-body-text-stroke {
  -webkit-text-stroke-color: var(--cfe--kitchen--body);
  text-stroke-color: var(--cfe--kitchen--body);
}
.cfe-kitchen.kitchen-body-flood {
  flood-color: var(--cfe--kitchen--body);
}
.cfe-kitchen.kitchen-body-stop {
  stop-color: var(--cfe--kitchen--body);
}
.cfe-kitchen.kitchen-text {
  color: var(--cfe--kitchen--text);
}
.cfe-kitchen.kitchen-text-bg {
  background-color: var(--cfe--kitchen--text);
}
.cfe-kitchen.kitchen-text-decoration {
  text-decoration-color: var(--cfe--kitchen--text);
}
.cfe-kitchen.kitchen-text-emphasis {
  -webkit-text-emphasis-color: var(--cfe--kitchen--text);
          text-emphasis-color: var(--cfe--kitchen--text);
}
.cfe-kitchen.kitchen-text-accent {
  accent-color: var(--cfe--kitchen--text);
}
.cfe-kitchen.kitchen-text-caret {
  caret-color: var(--cfe--kitchen--text);
}
.cfe-kitchen.kitchen-text-border {
  border-color: var(--cfe--kitchen--text);
}
.cfe-kitchen.kitchen-text-outline {
  outline-color: var(--cfe--kitchen--text);
}
.cfe-kitchen.kitchen-text-rule {
  rule-color: var(--cfe--kitchen--text);
}
.cfe-kitchen.kitchen-text-column-rule {
  -moz-column-rule-color: var(--cfe--kitchen--text);
       column-rule-color: var(--cfe--kitchen--text);
}
.cfe-kitchen.kitchen-text-row-rule {
  row-rule-color: var(--cfe--kitchen--text);
}
.cfe-kitchen.kitchen-text-fill {
  fill: var(--cfe--kitchen--text);
}
.cfe-kitchen.kitchen-text-text-fill {
  -webkit-text-fill-color: var(--cfe--kitchen--text);
  text-fill-color: var(--cfe--kitchen--text);
}
.cfe-kitchen.kitchen-text-stroke {
  stroke: var(--cfe--kitchen--text);
}
.cfe-kitchen.kitchen-text-text-stroke {
  -webkit-text-stroke-color: var(--cfe--kitchen--text);
  text-stroke-color: var(--cfe--kitchen--text);
}
.cfe-kitchen.kitchen-text-flood {
  flood-color: var(--cfe--kitchen--text);
}
.cfe-kitchen.kitchen-text-stop {
  stop-color: var(--cfe--kitchen--text);
}
.cfe-kitchen.kitchen-one {
  color: var(--cfe--kitchen--one);
}
.cfe-kitchen.kitchen-one-bg {
  background-color: var(--cfe--kitchen--one);
}
.cfe-kitchen.kitchen-one-decoration {
  text-decoration-color: var(--cfe--kitchen--one);
}
.cfe-kitchen.kitchen-one-emphasis {
  -webkit-text-emphasis-color: var(--cfe--kitchen--one);
          text-emphasis-color: var(--cfe--kitchen--one);
}
.cfe-kitchen.kitchen-one-accent {
  accent-color: var(--cfe--kitchen--one);
}
.cfe-kitchen.kitchen-one-caret {
  caret-color: var(--cfe--kitchen--one);
}
.cfe-kitchen.kitchen-one-border {
  border-color: var(--cfe--kitchen--one);
}
.cfe-kitchen.kitchen-one-outline {
  outline-color: var(--cfe--kitchen--one);
}
.cfe-kitchen.kitchen-one-rule {
  rule-color: var(--cfe--kitchen--one);
}
.cfe-kitchen.kitchen-one-column-rule {
  -moz-column-rule-color: var(--cfe--kitchen--one);
       column-rule-color: var(--cfe--kitchen--one);
}
.cfe-kitchen.kitchen-one-row-rule {
  row-rule-color: var(--cfe--kitchen--one);
}
.cfe-kitchen.kitchen-one-fill {
  fill: var(--cfe--kitchen--one);
}
.cfe-kitchen.kitchen-one-text-fill {
  -webkit-text-fill-color: var(--cfe--kitchen--one);
  text-fill-color: var(--cfe--kitchen--one);
}
.cfe-kitchen.kitchen-one-stroke {
  stroke: var(--cfe--kitchen--one);
}
.cfe-kitchen.kitchen-one-text-stroke {
  -webkit-text-stroke-color: var(--cfe--kitchen--one);
  text-stroke-color: var(--cfe--kitchen--one);
}
.cfe-kitchen.kitchen-one-flood {
  flood-color: var(--cfe--kitchen--one);
}
.cfe-kitchen.kitchen-one-stop {
  stop-color: var(--cfe--kitchen--one);
}
.cfe-kitchen.kitchen-two {
  color: var(--cfe--kitchen--two);
}
.cfe-kitchen.kitchen-two-bg {
  background-color: var(--cfe--kitchen--two);
}
.cfe-kitchen.kitchen-two-decoration {
  text-decoration-color: var(--cfe--kitchen--two);
}
.cfe-kitchen.kitchen-two-emphasis {
  -webkit-text-emphasis-color: var(--cfe--kitchen--two);
          text-emphasis-color: var(--cfe--kitchen--two);
}
.cfe-kitchen.kitchen-two-accent {
  accent-color: var(--cfe--kitchen--two);
}
.cfe-kitchen.kitchen-two-caret {
  caret-color: var(--cfe--kitchen--two);
}
.cfe-kitchen.kitchen-two-border {
  border-color: var(--cfe--kitchen--two);
}
.cfe-kitchen.kitchen-two-outline {
  outline-color: var(--cfe--kitchen--two);
}
.cfe-kitchen.kitchen-two-rule {
  rule-color: var(--cfe--kitchen--two);
}
.cfe-kitchen.kitchen-two-column-rule {
  -moz-column-rule-color: var(--cfe--kitchen--two);
       column-rule-color: var(--cfe--kitchen--two);
}
.cfe-kitchen.kitchen-two-row-rule {
  row-rule-color: var(--cfe--kitchen--two);
}
.cfe-kitchen.kitchen-two-fill {
  fill: var(--cfe--kitchen--two);
}
.cfe-kitchen.kitchen-two-text-fill {
  -webkit-text-fill-color: var(--cfe--kitchen--two);
  text-fill-color: var(--cfe--kitchen--two);
}
.cfe-kitchen.kitchen-two-stroke {
  stroke: var(--cfe--kitchen--two);
}
.cfe-kitchen.kitchen-two-text-stroke {
  -webkit-text-stroke-color: var(--cfe--kitchen--two);
  text-stroke-color: var(--cfe--kitchen--two);
}
.cfe-kitchen.kitchen-two-flood {
  flood-color: var(--cfe--kitchen--two);
}
.cfe-kitchen.kitchen-two-stop {
  stop-color: var(--cfe--kitchen--two);
}
.cfe-kitchen.kitchen-three {
  color: var(--cfe--kitchen--three);
}
.cfe-kitchen.kitchen-three-bg {
  background-color: var(--cfe--kitchen--three);
}
.cfe-kitchen.kitchen-three-decoration {
  text-decoration-color: var(--cfe--kitchen--three);
}
.cfe-kitchen.kitchen-three-emphasis {
  -webkit-text-emphasis-color: var(--cfe--kitchen--three);
          text-emphasis-color: var(--cfe--kitchen--three);
}
.cfe-kitchen.kitchen-three-accent {
  accent-color: var(--cfe--kitchen--three);
}
.cfe-kitchen.kitchen-three-caret {
  caret-color: var(--cfe--kitchen--three);
}
.cfe-kitchen.kitchen-three-border {
  border-color: var(--cfe--kitchen--three);
}
.cfe-kitchen.kitchen-three-outline {
  outline-color: var(--cfe--kitchen--three);
}
.cfe-kitchen.kitchen-three-rule {
  rule-color: var(--cfe--kitchen--three);
}
.cfe-kitchen.kitchen-three-column-rule {
  -moz-column-rule-color: var(--cfe--kitchen--three);
       column-rule-color: var(--cfe--kitchen--three);
}
.cfe-kitchen.kitchen-three-row-rule {
  row-rule-color: var(--cfe--kitchen--three);
}
.cfe-kitchen.kitchen-three-fill {
  fill: var(--cfe--kitchen--three);
}
.cfe-kitchen.kitchen-three-text-fill {
  -webkit-text-fill-color: var(--cfe--kitchen--three);
  text-fill-color: var(--cfe--kitchen--three);
}
.cfe-kitchen.kitchen-three-stroke {
  stroke: var(--cfe--kitchen--three);
}
.cfe-kitchen.kitchen-three-text-stroke {
  -webkit-text-stroke-color: var(--cfe--kitchen--three);
  text-stroke-color: var(--cfe--kitchen--three);
}
.cfe-kitchen.kitchen-three-flood {
  flood-color: var(--cfe--kitchen--three);
}
.cfe-kitchen.kitchen-three-stop {
  stop-color: var(--cfe--kitchen--three);
}
.cfe-kitchen.kitchen-four {
  color: var(--cfe--kitchen--four);
}
.cfe-kitchen.kitchen-four-bg {
  background-color: var(--cfe--kitchen--four);
}
.cfe-kitchen.kitchen-four-decoration {
  text-decoration-color: var(--cfe--kitchen--four);
}
.cfe-kitchen.kitchen-four-emphasis {
  -webkit-text-emphasis-color: var(--cfe--kitchen--four);
          text-emphasis-color: var(--cfe--kitchen--four);
}
.cfe-kitchen.kitchen-four-accent {
  accent-color: var(--cfe--kitchen--four);
}
.cfe-kitchen.kitchen-four-caret {
  caret-color: var(--cfe--kitchen--four);
}
.cfe-kitchen.kitchen-four-border {
  border-color: var(--cfe--kitchen--four);
}
.cfe-kitchen.kitchen-four-outline {
  outline-color: var(--cfe--kitchen--four);
}
.cfe-kitchen.kitchen-four-rule {
  rule-color: var(--cfe--kitchen--four);
}
.cfe-kitchen.kitchen-four-column-rule {
  -moz-column-rule-color: var(--cfe--kitchen--four);
       column-rule-color: var(--cfe--kitchen--four);
}
.cfe-kitchen.kitchen-four-row-rule {
  row-rule-color: var(--cfe--kitchen--four);
}
.cfe-kitchen.kitchen-four-fill {
  fill: var(--cfe--kitchen--four);
}
.cfe-kitchen.kitchen-four-text-fill {
  -webkit-text-fill-color: var(--cfe--kitchen--four);
  text-fill-color: var(--cfe--kitchen--four);
}
.cfe-kitchen.kitchen-four-stroke {
  stroke: var(--cfe--kitchen--four);
}
.cfe-kitchen.kitchen-four-text-stroke {
  -webkit-text-stroke-color: var(--cfe--kitchen--four);
  text-stroke-color: var(--cfe--kitchen--four);
}
.cfe-kitchen.kitchen-four-flood {
  flood-color: var(--cfe--kitchen--four);
}
.cfe-kitchen.kitchen-four-stop {
  stop-color: var(--cfe--kitchen--four);
}
.cfe-kitchen.kitchen-five {
  color: var(--cfe--kitchen--five);
}
.cfe-kitchen.kitchen-five-bg {
  background-color: var(--cfe--kitchen--five);
}
.cfe-kitchen.kitchen-five-decoration {
  text-decoration-color: var(--cfe--kitchen--five);
}
.cfe-kitchen.kitchen-five-emphasis {
  -webkit-text-emphasis-color: var(--cfe--kitchen--five);
          text-emphasis-color: var(--cfe--kitchen--five);
}
.cfe-kitchen.kitchen-five-accent {
  accent-color: var(--cfe--kitchen--five);
}
.cfe-kitchen.kitchen-five-caret {
  caret-color: var(--cfe--kitchen--five);
}
.cfe-kitchen.kitchen-five-border {
  border-color: var(--cfe--kitchen--five);
}
.cfe-kitchen.kitchen-five-outline {
  outline-color: var(--cfe--kitchen--five);
}
.cfe-kitchen.kitchen-five-rule {
  rule-color: var(--cfe--kitchen--five);
}
.cfe-kitchen.kitchen-five-column-rule {
  -moz-column-rule-color: var(--cfe--kitchen--five);
       column-rule-color: var(--cfe--kitchen--five);
}
.cfe-kitchen.kitchen-five-row-rule {
  row-rule-color: var(--cfe--kitchen--five);
}
.cfe-kitchen.kitchen-five-fill {
  fill: var(--cfe--kitchen--five);
}
.cfe-kitchen.kitchen-five-text-fill {
  -webkit-text-fill-color: var(--cfe--kitchen--five);
  text-fill-color: var(--cfe--kitchen--five);
}
.cfe-kitchen.kitchen-five-stroke {
  stroke: var(--cfe--kitchen--five);
}
.cfe-kitchen.kitchen-five-text-stroke {
  -webkit-text-stroke-color: var(--cfe--kitchen--five);
  text-stroke-color: var(--cfe--kitchen--five);
}
.cfe-kitchen.kitchen-five-flood {
  flood-color: var(--cfe--kitchen--five);
}
.cfe-kitchen.kitchen-five-stop {
  stop-color: var(--cfe--kitchen--five);
}
.cfe-kitchen.kitchen-six {
  color: var(--cfe--kitchen--six);
}
.cfe-kitchen.kitchen-six-bg {
  background-color: var(--cfe--kitchen--six);
}
.cfe-kitchen.kitchen-six-decoration {
  text-decoration-color: var(--cfe--kitchen--six);
}
.cfe-kitchen.kitchen-six-emphasis {
  -webkit-text-emphasis-color: var(--cfe--kitchen--six);
          text-emphasis-color: var(--cfe--kitchen--six);
}
.cfe-kitchen.kitchen-six-accent {
  accent-color: var(--cfe--kitchen--six);
}
.cfe-kitchen.kitchen-six-caret {
  caret-color: var(--cfe--kitchen--six);
}
.cfe-kitchen.kitchen-six-border {
  border-color: var(--cfe--kitchen--six);
}
.cfe-kitchen.kitchen-six-outline {
  outline-color: var(--cfe--kitchen--six);
}
.cfe-kitchen.kitchen-six-rule {
  rule-color: var(--cfe--kitchen--six);
}
.cfe-kitchen.kitchen-six-column-rule {
  -moz-column-rule-color: var(--cfe--kitchen--six);
       column-rule-color: var(--cfe--kitchen--six);
}
.cfe-kitchen.kitchen-six-row-rule {
  row-rule-color: var(--cfe--kitchen--six);
}
.cfe-kitchen.kitchen-six-fill {
  fill: var(--cfe--kitchen--six);
}
.cfe-kitchen.kitchen-six-text-fill {
  -webkit-text-fill-color: var(--cfe--kitchen--six);
  text-fill-color: var(--cfe--kitchen--six);
}
.cfe-kitchen.kitchen-six-stroke {
  stroke: var(--cfe--kitchen--six);
}
.cfe-kitchen.kitchen-six-text-stroke {
  -webkit-text-stroke-color: var(--cfe--kitchen--six);
  text-stroke-color: var(--cfe--kitchen--six);
}
.cfe-kitchen.kitchen-six-flood {
  flood-color: var(--cfe--kitchen--six);
}
.cfe-kitchen.kitchen-six-stop {
  stop-color: var(--cfe--kitchen--six);
}
.cfe-kitchen.kitchen-body-dark {
  color: var(--cfe--kitchen--body--dark);
}
.cfe-kitchen.kitchen-body-bg-dark {
  background-color: var(--cfe--kitchen--body--dark);
}
.cfe-kitchen.kitchen-body-decoration-dark {
  text-decoration-color: var(--cfe--kitchen--body--dark);
}
.cfe-kitchen.kitchen-body-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--kitchen--body--dark);
          text-emphasis-color: var(--cfe--kitchen--body--dark);
}
.cfe-kitchen.kitchen-body-accent-dark {
  accent-color: var(--cfe--kitchen--body--dark);
}
.cfe-kitchen.kitchen-body-caret-dark {
  caret-color: var(--cfe--kitchen--body--dark);
}
.cfe-kitchen.kitchen-body-border-dark {
  border-color: var(--cfe--kitchen--body--dark);
}
.cfe-kitchen.kitchen-body-outline-dark {
  outline-color: var(--cfe--kitchen--body--dark);
}
.cfe-kitchen.kitchen-body-rule-dark {
  rule-color: var(--cfe--kitchen--body--dark);
}
.cfe-kitchen.kitchen-body-column-rule-dark {
  -moz-column-rule-color: var(--cfe--kitchen--body--dark);
       column-rule-color: var(--cfe--kitchen--body--dark);
}
.cfe-kitchen.kitchen-body-row-rule-dark {
  row-rule-color: var(--cfe--kitchen--body--dark);
}
.cfe-kitchen.kitchen-body-fill-dark {
  fill: var(--cfe--kitchen--body--dark);
}
.cfe-kitchen.kitchen-body-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--kitchen--body--dark);
  text-fill-color: var(--cfe--kitchen--body--dark);
}
.cfe-kitchen.kitchen-body-stroke-dark {
  stroke: var(--cfe--kitchen--body--dark);
}
.cfe-kitchen.kitchen-body-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--kitchen--body--dark);
  text-stroke-color: var(--cfe--kitchen--body--dark);
}
.cfe-kitchen.kitchen-body-flood-dark {
  flood-color: var(--cfe--kitchen--body--dark);
}
.cfe-kitchen.kitchen-body-stop-dark {
  stop-color: var(--cfe--kitchen--body--dark);
}
.cfe-kitchen.kitchen-text-dark {
  color: var(--cfe--kitchen--text--dark);
}
.cfe-kitchen.kitchen-text-bg-dark {
  background-color: var(--cfe--kitchen--text--dark);
}
.cfe-kitchen.kitchen-text-decoration-dark {
  text-decoration-color: var(--cfe--kitchen--text--dark);
}
.cfe-kitchen.kitchen-text-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--kitchen--text--dark);
          text-emphasis-color: var(--cfe--kitchen--text--dark);
}
.cfe-kitchen.kitchen-text-accent-dark {
  accent-color: var(--cfe--kitchen--text--dark);
}
.cfe-kitchen.kitchen-text-caret-dark {
  caret-color: var(--cfe--kitchen--text--dark);
}
.cfe-kitchen.kitchen-text-border-dark {
  border-color: var(--cfe--kitchen--text--dark);
}
.cfe-kitchen.kitchen-text-outline-dark {
  outline-color: var(--cfe--kitchen--text--dark);
}
.cfe-kitchen.kitchen-text-rule-dark {
  rule-color: var(--cfe--kitchen--text--dark);
}
.cfe-kitchen.kitchen-text-column-rule-dark {
  -moz-column-rule-color: var(--cfe--kitchen--text--dark);
       column-rule-color: var(--cfe--kitchen--text--dark);
}
.cfe-kitchen.kitchen-text-row-rule-dark {
  row-rule-color: var(--cfe--kitchen--text--dark);
}
.cfe-kitchen.kitchen-text-fill-dark {
  fill: var(--cfe--kitchen--text--dark);
}
.cfe-kitchen.kitchen-text-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--kitchen--text--dark);
  text-fill-color: var(--cfe--kitchen--text--dark);
}
.cfe-kitchen.kitchen-text-stroke-dark {
  stroke: var(--cfe--kitchen--text--dark);
}
.cfe-kitchen.kitchen-text-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--kitchen--text--dark);
  text-stroke-color: var(--cfe--kitchen--text--dark);
}
.cfe-kitchen.kitchen-text-flood-dark {
  flood-color: var(--cfe--kitchen--text--dark);
}
.cfe-kitchen.kitchen-text-stop-dark {
  stop-color: var(--cfe--kitchen--text--dark);
}
.cfe-kitchen.kitchen-one-dark {
  color: var(--cfe--kitchen--one--dark);
}
.cfe-kitchen.kitchen-one-bg-dark {
  background-color: var(--cfe--kitchen--one--dark);
}
.cfe-kitchen.kitchen-one-decoration-dark {
  text-decoration-color: var(--cfe--kitchen--one--dark);
}
.cfe-kitchen.kitchen-one-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--kitchen--one--dark);
          text-emphasis-color: var(--cfe--kitchen--one--dark);
}
.cfe-kitchen.kitchen-one-accent-dark {
  accent-color: var(--cfe--kitchen--one--dark);
}
.cfe-kitchen.kitchen-one-caret-dark {
  caret-color: var(--cfe--kitchen--one--dark);
}
.cfe-kitchen.kitchen-one-border-dark {
  border-color: var(--cfe--kitchen--one--dark);
}
.cfe-kitchen.kitchen-one-outline-dark {
  outline-color: var(--cfe--kitchen--one--dark);
}
.cfe-kitchen.kitchen-one-rule-dark {
  rule-color: var(--cfe--kitchen--one--dark);
}
.cfe-kitchen.kitchen-one-column-rule-dark {
  -moz-column-rule-color: var(--cfe--kitchen--one--dark);
       column-rule-color: var(--cfe--kitchen--one--dark);
}
.cfe-kitchen.kitchen-one-row-rule-dark {
  row-rule-color: var(--cfe--kitchen--one--dark);
}
.cfe-kitchen.kitchen-one-fill-dark {
  fill: var(--cfe--kitchen--one--dark);
}
.cfe-kitchen.kitchen-one-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--kitchen--one--dark);
  text-fill-color: var(--cfe--kitchen--one--dark);
}
.cfe-kitchen.kitchen-one-stroke-dark {
  stroke: var(--cfe--kitchen--one--dark);
}
.cfe-kitchen.kitchen-one-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--kitchen--one--dark);
  text-stroke-color: var(--cfe--kitchen--one--dark);
}
.cfe-kitchen.kitchen-one-flood-dark {
  flood-color: var(--cfe--kitchen--one--dark);
}
.cfe-kitchen.kitchen-one-stop-dark {
  stop-color: var(--cfe--kitchen--one--dark);
}
.cfe-kitchen.kitchen-two-dark {
  color: var(--cfe--kitchen--two--dark);
}
.cfe-kitchen.kitchen-two-bg-dark {
  background-color: var(--cfe--kitchen--two--dark);
}
.cfe-kitchen.kitchen-two-decoration-dark {
  text-decoration-color: var(--cfe--kitchen--two--dark);
}
.cfe-kitchen.kitchen-two-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--kitchen--two--dark);
          text-emphasis-color: var(--cfe--kitchen--two--dark);
}
.cfe-kitchen.kitchen-two-accent-dark {
  accent-color: var(--cfe--kitchen--two--dark);
}
.cfe-kitchen.kitchen-two-caret-dark {
  caret-color: var(--cfe--kitchen--two--dark);
}
.cfe-kitchen.kitchen-two-border-dark {
  border-color: var(--cfe--kitchen--two--dark);
}
.cfe-kitchen.kitchen-two-outline-dark {
  outline-color: var(--cfe--kitchen--two--dark);
}
.cfe-kitchen.kitchen-two-rule-dark {
  rule-color: var(--cfe--kitchen--two--dark);
}
.cfe-kitchen.kitchen-two-column-rule-dark {
  -moz-column-rule-color: var(--cfe--kitchen--two--dark);
       column-rule-color: var(--cfe--kitchen--two--dark);
}
.cfe-kitchen.kitchen-two-row-rule-dark {
  row-rule-color: var(--cfe--kitchen--two--dark);
}
.cfe-kitchen.kitchen-two-fill-dark {
  fill: var(--cfe--kitchen--two--dark);
}
.cfe-kitchen.kitchen-two-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--kitchen--two--dark);
  text-fill-color: var(--cfe--kitchen--two--dark);
}
.cfe-kitchen.kitchen-two-stroke-dark {
  stroke: var(--cfe--kitchen--two--dark);
}
.cfe-kitchen.kitchen-two-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--kitchen--two--dark);
  text-stroke-color: var(--cfe--kitchen--two--dark);
}
.cfe-kitchen.kitchen-two-flood-dark {
  flood-color: var(--cfe--kitchen--two--dark);
}
.cfe-kitchen.kitchen-two-stop-dark {
  stop-color: var(--cfe--kitchen--two--dark);
}
.cfe-kitchen.kitchen-three-dark {
  color: var(--cfe--kitchen--three--dark);
}
.cfe-kitchen.kitchen-three-bg-dark {
  background-color: var(--cfe--kitchen--three--dark);
}
.cfe-kitchen.kitchen-three-decoration-dark {
  text-decoration-color: var(--cfe--kitchen--three--dark);
}
.cfe-kitchen.kitchen-three-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--kitchen--three--dark);
          text-emphasis-color: var(--cfe--kitchen--three--dark);
}
.cfe-kitchen.kitchen-three-accent-dark {
  accent-color: var(--cfe--kitchen--three--dark);
}
.cfe-kitchen.kitchen-three-caret-dark {
  caret-color: var(--cfe--kitchen--three--dark);
}
.cfe-kitchen.kitchen-three-border-dark {
  border-color: var(--cfe--kitchen--three--dark);
}
.cfe-kitchen.kitchen-three-outline-dark {
  outline-color: var(--cfe--kitchen--three--dark);
}
.cfe-kitchen.kitchen-three-rule-dark {
  rule-color: var(--cfe--kitchen--three--dark);
}
.cfe-kitchen.kitchen-three-column-rule-dark {
  -moz-column-rule-color: var(--cfe--kitchen--three--dark);
       column-rule-color: var(--cfe--kitchen--three--dark);
}
.cfe-kitchen.kitchen-three-row-rule-dark {
  row-rule-color: var(--cfe--kitchen--three--dark);
}
.cfe-kitchen.kitchen-three-fill-dark {
  fill: var(--cfe--kitchen--three--dark);
}
.cfe-kitchen.kitchen-three-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--kitchen--three--dark);
  text-fill-color: var(--cfe--kitchen--three--dark);
}
.cfe-kitchen.kitchen-three-stroke-dark {
  stroke: var(--cfe--kitchen--three--dark);
}
.cfe-kitchen.kitchen-three-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--kitchen--three--dark);
  text-stroke-color: var(--cfe--kitchen--three--dark);
}
.cfe-kitchen.kitchen-three-flood-dark {
  flood-color: var(--cfe--kitchen--three--dark);
}
.cfe-kitchen.kitchen-three-stop-dark {
  stop-color: var(--cfe--kitchen--three--dark);
}
.cfe-kitchen.kitchen-four-dark {
  color: var(--cfe--kitchen--four--dark);
}
.cfe-kitchen.kitchen-four-bg-dark {
  background-color: var(--cfe--kitchen--four--dark);
}
.cfe-kitchen.kitchen-four-decoration-dark {
  text-decoration-color: var(--cfe--kitchen--four--dark);
}
.cfe-kitchen.kitchen-four-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--kitchen--four--dark);
          text-emphasis-color: var(--cfe--kitchen--four--dark);
}
.cfe-kitchen.kitchen-four-accent-dark {
  accent-color: var(--cfe--kitchen--four--dark);
}
.cfe-kitchen.kitchen-four-caret-dark {
  caret-color: var(--cfe--kitchen--four--dark);
}
.cfe-kitchen.kitchen-four-border-dark {
  border-color: var(--cfe--kitchen--four--dark);
}
.cfe-kitchen.kitchen-four-outline-dark {
  outline-color: var(--cfe--kitchen--four--dark);
}
.cfe-kitchen.kitchen-four-rule-dark {
  rule-color: var(--cfe--kitchen--four--dark);
}
.cfe-kitchen.kitchen-four-column-rule-dark {
  -moz-column-rule-color: var(--cfe--kitchen--four--dark);
       column-rule-color: var(--cfe--kitchen--four--dark);
}
.cfe-kitchen.kitchen-four-row-rule-dark {
  row-rule-color: var(--cfe--kitchen--four--dark);
}
.cfe-kitchen.kitchen-four-fill-dark {
  fill: var(--cfe--kitchen--four--dark);
}
.cfe-kitchen.kitchen-four-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--kitchen--four--dark);
  text-fill-color: var(--cfe--kitchen--four--dark);
}
.cfe-kitchen.kitchen-four-stroke-dark {
  stroke: var(--cfe--kitchen--four--dark);
}
.cfe-kitchen.kitchen-four-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--kitchen--four--dark);
  text-stroke-color: var(--cfe--kitchen--four--dark);
}
.cfe-kitchen.kitchen-four-flood-dark {
  flood-color: var(--cfe--kitchen--four--dark);
}
.cfe-kitchen.kitchen-four-stop-dark {
  stop-color: var(--cfe--kitchen--four--dark);
}
.cfe-kitchen.kitchen-five-dark {
  color: var(--cfe--kitchen--five--dark);
}
.cfe-kitchen.kitchen-five-bg-dark {
  background-color: var(--cfe--kitchen--five--dark);
}
.cfe-kitchen.kitchen-five-decoration-dark {
  text-decoration-color: var(--cfe--kitchen--five--dark);
}
.cfe-kitchen.kitchen-five-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--kitchen--five--dark);
          text-emphasis-color: var(--cfe--kitchen--five--dark);
}
.cfe-kitchen.kitchen-five-accent-dark {
  accent-color: var(--cfe--kitchen--five--dark);
}
.cfe-kitchen.kitchen-five-caret-dark {
  caret-color: var(--cfe--kitchen--five--dark);
}
.cfe-kitchen.kitchen-five-border-dark {
  border-color: var(--cfe--kitchen--five--dark);
}
.cfe-kitchen.kitchen-five-outline-dark {
  outline-color: var(--cfe--kitchen--five--dark);
}
.cfe-kitchen.kitchen-five-rule-dark {
  rule-color: var(--cfe--kitchen--five--dark);
}
.cfe-kitchen.kitchen-five-column-rule-dark {
  -moz-column-rule-color: var(--cfe--kitchen--five--dark);
       column-rule-color: var(--cfe--kitchen--five--dark);
}
.cfe-kitchen.kitchen-five-row-rule-dark {
  row-rule-color: var(--cfe--kitchen--five--dark);
}
.cfe-kitchen.kitchen-five-fill-dark {
  fill: var(--cfe--kitchen--five--dark);
}
.cfe-kitchen.kitchen-five-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--kitchen--five--dark);
  text-fill-color: var(--cfe--kitchen--five--dark);
}
.cfe-kitchen.kitchen-five-stroke-dark {
  stroke: var(--cfe--kitchen--five--dark);
}
.cfe-kitchen.kitchen-five-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--kitchen--five--dark);
  text-stroke-color: var(--cfe--kitchen--five--dark);
}
.cfe-kitchen.kitchen-five-flood-dark {
  flood-color: var(--cfe--kitchen--five--dark);
}
.cfe-kitchen.kitchen-five-stop-dark {
  stop-color: var(--cfe--kitchen--five--dark);
}
.cfe-kitchen.kitchen-six-dark {
  color: var(--cfe--kitchen--six--dark);
}
.cfe-kitchen.kitchen-six-bg-dark {
  background-color: var(--cfe--kitchen--six--dark);
}
.cfe-kitchen.kitchen-six-decoration-dark {
  text-decoration-color: var(--cfe--kitchen--six--dark);
}
.cfe-kitchen.kitchen-six-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--kitchen--six--dark);
          text-emphasis-color: var(--cfe--kitchen--six--dark);
}
.cfe-kitchen.kitchen-six-accent-dark {
  accent-color: var(--cfe--kitchen--six--dark);
}
.cfe-kitchen.kitchen-six-caret-dark {
  caret-color: var(--cfe--kitchen--six--dark);
}
.cfe-kitchen.kitchen-six-border-dark {
  border-color: var(--cfe--kitchen--six--dark);
}
.cfe-kitchen.kitchen-six-outline-dark {
  outline-color: var(--cfe--kitchen--six--dark);
}
.cfe-kitchen.kitchen-six-rule-dark {
  rule-color: var(--cfe--kitchen--six--dark);
}
.cfe-kitchen.kitchen-six-column-rule-dark {
  -moz-column-rule-color: var(--cfe--kitchen--six--dark);
       column-rule-color: var(--cfe--kitchen--six--dark);
}
.cfe-kitchen.kitchen-six-row-rule-dark {
  row-rule-color: var(--cfe--kitchen--six--dark);
}
.cfe-kitchen.kitchen-six-fill-dark {
  fill: var(--cfe--kitchen--six--dark);
}
.cfe-kitchen.kitchen-six-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--kitchen--six--dark);
  text-fill-color: var(--cfe--kitchen--six--dark);
}
.cfe-kitchen.kitchen-six-stroke-dark {
  stroke: var(--cfe--kitchen--six--dark);
}
.cfe-kitchen.kitchen-six-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--kitchen--six--dark);
  text-stroke-color: var(--cfe--kitchen--six--dark);
}
.cfe-kitchen.kitchen-six-flood-dark {
  flood-color: var(--cfe--kitchen--six--dark);
}
.cfe-kitchen.kitchen-six-stop-dark {
  stop-color: var(--cfe--kitchen--six--dark);
}