:host,
:root {
  --cfe-scheme-kitchen--body: #ffffff;
  --cfe-scheme-kitchen--text: #381f0f;
  --cfe-scheme-kitchen--one: #b02b14;
  --cfe-scheme-kitchen--two: #e03214;
  --cfe-scheme-kitchen--three: #df7b0b;
  --cfe-scheme-kitchen--four: #ffb400;
  --cfe-scheme-kitchen--five: #677d08;
  --cfe-scheme-kitchen--six: #93ad00;
  --cfe-scheme-kitchen--body--dark: #1e1e1e;
  --cfe-scheme-kitchen--text--dark: #eeeeee;
  --cfe-scheme-kitchen--one--dark: #ffb400;
  --cfe-scheme-kitchen--two--dark: #df7b0b;
  --cfe-scheme-kitchen--three--dark: #677d08;
  --cfe-scheme-kitchen--four--dark: #93ad00;
  --cfe-scheme-kitchen--five--dark: #b02b14;
  --cfe-scheme-kitchen--six--dark: #e03214;
}

.cfe-kitchen.body {
  color: var(--cfe--kitchen--body);
}
.cfe-kitchen.body-bg {
  background-color: var(--cfe--kitchen--body);
}
.cfe-kitchen.body-decoration {
  text-decoration-color: var(--cfe--kitchen--body);
}
.cfe-kitchen.body-emphasis {
  -webkit-text-emphasis-color: var(--cfe--kitchen--body);
          text-emphasis-color: var(--cfe--kitchen--body);
}
.cfe-kitchen.body-accent {
  accent-color: var(--cfe--kitchen--body);
}
.cfe-kitchen.body-caret {
  caret-color: var(--cfe--kitchen--body);
}
.cfe-kitchen.body-border {
  border-color: var(--cfe--kitchen--body);
}
.cfe-kitchen.body-outline {
  outline-color: var(--cfe--kitchen--body);
}
.cfe-kitchen.body-rule {
  rule-color: var(--cfe--kitchen--body);
}
.cfe-kitchen.body-column-rule {
  -moz-column-rule-color: var(--cfe--kitchen--body);
       column-rule-color: var(--cfe--kitchen--body);
}
.cfe-kitchen.body-row-rule {
  row-rule-color: var(--cfe--kitchen--body);
}
.cfe-kitchen.body-fill {
  fill: var(--cfe--kitchen--body);
}
.cfe-kitchen.body-text-fill {
  -webkit-text-fill-color: var(--cfe--kitchen--body);
  text-fill-color: var(--cfe--kitchen--body);
}
.cfe-kitchen.body-stroke {
  stroke: var(--cfe--kitchen--body);
}
.cfe-kitchen.body-text-stroke {
  -webkit-text-stroke-color: var(--cfe--kitchen--body);
  text-stroke-color: var(--cfe--kitchen--body);
}
.cfe-kitchen.body-flood {
  flood-color: var(--cfe--kitchen--body);
}
.cfe-kitchen.body-stop {
  stop-color: var(--cfe--kitchen--body);
}
.cfe-kitchen.text {
  color: var(--cfe--kitchen--text);
}
.cfe-kitchen.text-bg {
  background-color: var(--cfe--kitchen--text);
}
.cfe-kitchen.text-decoration {
  text-decoration-color: var(--cfe--kitchen--text);
}
.cfe-kitchen.text-emphasis {
  -webkit-text-emphasis-color: var(--cfe--kitchen--text);
          text-emphasis-color: var(--cfe--kitchen--text);
}
.cfe-kitchen.text-accent {
  accent-color: var(--cfe--kitchen--text);
}
.cfe-kitchen.text-caret {
  caret-color: var(--cfe--kitchen--text);
}
.cfe-kitchen.text-border {
  border-color: var(--cfe--kitchen--text);
}
.cfe-kitchen.text-outline {
  outline-color: var(--cfe--kitchen--text);
}
.cfe-kitchen.text-rule {
  rule-color: var(--cfe--kitchen--text);
}
.cfe-kitchen.text-column-rule {
  -moz-column-rule-color: var(--cfe--kitchen--text);
       column-rule-color: var(--cfe--kitchen--text);
}
.cfe-kitchen.text-row-rule {
  row-rule-color: var(--cfe--kitchen--text);
}
.cfe-kitchen.text-fill {
  fill: var(--cfe--kitchen--text);
}
.cfe-kitchen.text-text-fill {
  -webkit-text-fill-color: var(--cfe--kitchen--text);
  text-fill-color: var(--cfe--kitchen--text);
}
.cfe-kitchen.text-stroke {
  stroke: var(--cfe--kitchen--text);
}
.cfe-kitchen.text-text-stroke {
  -webkit-text-stroke-color: var(--cfe--kitchen--text);
  text-stroke-color: var(--cfe--kitchen--text);
}
.cfe-kitchen.text-flood {
  flood-color: var(--cfe--kitchen--text);
}
.cfe-kitchen.text-stop {
  stop-color: var(--cfe--kitchen--text);
}
.cfe-kitchen.one {
  color: var(--cfe--kitchen--one);
}
.cfe-kitchen.one-bg {
  background-color: var(--cfe--kitchen--one);
}
.cfe-kitchen.one-decoration {
  text-decoration-color: var(--cfe--kitchen--one);
}
.cfe-kitchen.one-emphasis {
  -webkit-text-emphasis-color: var(--cfe--kitchen--one);
          text-emphasis-color: var(--cfe--kitchen--one);
}
.cfe-kitchen.one-accent {
  accent-color: var(--cfe--kitchen--one);
}
.cfe-kitchen.one-caret {
  caret-color: var(--cfe--kitchen--one);
}
.cfe-kitchen.one-border {
  border-color: var(--cfe--kitchen--one);
}
.cfe-kitchen.one-outline {
  outline-color: var(--cfe--kitchen--one);
}
.cfe-kitchen.one-rule {
  rule-color: var(--cfe--kitchen--one);
}
.cfe-kitchen.one-column-rule {
  -moz-column-rule-color: var(--cfe--kitchen--one);
       column-rule-color: var(--cfe--kitchen--one);
}
.cfe-kitchen.one-row-rule {
  row-rule-color: var(--cfe--kitchen--one);
}
.cfe-kitchen.one-fill {
  fill: var(--cfe--kitchen--one);
}
.cfe-kitchen.one-text-fill {
  -webkit-text-fill-color: var(--cfe--kitchen--one);
  text-fill-color: var(--cfe--kitchen--one);
}
.cfe-kitchen.one-stroke {
  stroke: var(--cfe--kitchen--one);
}
.cfe-kitchen.one-text-stroke {
  -webkit-text-stroke-color: var(--cfe--kitchen--one);
  text-stroke-color: var(--cfe--kitchen--one);
}
.cfe-kitchen.one-flood {
  flood-color: var(--cfe--kitchen--one);
}
.cfe-kitchen.one-stop {
  stop-color: var(--cfe--kitchen--one);
}
.cfe-kitchen.two {
  color: var(--cfe--kitchen--two);
}
.cfe-kitchen.two-bg {
  background-color: var(--cfe--kitchen--two);
}
.cfe-kitchen.two-decoration {
  text-decoration-color: var(--cfe--kitchen--two);
}
.cfe-kitchen.two-emphasis {
  -webkit-text-emphasis-color: var(--cfe--kitchen--two);
          text-emphasis-color: var(--cfe--kitchen--two);
}
.cfe-kitchen.two-accent {
  accent-color: var(--cfe--kitchen--two);
}
.cfe-kitchen.two-caret {
  caret-color: var(--cfe--kitchen--two);
}
.cfe-kitchen.two-border {
  border-color: var(--cfe--kitchen--two);
}
.cfe-kitchen.two-outline {
  outline-color: var(--cfe--kitchen--two);
}
.cfe-kitchen.two-rule {
  rule-color: var(--cfe--kitchen--two);
}
.cfe-kitchen.two-column-rule {
  -moz-column-rule-color: var(--cfe--kitchen--two);
       column-rule-color: var(--cfe--kitchen--two);
}
.cfe-kitchen.two-row-rule {
  row-rule-color: var(--cfe--kitchen--two);
}
.cfe-kitchen.two-fill {
  fill: var(--cfe--kitchen--two);
}
.cfe-kitchen.two-text-fill {
  -webkit-text-fill-color: var(--cfe--kitchen--two);
  text-fill-color: var(--cfe--kitchen--two);
}
.cfe-kitchen.two-stroke {
  stroke: var(--cfe--kitchen--two);
}
.cfe-kitchen.two-text-stroke {
  -webkit-text-stroke-color: var(--cfe--kitchen--two);
  text-stroke-color: var(--cfe--kitchen--two);
}
.cfe-kitchen.two-flood {
  flood-color: var(--cfe--kitchen--two);
}
.cfe-kitchen.two-stop {
  stop-color: var(--cfe--kitchen--two);
}
.cfe-kitchen.three {
  color: var(--cfe--kitchen--three);
}
.cfe-kitchen.three-bg {
  background-color: var(--cfe--kitchen--three);
}
.cfe-kitchen.three-decoration {
  text-decoration-color: var(--cfe--kitchen--three);
}
.cfe-kitchen.three-emphasis {
  -webkit-text-emphasis-color: var(--cfe--kitchen--three);
          text-emphasis-color: var(--cfe--kitchen--three);
}
.cfe-kitchen.three-accent {
  accent-color: var(--cfe--kitchen--three);
}
.cfe-kitchen.three-caret {
  caret-color: var(--cfe--kitchen--three);
}
.cfe-kitchen.three-border {
  border-color: var(--cfe--kitchen--three);
}
.cfe-kitchen.three-outline {
  outline-color: var(--cfe--kitchen--three);
}
.cfe-kitchen.three-rule {
  rule-color: var(--cfe--kitchen--three);
}
.cfe-kitchen.three-column-rule {
  -moz-column-rule-color: var(--cfe--kitchen--three);
       column-rule-color: var(--cfe--kitchen--three);
}
.cfe-kitchen.three-row-rule {
  row-rule-color: var(--cfe--kitchen--three);
}
.cfe-kitchen.three-fill {
  fill: var(--cfe--kitchen--three);
}
.cfe-kitchen.three-text-fill {
  -webkit-text-fill-color: var(--cfe--kitchen--three);
  text-fill-color: var(--cfe--kitchen--three);
}
.cfe-kitchen.three-stroke {
  stroke: var(--cfe--kitchen--three);
}
.cfe-kitchen.three-text-stroke {
  -webkit-text-stroke-color: var(--cfe--kitchen--three);
  text-stroke-color: var(--cfe--kitchen--three);
}
.cfe-kitchen.three-flood {
  flood-color: var(--cfe--kitchen--three);
}
.cfe-kitchen.three-stop {
  stop-color: var(--cfe--kitchen--three);
}
.cfe-kitchen.four {
  color: var(--cfe--kitchen--four);
}
.cfe-kitchen.four-bg {
  background-color: var(--cfe--kitchen--four);
}
.cfe-kitchen.four-decoration {
  text-decoration-color: var(--cfe--kitchen--four);
}
.cfe-kitchen.four-emphasis {
  -webkit-text-emphasis-color: var(--cfe--kitchen--four);
          text-emphasis-color: var(--cfe--kitchen--four);
}
.cfe-kitchen.four-accent {
  accent-color: var(--cfe--kitchen--four);
}
.cfe-kitchen.four-caret {
  caret-color: var(--cfe--kitchen--four);
}
.cfe-kitchen.four-border {
  border-color: var(--cfe--kitchen--four);
}
.cfe-kitchen.four-outline {
  outline-color: var(--cfe--kitchen--four);
}
.cfe-kitchen.four-rule {
  rule-color: var(--cfe--kitchen--four);
}
.cfe-kitchen.four-column-rule {
  -moz-column-rule-color: var(--cfe--kitchen--four);
       column-rule-color: var(--cfe--kitchen--four);
}
.cfe-kitchen.four-row-rule {
  row-rule-color: var(--cfe--kitchen--four);
}
.cfe-kitchen.four-fill {
  fill: var(--cfe--kitchen--four);
}
.cfe-kitchen.four-text-fill {
  -webkit-text-fill-color: var(--cfe--kitchen--four);
  text-fill-color: var(--cfe--kitchen--four);
}
.cfe-kitchen.four-stroke {
  stroke: var(--cfe--kitchen--four);
}
.cfe-kitchen.four-text-stroke {
  -webkit-text-stroke-color: var(--cfe--kitchen--four);
  text-stroke-color: var(--cfe--kitchen--four);
}
.cfe-kitchen.four-flood {
  flood-color: var(--cfe--kitchen--four);
}
.cfe-kitchen.four-stop {
  stop-color: var(--cfe--kitchen--four);
}
.cfe-kitchen.five {
  color: var(--cfe--kitchen--five);
}
.cfe-kitchen.five-bg {
  background-color: var(--cfe--kitchen--five);
}
.cfe-kitchen.five-decoration {
  text-decoration-color: var(--cfe--kitchen--five);
}
.cfe-kitchen.five-emphasis {
  -webkit-text-emphasis-color: var(--cfe--kitchen--five);
          text-emphasis-color: var(--cfe--kitchen--five);
}
.cfe-kitchen.five-accent {
  accent-color: var(--cfe--kitchen--five);
}
.cfe-kitchen.five-caret {
  caret-color: var(--cfe--kitchen--five);
}
.cfe-kitchen.five-border {
  border-color: var(--cfe--kitchen--five);
}
.cfe-kitchen.five-outline {
  outline-color: var(--cfe--kitchen--five);
}
.cfe-kitchen.five-rule {
  rule-color: var(--cfe--kitchen--five);
}
.cfe-kitchen.five-column-rule {
  -moz-column-rule-color: var(--cfe--kitchen--five);
       column-rule-color: var(--cfe--kitchen--five);
}
.cfe-kitchen.five-row-rule {
  row-rule-color: var(--cfe--kitchen--five);
}
.cfe-kitchen.five-fill {
  fill: var(--cfe--kitchen--five);
}
.cfe-kitchen.five-text-fill {
  -webkit-text-fill-color: var(--cfe--kitchen--five);
  text-fill-color: var(--cfe--kitchen--five);
}
.cfe-kitchen.five-stroke {
  stroke: var(--cfe--kitchen--five);
}
.cfe-kitchen.five-text-stroke {
  -webkit-text-stroke-color: var(--cfe--kitchen--five);
  text-stroke-color: var(--cfe--kitchen--five);
}
.cfe-kitchen.five-flood {
  flood-color: var(--cfe--kitchen--five);
}
.cfe-kitchen.five-stop {
  stop-color: var(--cfe--kitchen--five);
}
.cfe-kitchen.six {
  color: var(--cfe--kitchen--six);
}
.cfe-kitchen.six-bg {
  background-color: var(--cfe--kitchen--six);
}
.cfe-kitchen.six-decoration {
  text-decoration-color: var(--cfe--kitchen--six);
}
.cfe-kitchen.six-emphasis {
  -webkit-text-emphasis-color: var(--cfe--kitchen--six);
          text-emphasis-color: var(--cfe--kitchen--six);
}
.cfe-kitchen.six-accent {
  accent-color: var(--cfe--kitchen--six);
}
.cfe-kitchen.six-caret {
  caret-color: var(--cfe--kitchen--six);
}
.cfe-kitchen.six-border {
  border-color: var(--cfe--kitchen--six);
}
.cfe-kitchen.six-outline {
  outline-color: var(--cfe--kitchen--six);
}
.cfe-kitchen.six-rule {
  rule-color: var(--cfe--kitchen--six);
}
.cfe-kitchen.six-column-rule {
  -moz-column-rule-color: var(--cfe--kitchen--six);
       column-rule-color: var(--cfe--kitchen--six);
}
.cfe-kitchen.six-row-rule {
  row-rule-color: var(--cfe--kitchen--six);
}
.cfe-kitchen.six-fill {
  fill: var(--cfe--kitchen--six);
}
.cfe-kitchen.six-text-fill {
  -webkit-text-fill-color: var(--cfe--kitchen--six);
  text-fill-color: var(--cfe--kitchen--six);
}
.cfe-kitchen.six-stroke {
  stroke: var(--cfe--kitchen--six);
}
.cfe-kitchen.six-text-stroke {
  -webkit-text-stroke-color: var(--cfe--kitchen--six);
  text-stroke-color: var(--cfe--kitchen--six);
}
.cfe-kitchen.six-flood {
  flood-color: var(--cfe--kitchen--six);
}
.cfe-kitchen.six-stop {
  stop-color: var(--cfe--kitchen--six);
}
.cfe-kitchen.body-dark {
  color: var(--cfe--kitchen--body--dark);
}
.cfe-kitchen.body-bg-dark {
  background-color: var(--cfe--kitchen--body--dark);
}
.cfe-kitchen.body-decoration-dark {
  text-decoration-color: var(--cfe--kitchen--body--dark);
}
.cfe-kitchen.body-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--kitchen--body--dark);
          text-emphasis-color: var(--cfe--kitchen--body--dark);
}
.cfe-kitchen.body-accent-dark {
  accent-color: var(--cfe--kitchen--body--dark);
}
.cfe-kitchen.body-caret-dark {
  caret-color: var(--cfe--kitchen--body--dark);
}
.cfe-kitchen.body-border-dark {
  border-color: var(--cfe--kitchen--body--dark);
}
.cfe-kitchen.body-outline-dark {
  outline-color: var(--cfe--kitchen--body--dark);
}
.cfe-kitchen.body-rule-dark {
  rule-color: var(--cfe--kitchen--body--dark);
}
.cfe-kitchen.body-column-rule-dark {
  -moz-column-rule-color: var(--cfe--kitchen--body--dark);
       column-rule-color: var(--cfe--kitchen--body--dark);
}
.cfe-kitchen.body-row-rule-dark {
  row-rule-color: var(--cfe--kitchen--body--dark);
}
.cfe-kitchen.body-fill-dark {
  fill: var(--cfe--kitchen--body--dark);
}
.cfe-kitchen.body-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--kitchen--body--dark);
  text-fill-color: var(--cfe--kitchen--body--dark);
}
.cfe-kitchen.body-stroke-dark {
  stroke: var(--cfe--kitchen--body--dark);
}
.cfe-kitchen.body-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--kitchen--body--dark);
  text-stroke-color: var(--cfe--kitchen--body--dark);
}
.cfe-kitchen.body-flood-dark {
  flood-color: var(--cfe--kitchen--body--dark);
}
.cfe-kitchen.body-stop-dark {
  stop-color: var(--cfe--kitchen--body--dark);
}
.cfe-kitchen.text-dark {
  color: var(--cfe--kitchen--text--dark);
}
.cfe-kitchen.text-bg-dark {
  background-color: var(--cfe--kitchen--text--dark);
}
.cfe-kitchen.text-decoration-dark {
  text-decoration-color: var(--cfe--kitchen--text--dark);
}
.cfe-kitchen.text-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--kitchen--text--dark);
          text-emphasis-color: var(--cfe--kitchen--text--dark);
}
.cfe-kitchen.text-accent-dark {
  accent-color: var(--cfe--kitchen--text--dark);
}
.cfe-kitchen.text-caret-dark {
  caret-color: var(--cfe--kitchen--text--dark);
}
.cfe-kitchen.text-border-dark {
  border-color: var(--cfe--kitchen--text--dark);
}
.cfe-kitchen.text-outline-dark {
  outline-color: var(--cfe--kitchen--text--dark);
}
.cfe-kitchen.text-rule-dark {
  rule-color: var(--cfe--kitchen--text--dark);
}
.cfe-kitchen.text-column-rule-dark {
  -moz-column-rule-color: var(--cfe--kitchen--text--dark);
       column-rule-color: var(--cfe--kitchen--text--dark);
}
.cfe-kitchen.text-row-rule-dark {
  row-rule-color: var(--cfe--kitchen--text--dark);
}
.cfe-kitchen.text-fill-dark {
  fill: var(--cfe--kitchen--text--dark);
}
.cfe-kitchen.text-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--kitchen--text--dark);
  text-fill-color: var(--cfe--kitchen--text--dark);
}
.cfe-kitchen.text-stroke-dark {
  stroke: var(--cfe--kitchen--text--dark);
}
.cfe-kitchen.text-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--kitchen--text--dark);
  text-stroke-color: var(--cfe--kitchen--text--dark);
}
.cfe-kitchen.text-flood-dark {
  flood-color: var(--cfe--kitchen--text--dark);
}
.cfe-kitchen.text-stop-dark {
  stop-color: var(--cfe--kitchen--text--dark);
}
.cfe-kitchen.one-dark {
  color: var(--cfe--kitchen--one--dark);
}
.cfe-kitchen.one-bg-dark {
  background-color: var(--cfe--kitchen--one--dark);
}
.cfe-kitchen.one-decoration-dark {
  text-decoration-color: var(--cfe--kitchen--one--dark);
}
.cfe-kitchen.one-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--kitchen--one--dark);
          text-emphasis-color: var(--cfe--kitchen--one--dark);
}
.cfe-kitchen.one-accent-dark {
  accent-color: var(--cfe--kitchen--one--dark);
}
.cfe-kitchen.one-caret-dark {
  caret-color: var(--cfe--kitchen--one--dark);
}
.cfe-kitchen.one-border-dark {
  border-color: var(--cfe--kitchen--one--dark);
}
.cfe-kitchen.one-outline-dark {
  outline-color: var(--cfe--kitchen--one--dark);
}
.cfe-kitchen.one-rule-dark {
  rule-color: var(--cfe--kitchen--one--dark);
}
.cfe-kitchen.one-column-rule-dark {
  -moz-column-rule-color: var(--cfe--kitchen--one--dark);
       column-rule-color: var(--cfe--kitchen--one--dark);
}
.cfe-kitchen.one-row-rule-dark {
  row-rule-color: var(--cfe--kitchen--one--dark);
}
.cfe-kitchen.one-fill-dark {
  fill: var(--cfe--kitchen--one--dark);
}
.cfe-kitchen.one-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--kitchen--one--dark);
  text-fill-color: var(--cfe--kitchen--one--dark);
}
.cfe-kitchen.one-stroke-dark {
  stroke: var(--cfe--kitchen--one--dark);
}
.cfe-kitchen.one-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--kitchen--one--dark);
  text-stroke-color: var(--cfe--kitchen--one--dark);
}
.cfe-kitchen.one-flood-dark {
  flood-color: var(--cfe--kitchen--one--dark);
}
.cfe-kitchen.one-stop-dark {
  stop-color: var(--cfe--kitchen--one--dark);
}
.cfe-kitchen.two-dark {
  color: var(--cfe--kitchen--two--dark);
}
.cfe-kitchen.two-bg-dark {
  background-color: var(--cfe--kitchen--two--dark);
}
.cfe-kitchen.two-decoration-dark {
  text-decoration-color: var(--cfe--kitchen--two--dark);
}
.cfe-kitchen.two-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--kitchen--two--dark);
          text-emphasis-color: var(--cfe--kitchen--two--dark);
}
.cfe-kitchen.two-accent-dark {
  accent-color: var(--cfe--kitchen--two--dark);
}
.cfe-kitchen.two-caret-dark {
  caret-color: var(--cfe--kitchen--two--dark);
}
.cfe-kitchen.two-border-dark {
  border-color: var(--cfe--kitchen--two--dark);
}
.cfe-kitchen.two-outline-dark {
  outline-color: var(--cfe--kitchen--two--dark);
}
.cfe-kitchen.two-rule-dark {
  rule-color: var(--cfe--kitchen--two--dark);
}
.cfe-kitchen.two-column-rule-dark {
  -moz-column-rule-color: var(--cfe--kitchen--two--dark);
       column-rule-color: var(--cfe--kitchen--two--dark);
}
.cfe-kitchen.two-row-rule-dark {
  row-rule-color: var(--cfe--kitchen--two--dark);
}
.cfe-kitchen.two-fill-dark {
  fill: var(--cfe--kitchen--two--dark);
}
.cfe-kitchen.two-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--kitchen--two--dark);
  text-fill-color: var(--cfe--kitchen--two--dark);
}
.cfe-kitchen.two-stroke-dark {
  stroke: var(--cfe--kitchen--two--dark);
}
.cfe-kitchen.two-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--kitchen--two--dark);
  text-stroke-color: var(--cfe--kitchen--two--dark);
}
.cfe-kitchen.two-flood-dark {
  flood-color: var(--cfe--kitchen--two--dark);
}
.cfe-kitchen.two-stop-dark {
  stop-color: var(--cfe--kitchen--two--dark);
}
.cfe-kitchen.three-dark {
  color: var(--cfe--kitchen--three--dark);
}
.cfe-kitchen.three-bg-dark {
  background-color: var(--cfe--kitchen--three--dark);
}
.cfe-kitchen.three-decoration-dark {
  text-decoration-color: var(--cfe--kitchen--three--dark);
}
.cfe-kitchen.three-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--kitchen--three--dark);
          text-emphasis-color: var(--cfe--kitchen--three--dark);
}
.cfe-kitchen.three-accent-dark {
  accent-color: var(--cfe--kitchen--three--dark);
}
.cfe-kitchen.three-caret-dark {
  caret-color: var(--cfe--kitchen--three--dark);
}
.cfe-kitchen.three-border-dark {
  border-color: var(--cfe--kitchen--three--dark);
}
.cfe-kitchen.three-outline-dark {
  outline-color: var(--cfe--kitchen--three--dark);
}
.cfe-kitchen.three-rule-dark {
  rule-color: var(--cfe--kitchen--three--dark);
}
.cfe-kitchen.three-column-rule-dark {
  -moz-column-rule-color: var(--cfe--kitchen--three--dark);
       column-rule-color: var(--cfe--kitchen--three--dark);
}
.cfe-kitchen.three-row-rule-dark {
  row-rule-color: var(--cfe--kitchen--three--dark);
}
.cfe-kitchen.three-fill-dark {
  fill: var(--cfe--kitchen--three--dark);
}
.cfe-kitchen.three-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--kitchen--three--dark);
  text-fill-color: var(--cfe--kitchen--three--dark);
}
.cfe-kitchen.three-stroke-dark {
  stroke: var(--cfe--kitchen--three--dark);
}
.cfe-kitchen.three-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--kitchen--three--dark);
  text-stroke-color: var(--cfe--kitchen--three--dark);
}
.cfe-kitchen.three-flood-dark {
  flood-color: var(--cfe--kitchen--three--dark);
}
.cfe-kitchen.three-stop-dark {
  stop-color: var(--cfe--kitchen--three--dark);
}
.cfe-kitchen.four-dark {
  color: var(--cfe--kitchen--four--dark);
}
.cfe-kitchen.four-bg-dark {
  background-color: var(--cfe--kitchen--four--dark);
}
.cfe-kitchen.four-decoration-dark {
  text-decoration-color: var(--cfe--kitchen--four--dark);
}
.cfe-kitchen.four-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--kitchen--four--dark);
          text-emphasis-color: var(--cfe--kitchen--four--dark);
}
.cfe-kitchen.four-accent-dark {
  accent-color: var(--cfe--kitchen--four--dark);
}
.cfe-kitchen.four-caret-dark {
  caret-color: var(--cfe--kitchen--four--dark);
}
.cfe-kitchen.four-border-dark {
  border-color: var(--cfe--kitchen--four--dark);
}
.cfe-kitchen.four-outline-dark {
  outline-color: var(--cfe--kitchen--four--dark);
}
.cfe-kitchen.four-rule-dark {
  rule-color: var(--cfe--kitchen--four--dark);
}
.cfe-kitchen.four-column-rule-dark {
  -moz-column-rule-color: var(--cfe--kitchen--four--dark);
       column-rule-color: var(--cfe--kitchen--four--dark);
}
.cfe-kitchen.four-row-rule-dark {
  row-rule-color: var(--cfe--kitchen--four--dark);
}
.cfe-kitchen.four-fill-dark {
  fill: var(--cfe--kitchen--four--dark);
}
.cfe-kitchen.four-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--kitchen--four--dark);
  text-fill-color: var(--cfe--kitchen--four--dark);
}
.cfe-kitchen.four-stroke-dark {
  stroke: var(--cfe--kitchen--four--dark);
}
.cfe-kitchen.four-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--kitchen--four--dark);
  text-stroke-color: var(--cfe--kitchen--four--dark);
}
.cfe-kitchen.four-flood-dark {
  flood-color: var(--cfe--kitchen--four--dark);
}
.cfe-kitchen.four-stop-dark {
  stop-color: var(--cfe--kitchen--four--dark);
}
.cfe-kitchen.five-dark {
  color: var(--cfe--kitchen--five--dark);
}
.cfe-kitchen.five-bg-dark {
  background-color: var(--cfe--kitchen--five--dark);
}
.cfe-kitchen.five-decoration-dark {
  text-decoration-color: var(--cfe--kitchen--five--dark);
}
.cfe-kitchen.five-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--kitchen--five--dark);
          text-emphasis-color: var(--cfe--kitchen--five--dark);
}
.cfe-kitchen.five-accent-dark {
  accent-color: var(--cfe--kitchen--five--dark);
}
.cfe-kitchen.five-caret-dark {
  caret-color: var(--cfe--kitchen--five--dark);
}
.cfe-kitchen.five-border-dark {
  border-color: var(--cfe--kitchen--five--dark);
}
.cfe-kitchen.five-outline-dark {
  outline-color: var(--cfe--kitchen--five--dark);
}
.cfe-kitchen.five-rule-dark {
  rule-color: var(--cfe--kitchen--five--dark);
}
.cfe-kitchen.five-column-rule-dark {
  -moz-column-rule-color: var(--cfe--kitchen--five--dark);
       column-rule-color: var(--cfe--kitchen--five--dark);
}
.cfe-kitchen.five-row-rule-dark {
  row-rule-color: var(--cfe--kitchen--five--dark);
}
.cfe-kitchen.five-fill-dark {
  fill: var(--cfe--kitchen--five--dark);
}
.cfe-kitchen.five-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--kitchen--five--dark);
  text-fill-color: var(--cfe--kitchen--five--dark);
}
.cfe-kitchen.five-stroke-dark {
  stroke: var(--cfe--kitchen--five--dark);
}
.cfe-kitchen.five-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--kitchen--five--dark);
  text-stroke-color: var(--cfe--kitchen--five--dark);
}
.cfe-kitchen.five-flood-dark {
  flood-color: var(--cfe--kitchen--five--dark);
}
.cfe-kitchen.five-stop-dark {
  stop-color: var(--cfe--kitchen--five--dark);
}
.cfe-kitchen.six-dark {
  color: var(--cfe--kitchen--six--dark);
}
.cfe-kitchen.six-bg-dark {
  background-color: var(--cfe--kitchen--six--dark);
}
.cfe-kitchen.six-decoration-dark {
  text-decoration-color: var(--cfe--kitchen--six--dark);
}
.cfe-kitchen.six-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--kitchen--six--dark);
          text-emphasis-color: var(--cfe--kitchen--six--dark);
}
.cfe-kitchen.six-accent-dark {
  accent-color: var(--cfe--kitchen--six--dark);
}
.cfe-kitchen.six-caret-dark {
  caret-color: var(--cfe--kitchen--six--dark);
}
.cfe-kitchen.six-border-dark {
  border-color: var(--cfe--kitchen--six--dark);
}
.cfe-kitchen.six-outline-dark {
  outline-color: var(--cfe--kitchen--six--dark);
}
.cfe-kitchen.six-rule-dark {
  rule-color: var(--cfe--kitchen--six--dark);
}
.cfe-kitchen.six-column-rule-dark {
  -moz-column-rule-color: var(--cfe--kitchen--six--dark);
       column-rule-color: var(--cfe--kitchen--six--dark);
}
.cfe-kitchen.six-row-rule-dark {
  row-rule-color: var(--cfe--kitchen--six--dark);
}
.cfe-kitchen.six-fill-dark {
  fill: var(--cfe--kitchen--six--dark);
}
.cfe-kitchen.six-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--kitchen--six--dark);
  text-fill-color: var(--cfe--kitchen--six--dark);
}
.cfe-kitchen.six-stroke-dark {
  stroke: var(--cfe--kitchen--six--dark);
}
.cfe-kitchen.six-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--kitchen--six--dark);
  text-stroke-color: var(--cfe--kitchen--six--dark);
}
.cfe-kitchen.six-flood-dark {
  flood-color: var(--cfe--kitchen--six--dark);
}
.cfe-kitchen.six-stop-dark {
  stop-color: var(--cfe--kitchen--six--dark);
}