:host,
:root {
  --cfe-scheme-heian-06--body: #f8f4e9;
  --cfe-scheme-heian-06--text: #1c1c1c;
  --cfe-scheme-heian-06--one: #88b9c4;
  --cfe-scheme-heian-06--two: #dccb6e;
  --cfe-scheme-heian-06--three: #88b9c4;
  --cfe-scheme-heian-06--four: #dccb6e;
  --cfe-scheme-heian-06--five: #dccb6e;
  --cfe-scheme-heian-06--six: #88b9c4;
  --cfe-scheme-heian-06--body--dark: #1c1c1c;
  --cfe-scheme-heian-06--text--dark: #f8f4e9;
  --cfe-scheme-heian-06--one--dark: #88b9c4;
  --cfe-scheme-heian-06--two--dark: #dccb6e;
  --cfe-scheme-heian-06--three--dark: #88b9c4;
  --cfe-scheme-heian-06--four--dark: #dccb6e;
  --cfe-scheme-heian-06--five--dark: #dccb6e;
  --cfe-scheme-heian-06--six--dark: #88b9c4;
  --cfe-scheme-heian-06--cover-blend--bg-color: c.$media;
}

.cfe-heian-06.heian-06-body {
  color: var(--cfe--heian-06--body);
}
.cfe-heian-06.heian-06-body-bg {
  background-color: var(--cfe--heian-06--body);
}
.cfe-heian-06.heian-06-body-decoration {
  text-decoration-color: var(--cfe--heian-06--body);
}
.cfe-heian-06.heian-06-body-emphasis {
  -webkit-text-emphasis-color: var(--cfe--heian-06--body);
          text-emphasis-color: var(--cfe--heian-06--body);
}
.cfe-heian-06.heian-06-body-accent {
  accent-color: var(--cfe--heian-06--body);
}
.cfe-heian-06.heian-06-body-caret {
  caret-color: var(--cfe--heian-06--body);
}
.cfe-heian-06.heian-06-body-border {
  border-color: var(--cfe--heian-06--body);
}
.cfe-heian-06.heian-06-body-outline {
  outline-color: var(--cfe--heian-06--body);
}
.cfe-heian-06.heian-06-body-rule {
  rule-color: var(--cfe--heian-06--body);
}
.cfe-heian-06.heian-06-body-column-rule {
  -moz-column-rule-color: var(--cfe--heian-06--body);
       column-rule-color: var(--cfe--heian-06--body);
}
.cfe-heian-06.heian-06-body-row-rule {
  row-rule-color: var(--cfe--heian-06--body);
}
.cfe-heian-06.heian-06-body-fill {
  fill: var(--cfe--heian-06--body);
}
.cfe-heian-06.heian-06-body-text-fill {
  -webkit-text-fill-color: var(--cfe--heian-06--body);
  text-fill-color: var(--cfe--heian-06--body);
}
.cfe-heian-06.heian-06-body-stroke {
  stroke: var(--cfe--heian-06--body);
}
.cfe-heian-06.heian-06-body-text-stroke {
  -webkit-text-stroke-color: var(--cfe--heian-06--body);
  text-stroke-color: var(--cfe--heian-06--body);
}
.cfe-heian-06.heian-06-body-flood {
  flood-color: var(--cfe--heian-06--body);
}
.cfe-heian-06.heian-06-body-stop {
  stop-color: var(--cfe--heian-06--body);
}
.cfe-heian-06.heian-06-text {
  color: var(--cfe--heian-06--text);
}
.cfe-heian-06.heian-06-text-bg {
  background-color: var(--cfe--heian-06--text);
}
.cfe-heian-06.heian-06-text-decoration {
  text-decoration-color: var(--cfe--heian-06--text);
}
.cfe-heian-06.heian-06-text-emphasis {
  -webkit-text-emphasis-color: var(--cfe--heian-06--text);
          text-emphasis-color: var(--cfe--heian-06--text);
}
.cfe-heian-06.heian-06-text-accent {
  accent-color: var(--cfe--heian-06--text);
}
.cfe-heian-06.heian-06-text-caret {
  caret-color: var(--cfe--heian-06--text);
}
.cfe-heian-06.heian-06-text-border {
  border-color: var(--cfe--heian-06--text);
}
.cfe-heian-06.heian-06-text-outline {
  outline-color: var(--cfe--heian-06--text);
}
.cfe-heian-06.heian-06-text-rule {
  rule-color: var(--cfe--heian-06--text);
}
.cfe-heian-06.heian-06-text-column-rule {
  -moz-column-rule-color: var(--cfe--heian-06--text);
       column-rule-color: var(--cfe--heian-06--text);
}
.cfe-heian-06.heian-06-text-row-rule {
  row-rule-color: var(--cfe--heian-06--text);
}
.cfe-heian-06.heian-06-text-fill {
  fill: var(--cfe--heian-06--text);
}
.cfe-heian-06.heian-06-text-text-fill {
  -webkit-text-fill-color: var(--cfe--heian-06--text);
  text-fill-color: var(--cfe--heian-06--text);
}
.cfe-heian-06.heian-06-text-stroke {
  stroke: var(--cfe--heian-06--text);
}
.cfe-heian-06.heian-06-text-text-stroke {
  -webkit-text-stroke-color: var(--cfe--heian-06--text);
  text-stroke-color: var(--cfe--heian-06--text);
}
.cfe-heian-06.heian-06-text-flood {
  flood-color: var(--cfe--heian-06--text);
}
.cfe-heian-06.heian-06-text-stop {
  stop-color: var(--cfe--heian-06--text);
}
.cfe-heian-06.heian-06-one {
  color: var(--cfe--heian-06--one);
}
.cfe-heian-06.heian-06-one-bg {
  background-color: var(--cfe--heian-06--one);
}
.cfe-heian-06.heian-06-one-decoration {
  text-decoration-color: var(--cfe--heian-06--one);
}
.cfe-heian-06.heian-06-one-emphasis {
  -webkit-text-emphasis-color: var(--cfe--heian-06--one);
          text-emphasis-color: var(--cfe--heian-06--one);
}
.cfe-heian-06.heian-06-one-accent {
  accent-color: var(--cfe--heian-06--one);
}
.cfe-heian-06.heian-06-one-caret {
  caret-color: var(--cfe--heian-06--one);
}
.cfe-heian-06.heian-06-one-border {
  border-color: var(--cfe--heian-06--one);
}
.cfe-heian-06.heian-06-one-outline {
  outline-color: var(--cfe--heian-06--one);
}
.cfe-heian-06.heian-06-one-rule {
  rule-color: var(--cfe--heian-06--one);
}
.cfe-heian-06.heian-06-one-column-rule {
  -moz-column-rule-color: var(--cfe--heian-06--one);
       column-rule-color: var(--cfe--heian-06--one);
}
.cfe-heian-06.heian-06-one-row-rule {
  row-rule-color: var(--cfe--heian-06--one);
}
.cfe-heian-06.heian-06-one-fill {
  fill: var(--cfe--heian-06--one);
}
.cfe-heian-06.heian-06-one-text-fill {
  -webkit-text-fill-color: var(--cfe--heian-06--one);
  text-fill-color: var(--cfe--heian-06--one);
}
.cfe-heian-06.heian-06-one-stroke {
  stroke: var(--cfe--heian-06--one);
}
.cfe-heian-06.heian-06-one-text-stroke {
  -webkit-text-stroke-color: var(--cfe--heian-06--one);
  text-stroke-color: var(--cfe--heian-06--one);
}
.cfe-heian-06.heian-06-one-flood {
  flood-color: var(--cfe--heian-06--one);
}
.cfe-heian-06.heian-06-one-stop {
  stop-color: var(--cfe--heian-06--one);
}
.cfe-heian-06.heian-06-two {
  color: var(--cfe--heian-06--two);
}
.cfe-heian-06.heian-06-two-bg {
  background-color: var(--cfe--heian-06--two);
}
.cfe-heian-06.heian-06-two-decoration {
  text-decoration-color: var(--cfe--heian-06--two);
}
.cfe-heian-06.heian-06-two-emphasis {
  -webkit-text-emphasis-color: var(--cfe--heian-06--two);
          text-emphasis-color: var(--cfe--heian-06--two);
}
.cfe-heian-06.heian-06-two-accent {
  accent-color: var(--cfe--heian-06--two);
}
.cfe-heian-06.heian-06-two-caret {
  caret-color: var(--cfe--heian-06--two);
}
.cfe-heian-06.heian-06-two-border {
  border-color: var(--cfe--heian-06--two);
}
.cfe-heian-06.heian-06-two-outline {
  outline-color: var(--cfe--heian-06--two);
}
.cfe-heian-06.heian-06-two-rule {
  rule-color: var(--cfe--heian-06--two);
}
.cfe-heian-06.heian-06-two-column-rule {
  -moz-column-rule-color: var(--cfe--heian-06--two);
       column-rule-color: var(--cfe--heian-06--two);
}
.cfe-heian-06.heian-06-two-row-rule {
  row-rule-color: var(--cfe--heian-06--two);
}
.cfe-heian-06.heian-06-two-fill {
  fill: var(--cfe--heian-06--two);
}
.cfe-heian-06.heian-06-two-text-fill {
  -webkit-text-fill-color: var(--cfe--heian-06--two);
  text-fill-color: var(--cfe--heian-06--two);
}
.cfe-heian-06.heian-06-two-stroke {
  stroke: var(--cfe--heian-06--two);
}
.cfe-heian-06.heian-06-two-text-stroke {
  -webkit-text-stroke-color: var(--cfe--heian-06--two);
  text-stroke-color: var(--cfe--heian-06--two);
}
.cfe-heian-06.heian-06-two-flood {
  flood-color: var(--cfe--heian-06--two);
}
.cfe-heian-06.heian-06-two-stop {
  stop-color: var(--cfe--heian-06--two);
}
.cfe-heian-06.heian-06-three {
  color: var(--cfe--heian-06--three);
}
.cfe-heian-06.heian-06-three-bg {
  background-color: var(--cfe--heian-06--three);
}
.cfe-heian-06.heian-06-three-decoration {
  text-decoration-color: var(--cfe--heian-06--three);
}
.cfe-heian-06.heian-06-three-emphasis {
  -webkit-text-emphasis-color: var(--cfe--heian-06--three);
          text-emphasis-color: var(--cfe--heian-06--three);
}
.cfe-heian-06.heian-06-three-accent {
  accent-color: var(--cfe--heian-06--three);
}
.cfe-heian-06.heian-06-three-caret {
  caret-color: var(--cfe--heian-06--three);
}
.cfe-heian-06.heian-06-three-border {
  border-color: var(--cfe--heian-06--three);
}
.cfe-heian-06.heian-06-three-outline {
  outline-color: var(--cfe--heian-06--three);
}
.cfe-heian-06.heian-06-three-rule {
  rule-color: var(--cfe--heian-06--three);
}
.cfe-heian-06.heian-06-three-column-rule {
  -moz-column-rule-color: var(--cfe--heian-06--three);
       column-rule-color: var(--cfe--heian-06--three);
}
.cfe-heian-06.heian-06-three-row-rule {
  row-rule-color: var(--cfe--heian-06--three);
}
.cfe-heian-06.heian-06-three-fill {
  fill: var(--cfe--heian-06--three);
}
.cfe-heian-06.heian-06-three-text-fill {
  -webkit-text-fill-color: var(--cfe--heian-06--three);
  text-fill-color: var(--cfe--heian-06--three);
}
.cfe-heian-06.heian-06-three-stroke {
  stroke: var(--cfe--heian-06--three);
}
.cfe-heian-06.heian-06-three-text-stroke {
  -webkit-text-stroke-color: var(--cfe--heian-06--three);
  text-stroke-color: var(--cfe--heian-06--three);
}
.cfe-heian-06.heian-06-three-flood {
  flood-color: var(--cfe--heian-06--three);
}
.cfe-heian-06.heian-06-three-stop {
  stop-color: var(--cfe--heian-06--three);
}
.cfe-heian-06.heian-06-four {
  color: var(--cfe--heian-06--four);
}
.cfe-heian-06.heian-06-four-bg {
  background-color: var(--cfe--heian-06--four);
}
.cfe-heian-06.heian-06-four-decoration {
  text-decoration-color: var(--cfe--heian-06--four);
}
.cfe-heian-06.heian-06-four-emphasis {
  -webkit-text-emphasis-color: var(--cfe--heian-06--four);
          text-emphasis-color: var(--cfe--heian-06--four);
}
.cfe-heian-06.heian-06-four-accent {
  accent-color: var(--cfe--heian-06--four);
}
.cfe-heian-06.heian-06-four-caret {
  caret-color: var(--cfe--heian-06--four);
}
.cfe-heian-06.heian-06-four-border {
  border-color: var(--cfe--heian-06--four);
}
.cfe-heian-06.heian-06-four-outline {
  outline-color: var(--cfe--heian-06--four);
}
.cfe-heian-06.heian-06-four-rule {
  rule-color: var(--cfe--heian-06--four);
}
.cfe-heian-06.heian-06-four-column-rule {
  -moz-column-rule-color: var(--cfe--heian-06--four);
       column-rule-color: var(--cfe--heian-06--four);
}
.cfe-heian-06.heian-06-four-row-rule {
  row-rule-color: var(--cfe--heian-06--four);
}
.cfe-heian-06.heian-06-four-fill {
  fill: var(--cfe--heian-06--four);
}
.cfe-heian-06.heian-06-four-text-fill {
  -webkit-text-fill-color: var(--cfe--heian-06--four);
  text-fill-color: var(--cfe--heian-06--four);
}
.cfe-heian-06.heian-06-four-stroke {
  stroke: var(--cfe--heian-06--four);
}
.cfe-heian-06.heian-06-four-text-stroke {
  -webkit-text-stroke-color: var(--cfe--heian-06--four);
  text-stroke-color: var(--cfe--heian-06--four);
}
.cfe-heian-06.heian-06-four-flood {
  flood-color: var(--cfe--heian-06--four);
}
.cfe-heian-06.heian-06-four-stop {
  stop-color: var(--cfe--heian-06--four);
}
.cfe-heian-06.heian-06-five {
  color: var(--cfe--heian-06--five);
}
.cfe-heian-06.heian-06-five-bg {
  background-color: var(--cfe--heian-06--five);
}
.cfe-heian-06.heian-06-five-decoration {
  text-decoration-color: var(--cfe--heian-06--five);
}
.cfe-heian-06.heian-06-five-emphasis {
  -webkit-text-emphasis-color: var(--cfe--heian-06--five);
          text-emphasis-color: var(--cfe--heian-06--five);
}
.cfe-heian-06.heian-06-five-accent {
  accent-color: var(--cfe--heian-06--five);
}
.cfe-heian-06.heian-06-five-caret {
  caret-color: var(--cfe--heian-06--five);
}
.cfe-heian-06.heian-06-five-border {
  border-color: var(--cfe--heian-06--five);
}
.cfe-heian-06.heian-06-five-outline {
  outline-color: var(--cfe--heian-06--five);
}
.cfe-heian-06.heian-06-five-rule {
  rule-color: var(--cfe--heian-06--five);
}
.cfe-heian-06.heian-06-five-column-rule {
  -moz-column-rule-color: var(--cfe--heian-06--five);
       column-rule-color: var(--cfe--heian-06--five);
}
.cfe-heian-06.heian-06-five-row-rule {
  row-rule-color: var(--cfe--heian-06--five);
}
.cfe-heian-06.heian-06-five-fill {
  fill: var(--cfe--heian-06--five);
}
.cfe-heian-06.heian-06-five-text-fill {
  -webkit-text-fill-color: var(--cfe--heian-06--five);
  text-fill-color: var(--cfe--heian-06--five);
}
.cfe-heian-06.heian-06-five-stroke {
  stroke: var(--cfe--heian-06--five);
}
.cfe-heian-06.heian-06-five-text-stroke {
  -webkit-text-stroke-color: var(--cfe--heian-06--five);
  text-stroke-color: var(--cfe--heian-06--five);
}
.cfe-heian-06.heian-06-five-flood {
  flood-color: var(--cfe--heian-06--five);
}
.cfe-heian-06.heian-06-five-stop {
  stop-color: var(--cfe--heian-06--five);
}
.cfe-heian-06.heian-06-six {
  color: var(--cfe--heian-06--six);
}
.cfe-heian-06.heian-06-six-bg {
  background-color: var(--cfe--heian-06--six);
}
.cfe-heian-06.heian-06-six-decoration {
  text-decoration-color: var(--cfe--heian-06--six);
}
.cfe-heian-06.heian-06-six-emphasis {
  -webkit-text-emphasis-color: var(--cfe--heian-06--six);
          text-emphasis-color: var(--cfe--heian-06--six);
}
.cfe-heian-06.heian-06-six-accent {
  accent-color: var(--cfe--heian-06--six);
}
.cfe-heian-06.heian-06-six-caret {
  caret-color: var(--cfe--heian-06--six);
}
.cfe-heian-06.heian-06-six-border {
  border-color: var(--cfe--heian-06--six);
}
.cfe-heian-06.heian-06-six-outline {
  outline-color: var(--cfe--heian-06--six);
}
.cfe-heian-06.heian-06-six-rule {
  rule-color: var(--cfe--heian-06--six);
}
.cfe-heian-06.heian-06-six-column-rule {
  -moz-column-rule-color: var(--cfe--heian-06--six);
       column-rule-color: var(--cfe--heian-06--six);
}
.cfe-heian-06.heian-06-six-row-rule {
  row-rule-color: var(--cfe--heian-06--six);
}
.cfe-heian-06.heian-06-six-fill {
  fill: var(--cfe--heian-06--six);
}
.cfe-heian-06.heian-06-six-text-fill {
  -webkit-text-fill-color: var(--cfe--heian-06--six);
  text-fill-color: var(--cfe--heian-06--six);
}
.cfe-heian-06.heian-06-six-stroke {
  stroke: var(--cfe--heian-06--six);
}
.cfe-heian-06.heian-06-six-text-stroke {
  -webkit-text-stroke-color: var(--cfe--heian-06--six);
  text-stroke-color: var(--cfe--heian-06--six);
}
.cfe-heian-06.heian-06-six-flood {
  flood-color: var(--cfe--heian-06--six);
}
.cfe-heian-06.heian-06-six-stop {
  stop-color: var(--cfe--heian-06--six);
}
.cfe-heian-06.heian-06-body-dark {
  color: var(--cfe--heian-06--body--dark);
}
.cfe-heian-06.heian-06-body-bg-dark {
  background-color: var(--cfe--heian-06--body--dark);
}
.cfe-heian-06.heian-06-body-decoration-dark {
  text-decoration-color: var(--cfe--heian-06--body--dark);
}
.cfe-heian-06.heian-06-body-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--heian-06--body--dark);
          text-emphasis-color: var(--cfe--heian-06--body--dark);
}
.cfe-heian-06.heian-06-body-accent-dark {
  accent-color: var(--cfe--heian-06--body--dark);
}
.cfe-heian-06.heian-06-body-caret-dark {
  caret-color: var(--cfe--heian-06--body--dark);
}
.cfe-heian-06.heian-06-body-border-dark {
  border-color: var(--cfe--heian-06--body--dark);
}
.cfe-heian-06.heian-06-body-outline-dark {
  outline-color: var(--cfe--heian-06--body--dark);
}
.cfe-heian-06.heian-06-body-rule-dark {
  rule-color: var(--cfe--heian-06--body--dark);
}
.cfe-heian-06.heian-06-body-column-rule-dark {
  -moz-column-rule-color: var(--cfe--heian-06--body--dark);
       column-rule-color: var(--cfe--heian-06--body--dark);
}
.cfe-heian-06.heian-06-body-row-rule-dark {
  row-rule-color: var(--cfe--heian-06--body--dark);
}
.cfe-heian-06.heian-06-body-fill-dark {
  fill: var(--cfe--heian-06--body--dark);
}
.cfe-heian-06.heian-06-body-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--heian-06--body--dark);
  text-fill-color: var(--cfe--heian-06--body--dark);
}
.cfe-heian-06.heian-06-body-stroke-dark {
  stroke: var(--cfe--heian-06--body--dark);
}
.cfe-heian-06.heian-06-body-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--heian-06--body--dark);
  text-stroke-color: var(--cfe--heian-06--body--dark);
}
.cfe-heian-06.heian-06-body-flood-dark {
  flood-color: var(--cfe--heian-06--body--dark);
}
.cfe-heian-06.heian-06-body-stop-dark {
  stop-color: var(--cfe--heian-06--body--dark);
}
.cfe-heian-06.heian-06-text-dark {
  color: var(--cfe--heian-06--text--dark);
}
.cfe-heian-06.heian-06-text-bg-dark {
  background-color: var(--cfe--heian-06--text--dark);
}
.cfe-heian-06.heian-06-text-decoration-dark {
  text-decoration-color: var(--cfe--heian-06--text--dark);
}
.cfe-heian-06.heian-06-text-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--heian-06--text--dark);
          text-emphasis-color: var(--cfe--heian-06--text--dark);
}
.cfe-heian-06.heian-06-text-accent-dark {
  accent-color: var(--cfe--heian-06--text--dark);
}
.cfe-heian-06.heian-06-text-caret-dark {
  caret-color: var(--cfe--heian-06--text--dark);
}
.cfe-heian-06.heian-06-text-border-dark {
  border-color: var(--cfe--heian-06--text--dark);
}
.cfe-heian-06.heian-06-text-outline-dark {
  outline-color: var(--cfe--heian-06--text--dark);
}
.cfe-heian-06.heian-06-text-rule-dark {
  rule-color: var(--cfe--heian-06--text--dark);
}
.cfe-heian-06.heian-06-text-column-rule-dark {
  -moz-column-rule-color: var(--cfe--heian-06--text--dark);
       column-rule-color: var(--cfe--heian-06--text--dark);
}
.cfe-heian-06.heian-06-text-row-rule-dark {
  row-rule-color: var(--cfe--heian-06--text--dark);
}
.cfe-heian-06.heian-06-text-fill-dark {
  fill: var(--cfe--heian-06--text--dark);
}
.cfe-heian-06.heian-06-text-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--heian-06--text--dark);
  text-fill-color: var(--cfe--heian-06--text--dark);
}
.cfe-heian-06.heian-06-text-stroke-dark {
  stroke: var(--cfe--heian-06--text--dark);
}
.cfe-heian-06.heian-06-text-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--heian-06--text--dark);
  text-stroke-color: var(--cfe--heian-06--text--dark);
}
.cfe-heian-06.heian-06-text-flood-dark {
  flood-color: var(--cfe--heian-06--text--dark);
}
.cfe-heian-06.heian-06-text-stop-dark {
  stop-color: var(--cfe--heian-06--text--dark);
}
.cfe-heian-06.heian-06-one-dark {
  color: var(--cfe--heian-06--one--dark);
}
.cfe-heian-06.heian-06-one-bg-dark {
  background-color: var(--cfe--heian-06--one--dark);
}
.cfe-heian-06.heian-06-one-decoration-dark {
  text-decoration-color: var(--cfe--heian-06--one--dark);
}
.cfe-heian-06.heian-06-one-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--heian-06--one--dark);
          text-emphasis-color: var(--cfe--heian-06--one--dark);
}
.cfe-heian-06.heian-06-one-accent-dark {
  accent-color: var(--cfe--heian-06--one--dark);
}
.cfe-heian-06.heian-06-one-caret-dark {
  caret-color: var(--cfe--heian-06--one--dark);
}
.cfe-heian-06.heian-06-one-border-dark {
  border-color: var(--cfe--heian-06--one--dark);
}
.cfe-heian-06.heian-06-one-outline-dark {
  outline-color: var(--cfe--heian-06--one--dark);
}
.cfe-heian-06.heian-06-one-rule-dark {
  rule-color: var(--cfe--heian-06--one--dark);
}
.cfe-heian-06.heian-06-one-column-rule-dark {
  -moz-column-rule-color: var(--cfe--heian-06--one--dark);
       column-rule-color: var(--cfe--heian-06--one--dark);
}
.cfe-heian-06.heian-06-one-row-rule-dark {
  row-rule-color: var(--cfe--heian-06--one--dark);
}
.cfe-heian-06.heian-06-one-fill-dark {
  fill: var(--cfe--heian-06--one--dark);
}
.cfe-heian-06.heian-06-one-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--heian-06--one--dark);
  text-fill-color: var(--cfe--heian-06--one--dark);
}
.cfe-heian-06.heian-06-one-stroke-dark {
  stroke: var(--cfe--heian-06--one--dark);
}
.cfe-heian-06.heian-06-one-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--heian-06--one--dark);
  text-stroke-color: var(--cfe--heian-06--one--dark);
}
.cfe-heian-06.heian-06-one-flood-dark {
  flood-color: var(--cfe--heian-06--one--dark);
}
.cfe-heian-06.heian-06-one-stop-dark {
  stop-color: var(--cfe--heian-06--one--dark);
}
.cfe-heian-06.heian-06-two-dark {
  color: var(--cfe--heian-06--two--dark);
}
.cfe-heian-06.heian-06-two-bg-dark {
  background-color: var(--cfe--heian-06--two--dark);
}
.cfe-heian-06.heian-06-two-decoration-dark {
  text-decoration-color: var(--cfe--heian-06--two--dark);
}
.cfe-heian-06.heian-06-two-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--heian-06--two--dark);
          text-emphasis-color: var(--cfe--heian-06--two--dark);
}
.cfe-heian-06.heian-06-two-accent-dark {
  accent-color: var(--cfe--heian-06--two--dark);
}
.cfe-heian-06.heian-06-two-caret-dark {
  caret-color: var(--cfe--heian-06--two--dark);
}
.cfe-heian-06.heian-06-two-border-dark {
  border-color: var(--cfe--heian-06--two--dark);
}
.cfe-heian-06.heian-06-two-outline-dark {
  outline-color: var(--cfe--heian-06--two--dark);
}
.cfe-heian-06.heian-06-two-rule-dark {
  rule-color: var(--cfe--heian-06--two--dark);
}
.cfe-heian-06.heian-06-two-column-rule-dark {
  -moz-column-rule-color: var(--cfe--heian-06--two--dark);
       column-rule-color: var(--cfe--heian-06--two--dark);
}
.cfe-heian-06.heian-06-two-row-rule-dark {
  row-rule-color: var(--cfe--heian-06--two--dark);
}
.cfe-heian-06.heian-06-two-fill-dark {
  fill: var(--cfe--heian-06--two--dark);
}
.cfe-heian-06.heian-06-two-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--heian-06--two--dark);
  text-fill-color: var(--cfe--heian-06--two--dark);
}
.cfe-heian-06.heian-06-two-stroke-dark {
  stroke: var(--cfe--heian-06--two--dark);
}
.cfe-heian-06.heian-06-two-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--heian-06--two--dark);
  text-stroke-color: var(--cfe--heian-06--two--dark);
}
.cfe-heian-06.heian-06-two-flood-dark {
  flood-color: var(--cfe--heian-06--two--dark);
}
.cfe-heian-06.heian-06-two-stop-dark {
  stop-color: var(--cfe--heian-06--two--dark);
}
.cfe-heian-06.heian-06-three-dark {
  color: var(--cfe--heian-06--three--dark);
}
.cfe-heian-06.heian-06-three-bg-dark {
  background-color: var(--cfe--heian-06--three--dark);
}
.cfe-heian-06.heian-06-three-decoration-dark {
  text-decoration-color: var(--cfe--heian-06--three--dark);
}
.cfe-heian-06.heian-06-three-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--heian-06--three--dark);
          text-emphasis-color: var(--cfe--heian-06--three--dark);
}
.cfe-heian-06.heian-06-three-accent-dark {
  accent-color: var(--cfe--heian-06--three--dark);
}
.cfe-heian-06.heian-06-three-caret-dark {
  caret-color: var(--cfe--heian-06--three--dark);
}
.cfe-heian-06.heian-06-three-border-dark {
  border-color: var(--cfe--heian-06--three--dark);
}
.cfe-heian-06.heian-06-three-outline-dark {
  outline-color: var(--cfe--heian-06--three--dark);
}
.cfe-heian-06.heian-06-three-rule-dark {
  rule-color: var(--cfe--heian-06--three--dark);
}
.cfe-heian-06.heian-06-three-column-rule-dark {
  -moz-column-rule-color: var(--cfe--heian-06--three--dark);
       column-rule-color: var(--cfe--heian-06--three--dark);
}
.cfe-heian-06.heian-06-three-row-rule-dark {
  row-rule-color: var(--cfe--heian-06--three--dark);
}
.cfe-heian-06.heian-06-three-fill-dark {
  fill: var(--cfe--heian-06--three--dark);
}
.cfe-heian-06.heian-06-three-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--heian-06--three--dark);
  text-fill-color: var(--cfe--heian-06--three--dark);
}
.cfe-heian-06.heian-06-three-stroke-dark {
  stroke: var(--cfe--heian-06--three--dark);
}
.cfe-heian-06.heian-06-three-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--heian-06--three--dark);
  text-stroke-color: var(--cfe--heian-06--three--dark);
}
.cfe-heian-06.heian-06-three-flood-dark {
  flood-color: var(--cfe--heian-06--three--dark);
}
.cfe-heian-06.heian-06-three-stop-dark {
  stop-color: var(--cfe--heian-06--three--dark);
}
.cfe-heian-06.heian-06-four-dark {
  color: var(--cfe--heian-06--four--dark);
}
.cfe-heian-06.heian-06-four-bg-dark {
  background-color: var(--cfe--heian-06--four--dark);
}
.cfe-heian-06.heian-06-four-decoration-dark {
  text-decoration-color: var(--cfe--heian-06--four--dark);
}
.cfe-heian-06.heian-06-four-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--heian-06--four--dark);
          text-emphasis-color: var(--cfe--heian-06--four--dark);
}
.cfe-heian-06.heian-06-four-accent-dark {
  accent-color: var(--cfe--heian-06--four--dark);
}
.cfe-heian-06.heian-06-four-caret-dark {
  caret-color: var(--cfe--heian-06--four--dark);
}
.cfe-heian-06.heian-06-four-border-dark {
  border-color: var(--cfe--heian-06--four--dark);
}
.cfe-heian-06.heian-06-four-outline-dark {
  outline-color: var(--cfe--heian-06--four--dark);
}
.cfe-heian-06.heian-06-four-rule-dark {
  rule-color: var(--cfe--heian-06--four--dark);
}
.cfe-heian-06.heian-06-four-column-rule-dark {
  -moz-column-rule-color: var(--cfe--heian-06--four--dark);
       column-rule-color: var(--cfe--heian-06--four--dark);
}
.cfe-heian-06.heian-06-four-row-rule-dark {
  row-rule-color: var(--cfe--heian-06--four--dark);
}
.cfe-heian-06.heian-06-four-fill-dark {
  fill: var(--cfe--heian-06--four--dark);
}
.cfe-heian-06.heian-06-four-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--heian-06--four--dark);
  text-fill-color: var(--cfe--heian-06--four--dark);
}
.cfe-heian-06.heian-06-four-stroke-dark {
  stroke: var(--cfe--heian-06--four--dark);
}
.cfe-heian-06.heian-06-four-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--heian-06--four--dark);
  text-stroke-color: var(--cfe--heian-06--four--dark);
}
.cfe-heian-06.heian-06-four-flood-dark {
  flood-color: var(--cfe--heian-06--four--dark);
}
.cfe-heian-06.heian-06-four-stop-dark {
  stop-color: var(--cfe--heian-06--four--dark);
}
.cfe-heian-06.heian-06-five-dark {
  color: var(--cfe--heian-06--five--dark);
}
.cfe-heian-06.heian-06-five-bg-dark {
  background-color: var(--cfe--heian-06--five--dark);
}
.cfe-heian-06.heian-06-five-decoration-dark {
  text-decoration-color: var(--cfe--heian-06--five--dark);
}
.cfe-heian-06.heian-06-five-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--heian-06--five--dark);
          text-emphasis-color: var(--cfe--heian-06--five--dark);
}
.cfe-heian-06.heian-06-five-accent-dark {
  accent-color: var(--cfe--heian-06--five--dark);
}
.cfe-heian-06.heian-06-five-caret-dark {
  caret-color: var(--cfe--heian-06--five--dark);
}
.cfe-heian-06.heian-06-five-border-dark {
  border-color: var(--cfe--heian-06--five--dark);
}
.cfe-heian-06.heian-06-five-outline-dark {
  outline-color: var(--cfe--heian-06--five--dark);
}
.cfe-heian-06.heian-06-five-rule-dark {
  rule-color: var(--cfe--heian-06--five--dark);
}
.cfe-heian-06.heian-06-five-column-rule-dark {
  -moz-column-rule-color: var(--cfe--heian-06--five--dark);
       column-rule-color: var(--cfe--heian-06--five--dark);
}
.cfe-heian-06.heian-06-five-row-rule-dark {
  row-rule-color: var(--cfe--heian-06--five--dark);
}
.cfe-heian-06.heian-06-five-fill-dark {
  fill: var(--cfe--heian-06--five--dark);
}
.cfe-heian-06.heian-06-five-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--heian-06--five--dark);
  text-fill-color: var(--cfe--heian-06--five--dark);
}
.cfe-heian-06.heian-06-five-stroke-dark {
  stroke: var(--cfe--heian-06--five--dark);
}
.cfe-heian-06.heian-06-five-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--heian-06--five--dark);
  text-stroke-color: var(--cfe--heian-06--five--dark);
}
.cfe-heian-06.heian-06-five-flood-dark {
  flood-color: var(--cfe--heian-06--five--dark);
}
.cfe-heian-06.heian-06-five-stop-dark {
  stop-color: var(--cfe--heian-06--five--dark);
}
.cfe-heian-06.heian-06-six-dark {
  color: var(--cfe--heian-06--six--dark);
}
.cfe-heian-06.heian-06-six-bg-dark {
  background-color: var(--cfe--heian-06--six--dark);
}
.cfe-heian-06.heian-06-six-decoration-dark {
  text-decoration-color: var(--cfe--heian-06--six--dark);
}
.cfe-heian-06.heian-06-six-emphasis-dark {
  -webkit-text-emphasis-color: var(--cfe--heian-06--six--dark);
          text-emphasis-color: var(--cfe--heian-06--six--dark);
}
.cfe-heian-06.heian-06-six-accent-dark {
  accent-color: var(--cfe--heian-06--six--dark);
}
.cfe-heian-06.heian-06-six-caret-dark {
  caret-color: var(--cfe--heian-06--six--dark);
}
.cfe-heian-06.heian-06-six-border-dark {
  border-color: var(--cfe--heian-06--six--dark);
}
.cfe-heian-06.heian-06-six-outline-dark {
  outline-color: var(--cfe--heian-06--six--dark);
}
.cfe-heian-06.heian-06-six-rule-dark {
  rule-color: var(--cfe--heian-06--six--dark);
}
.cfe-heian-06.heian-06-six-column-rule-dark {
  -moz-column-rule-color: var(--cfe--heian-06--six--dark);
       column-rule-color: var(--cfe--heian-06--six--dark);
}
.cfe-heian-06.heian-06-six-row-rule-dark {
  row-rule-color: var(--cfe--heian-06--six--dark);
}
.cfe-heian-06.heian-06-six-fill-dark {
  fill: var(--cfe--heian-06--six--dark);
}
.cfe-heian-06.heian-06-six-text-fill-dark {
  -webkit-text-fill-color: var(--cfe--heian-06--six--dark);
  text-fill-color: var(--cfe--heian-06--six--dark);
}
.cfe-heian-06.heian-06-six-stroke-dark {
  stroke: var(--cfe--heian-06--six--dark);
}
.cfe-heian-06.heian-06-six-text-stroke-dark {
  -webkit-text-stroke-color: var(--cfe--heian-06--six--dark);
  text-stroke-color: var(--cfe--heian-06--six--dark);
}
.cfe-heian-06.heian-06-six-flood-dark {
  flood-color: var(--cfe--heian-06--six--dark);
}
.cfe-heian-06.heian-06-six-stop-dark {
  stop-color: var(--cfe--heian-06--six--dark);
}