///
/// SCSS variables
///

$palette: 'forest';

$light: (
	'body'  : #ffffff,
	'text'  : #1e110a,
	'one'   : #6d3d1d,
	'two'   : #ff6600,
	'three' : #3e721a,
	'four'  : #46a109,
	'five'  : #3e721a,
	'six'   : #f5a313
);
$dark: (
	'body_dark'  : #1e110a,
	'text_dark'  : #eeeeee,
	'one_dark'   : #4bda1f,
	'two_dark'   : #46a109,
	'three_dark' : #6d3d1d,
	'four_dark'  : #ff6600,
	'five_dark'  : #46a109,
	'six_dark'   : #f5a313
);
